.blog-grid {
    max-width: 1032px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

/* 블로그 헤드 ====================================================== */
.blog-header {
    padding-top: 68px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.blog-img {
    width: 80px;
    height: 80px;
    border-radius: 16px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .05), 0 0 0 4px rgba(255, 255, 255, 1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 1);
    transform-origin: bottom center;
    order: 1;
}

.channel-meta {
    font-size: 14px;
    color: rgba(0, 0, 0, .47);
    margin-top: 30px;
    order: 2;
}

.blog-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-indent: -0.025em;
    word-break: break-word;
    order: 3;
}

.blog-action-container {
    position: absolute;
    right: 0;
    bottom: 30px;
    display: flex;
    flex-direction: row;
}

.blog-action-share {
    color: rgba(0, 0, 0, .47);
    margin-right: 8px;
    width: 40px;
    height: 40px;
    min-width: 40px;
    padding: 7px;
    cursor: pointer;
}

.blog-action-share i {
    vertical-align: middle;
    font-size: 20px;
}

.blog-action-subscription-btn {
    margin-left: 4px;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    height: 36px;
    padding: 5px 14px;
    border-radius: 100px;
    border: 1px solid transparent;
}

.blog-action-subscription-btn.active {
    color: rgba(0, 0, 0, .47) !important;
    border: 1px solid rgba(0, 0, 0, .27) !important;
    background-color: transparent !important;
}

.blog-action-subscription-btn .active-text {
    display: none;
}

.blog-action-subscription-btn.active .default-text {
    display: none;
}

.blog-action-subscription-btn.active .active-text {
    display: inline;
}

.blog-action-subscription-btn:not(.active) .default-text {
    display: inline;
}

.blog-action-subscription-btn:not(.active) .active-text {
    display: none;
}

/* 네비게이션 바 ===================================================================================== */
.head-nav-bar {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.head-nav-bar:before {
    width: 100%;
    margin: 0;
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    height: 1px;
    background-color: rgba(0, 0, 0, .05);
}

.head-nav-bar ul {
    flex: 1;
    height: 56px;
    margin: 0 0 0 -20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0;
}

.head-nav-bar ul li {
    position: relative;
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 12px;
}

.head-nav-bar ul li:first-child {
    margin: 0;
    padding-left: 10px;
}

.head-nav-bar ul li:last-child {
    padding-right: 10px;
}

.head-nav-bar ul li a {
    font-size: 17px;
    line-height: 56px;
    font-weight: 600;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    transition: opacity .15s ease-in-out;
    color: #00000078;
}

.head-nav-bar ul li a:hover {
    color: #000;
}

.head-nav-bar ul li a.active {
    color: #000;
}

.head-nav-bar ul li a.active:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 10px;
    left: 10px;
    height: 2px;
    background-color: currentColor;
}

/* 크라우드 펀딩 ============================================================================================== */
.crowd-funding-wrap {
    margin-top: 30px;
}

.crowd-funding-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding-bottom: 8px;
}

.go-to-write {
    border: 0;
    line-height: 1.5rem;
    color: #fff;
    background-color: #3478ff;
    cursor: pointer;
    padding: 5px 19px;
    font-size: 16px;
    border-radius: 4px;
    float: right;
}

.crowd-funding-container {
    margin: 12px auto;
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.crowd-funding-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 8px;
}

.crowd-funding-content:not(first-child) {
    margin-top: 10px;
}

.article-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    word-break: break-all;
}

.post {
    display: flex;
    flex-direction: row;
}

.post-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title-divider {
    width: 0;
    height: 100%;
    margin: 0 8px;
    border: 0;
    border-left: 1px solid rgba(0, 0, 0, .15);
}

.post-data-title {
    margin: 0 0 7px;
    font-size: 20px;
    font-weight: 600;
    line-height: 135%;
    color: #000;
    display: flex;
    align-items: center;
}

.post-data-content {
    font-size: 14px;
    color: rgba(0, 0, 0, .47);
    margin: 0;
}

.post-image-container {
    min-width: 200px;
    overflow: hidden;
    margin: 34px 0 0 12px;
}

.post-image-container img {
    width: 200px;
    height: 142px;
    border-radius: 8px;
    background-color: #F7F7F7;
    object-fit: cover;
}

.progress-percentage {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.percentage-font {
    font-size: 18px;
}

.percentage-mark {
    font-size: 12px;
    line-height: 22px;
    word-spacing: -0.1em;
    color: #aaa;
    margin-left: 3px;
}

.progress-total {
    display: flex;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    height: 10px;
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #2B4570;
    transition: width .6s ease;
}

.funding-container {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

.funding {
    font-size: 12px;
    line-height: 22px;
    word-spacing: -0.1em;
    color: #aaa;
    margin-left: 3px;
}

.price {
    font-size: 18px;
    color: #000;
}

.join-btn-container {
    display: flex;
    justify-content: flex-end;
}

.join-crowd-funding-btn {
    margin-top: 5px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.join-crowd-funding-btn:hover {
    background-color: #3478ff;
    color: #fff;
}

.join-crowd-funding-btn-font {
    font-size: 18px;
    padding: 4px 20px;
}


.post-request-user {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: start;
    margin-bottom: 5px;
}

.user-avatar-container {
    display: block;
    position: relative;
    margin-right: 8px;
    width: 32px;
    height: 32px;
    min-width: 32px;
    border-radius: 50%;
    background-color: #fff;
    object-fit: cover;
    overflow: hidden;
}

.user-avatar-container::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: inherit;
    height: inherit;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .05);
}

.user-avatar-container img {
    width: 32px;
    height: 32px;
}

.artist-nickname {
    font-size: 14px;
    margin: 0;
}

/* 모달 =========================================================================  */
.modal {
    display: flex;
    display: none;
    right: unset;
    bottom: unset;
    width: 100%;
    height: 100%;
    padding-right: 17px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}


.modal-container {
    display: flex;
    display: none;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    margin: 30px auto;
    max-width: 400px;
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.modal-header {
    position: relative;
    padding: 20px 24px 0;
    line-height: 20px;
    border-color: rgba(0, 0, 0, .1);
}

.btn-close {
    position: absolute;
    top: 13px;
    right: 14px;
}

.modal-body {
    max-height: calc(100% - 45px);
    overflow-y: auto;
    padding: 24px 24px 20px 24px;
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.modal-footer {
    position: relative;
    padding: 10px 24px;
    border-color: rgba(0, 0, 0, .1);
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border-top: 1px solid #e9ecef;
}

.modal-btn {
    color: #3478ff !important;
    background-color: #fff;
    border: 1px solid #3478ff;
    box-shadow: 0 0 0 0.2rem rgba(52, 120, 255, .25);
    min-width: 72px;
    cursor: pointer;
    height: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    font-size: 15px;
    border-radius: 4px;
}

/* 모바일 =================================================================================== */
@media (max-width: 1000px) {
    header {
        height: 56px;
    }

    .blog-header {
        padding: 30px 0;
        margin: 0 20px;
    }

    .blog-img {
        width: 74px;
        height: 74px;
        min-width: 74px;
    }

    .blog-action-container {
        top: 68px;
    }

    .blog-title {
        font-size: 26px;
    }

    .head-nav-bar {
        padding: 0 20px;
    }

    .head-nav-bar ul {
        height: 48px;
    }

    .head-nav-bar ul li a {
        font-size: 15px;
        height: 48px;
    }

    .head-nav-bar:after {
        width: 100%;
        margin: 0;
        content: "";
        left: 0;
        top: 0;
        position: absolute;
        height: 1px;
        background-color: rgba(0, 0, 0, .05);
    }

    .crowd-funding-head {
        flex-direction: column;
    }
    .post {
        flex-direction: column;
    }

    .post-image-container {
        display: none;
    }

    .join-crowd-funding-btn {
        width: 100%;
        margin-top: 20px;
    }
}