body {
    overflow-y: hidden;
}

.page-wrap {
    height: 100vh;
    width: 100%;
}

/* 서브헤더 ======================================================================================================================================== */
.sub-header-wrap {
    top: 60px;
    background-color: #fff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    border: 1px solid rgba(0 0 0 / 5%);
    border-left: 0;
    border-right: 0;
    z-index: 2;
}

.web-grid {
    max-width: 1000px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.sub-header-container {
    height: 48px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sub-header-navs {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.setting-font {
    position: absolute;
    top: 14px;
    left: 0;
    z-index: 1;
    height: 48px;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;
}

.nav-item {
    height: 48px;
}

.nav-item:not(:first-child) {
    margin-left: 20px;
}

.nav-link {
    height: 48px;
    padding: 8px 10px;
    border-top: 4px solid transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    list-style: none;
}

.nav-link.active {
    border-bottom: 2px solid;
    color: #000;
    font-weight: 600;
}

/* 매인 =============================================================================================================================================== */
main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.main-container {
    padding: 0 26px;
    max-width: 692px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    margin-top: 56px;
    width: 100%;
}

.section:last-child {
    margin-bottom: 60px;
}

.section-header {
    margin-bottom: 20px;
}

.section-title {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.section-title.large {
    font-size: 32px;
}

.form-group {
    margin-bottom: 40px;
}

.form-group.row {
    display: flex;
}

.form-group-label {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    word-break: keep-all;
    flex: 0 0 25%;
    max-width: 25%;
}

.form-group-content {
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0 10px;
}

.mb1rem {
    margin-bottom: 1rem;
}

.a-tag-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 7px 15px;
    font-size: 15px;
    border-radius: 4px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid;
    color: #000;
    background-color: #fff;
    border-color: #ccc;
}

.a-tag-btn:hover {
    color: #3478ff;
    background-color: #fff;
    border-color: #3478ff;
}

.form-label {
    padding-top: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    word-break: keep-all;
}

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.profile-avatar-container {
    width: 128px;
    margin: 0 auto;
    position: relative;
}

.profile-avatar {
    width: 128px;
    min-width: 128px;
    height: 128px;
    position: relative;
    background-color: rgba(0, 0, 0, .05);
    margin: 0 auto 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .05);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile-avatar i {
    color: #808080;
    font-size: 24px;
}

.profile-avatar-cancel-btn {
    position: absolute;
    border: 0;
    background-color: transparent;
    right: 0;
    top: 0;
    color: #808080;
}

.profile-avatar img {
    width: inherit;
    height: inherit;
    vertical-align: top;
}

.media-body {
    flex: 1;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 15px;
    background-color: #fff;
    background-clip: padding-box;
    height: 40px;
    line-height: 26px;
    padding: 5px 12px;
    color: inherit;
    border: 1px solid;
    border-color: #ccc;
    border-radius: 4px;
    transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
    resize: none;
}

.form-control-file {
    max-width: calc(100% + 10px);
    width: calc(100% + 10px);
    height: 30px;
    vertical-align: top;
}

.row {
    display: flex;
    flex-direction: row;
}

.col75 {
    flex: 0 0 75%;
}

.col50 {
    flex: 0 0 50%;
}

.col25 {
    flex: 0 0 25%;
}

.form-text {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
    color: #757575;
}

.form-delete-btn {
    float: right;
    border: 0;
    background-color: transparent;
}

.main-divider {
    border-top: 1px solid rgba(0, 0, 0, .125);
    margin-top: 0;
    margin-bottom: 56px;
}

.form-footer {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.summit-btn {
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    line-height: 1.5rem;
    background: none;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    padding: 7px 15px;
    font-size: 15px;
    border-radius: 4px;
    color: #fff;
    background-color: #3478ff;
    border-color: #3478ff;
}

.summit-btn:hover {
    color: #fff;
    background-color: #1e50ff;
    border-color: #1e50ff;
}

.to-delete {
    padding: 3px 10px;
    font-size: 14px;
    line-height: 24px;
    border-radius: 4px;
    color: #909090 !important;
    transition: color .15s ease-in-out, background .15s ease-in-out, border-color .15s ease-in-out;
    cursor: pointer;
}

.to-delete:hover {
    color: #3478ff !important;
}

textarea.form-control {
    min-height: 88px;
    padding-top: 9px;
    padding-bottom: 9px;
    line-height: 20px;
}

.alert {
    border-radius: 4px;
    font-size: .875rem;
    position: relative;
    padding: 0.75rem 1.25rem;
    border: 1px solid #ddd;
}

.alert.alert-secondary {
    color: #282828;
    background-color: #fafafa;
    border-color: #ddd;
    line-height: 20px;
    margin: 1.5rem 0;
}

.alert ul {
    list-style-type: disc;
    margin: 0;
    padding-left: 1rem !important;
}

.text-primary {
    color: #3478ff !important;
}

input#email {
    margin-bottom: 8px;
}

.text-dark {
    color: #000 !important;
}

.text-dark:hover {
    color: #3478ff !important;
}

.text-underlined, .text-underlined:hover {
    text-decoration: underline;
}

/* 모달 =========================================================================  */
.modal {
    display: flex;
    display: none;
    right: unset;
    bottom: unset;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}


.modal-container {
    display: flex;
    display: none;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    margin: 30px auto;
    max-width: 400px;
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.modal-header {
    position: relative;
    padding: 20px 24px 0;
    line-height: 20px;
    border-color: rgba(0, 0, 0, .1);
}

.btn-close {
    position: absolute;
    top: 13px;
    right: 14px;
}

.modal-body {
    max-height: calc(100% - 45px);
    overflow-y: auto;
    padding: 24px 24px 20px 24px;
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.modal-footer {
    position: relative;
    padding: 10px 24px;
    border-color: rgba(0, 0, 0, .1);
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border-top: 1px solid #e9ecef;
}

.modal-btn {
    color: #3478ff !important;
    background-color: #fff;
    border: 1px solid #3478ff;
    box-shadow: 0 0 0 0.2rem rgba(52, 120, 255, .25);
    min-width: 72px;
    cursor: pointer;
    height: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    font-size: 15px;
    border-radius: 4px;
}

/* 미디어 =========================================================================== */
@media (max-width: 1000px) {
    header {
        height: 52px;
    }

    .sub-header-wrap {
        top: 52px;
    }

    .sub-header-navs {
        flex-wrap: wrap;
    }

    .setting-font {
        top: -38px;
        transform: translateX(-50%);
        left: 50%;
        font-weight: 600;
        font-size: 17px;
    }

    .nav-item {
        flex: 0 0 50%;
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .nav-item:not(:first-child) {
        margin-left: 0;
    }

    .nav-link {
        width: 100%;
    }

    .main-search-bar {
        max-width: 100%;
        width: 100%;
        right: 0;
        position: relative;
        margin: 0 26px;
    }

    .search-bar-input {
        width: 100%;
    }

    .form-group {
        flex-direction: column;
    }

    .form-group-content {
        padding: 0;
    }
}