<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.app.onestepback.domain.ArtistPostVO" alias="artistPostVO"/>
        <typeAlias type="com.app.onestepback.domain.ArtistVO" alias="artistVO"/>
        <typeAlias type="com.app.onestepback.domain.BookmarkedArtistPostVO" alias="bookmarkedArtistPostVO"/>
        <typeAlias type="com.app.onestepback.domain.BookmarkedCommunityPostVO" alias="bookmarkedCommunityPostVO"/>
        <typeAlias type="com.app.onestepback.domain.BookmarkedVideoVO" alias="bookmarkedVideoVO"/>
        <typeAlias type="com.app.onestepback.domain.CommunityPostVO" alias="communityPostVO"/>
        <typeAlias type="com.app.onestepback.domain.CrowdFundingVO" alias="crowdFundingVO"/>
        <typeAlias type="com.app.onestepback.domain.FundingPaymentVO" alias="fundingPaymentVO"/>
        <typeAlias type="com.app.onestepback.domain.FundingRequestVO" alias="fundingRequestVO"/>
        <typeAlias type="com.app.onestepback.domain.MemberVO" alias="memberVO"/>
        <typeAlias type="com.app.onestepback.domain.SubscriptionVO" alias="subscriptionVO"/>
        <typeAlias type="com.app.onestepback.domain.VideoVO" alias="videoVO"/>
        <typeAlias type="com.app.onestepback.domain.PostFileVO" alias="postFileVO"/>
        <typeAlias type="com.app.onestepback.domain.ArtistDTO" alias="artistDTO"/>
        <typeAlias type="com.app.onestepback.domain.ArtistPostDTO" alias="artistPostDTO"/>
        <typeAlias type="com.app.onestepback.domain.VideoDTO" alias="videoDTO"/>
        <typeAlias type="com.app.onestepback.domain.PostReplyDTO" alias="postReplyDTO"/>
    </typeAliases>
</configuration>