<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
  <link rel="stylesheet" href="/css/main/root.css">
  <link rel="stylesheet" href="/css/main/main.css">
  <script src="https://kit.fontawesome.com/44012a5eeb.js" crossorigin="anonymous"></script>
  <script src="/js/main/main.js"></script>
</head>
<body>
    <footer th:fragment="footer" class="footer slide-left" role="contentinfo">
        <div class="container">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="https://www.postype.com/about">서비스 소개</a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.postype.com/tos">이용약관</a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.postype.com/privacy"><b>개인정보처리방침</b></a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" href="https://postype.career.greetinghr.com/home">채용</a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" href="https://help.postype.com/hc/ko">도움 센터</a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" href="https://postyperight.zendesk.com/hc/ko">권리침해신고센터</a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.postype.com/partners">포스타입 파트너스</a>
            </li>
            <li class="list-inline-item">
              <a href="https://blog.postype.com">공식 채널</a>
            </li>
            <li class="list-inline-item divider">
              <a href="http://about.postype.com">회사 소개・문의</a>
            </li>
            <li class="list-inline-item divider-none">
              <a href="http://about.postype.com/brand-resources">브랜드 리소스</a>
            </li>
            <li class="list-inline-item copyright">© Postype, Inc.</li>
          </ul>
          <address>
            <span>주식회사 포스타입</span>
            <span>사업자등록번호: 786-86-00336</span>
            <span>통신판매업신고번호: 2018-서울강남-02900</span>
            <span>대표자명: 신규섭</span>
            <span>주소: 서울시 강남구 테헤란로4길 5, 6층</span>
            <span>연락처: 02-6956-0827, 팩스: 02-6442-0128</span>
          </address>
          <span class="guide">포스타입은 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 포스타입은 콘텐츠, 거래정보 및 거래에 대하여 책임을 지지 않습니다.</span>
        </div>
</footer>
</body>
</html>