<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
  <link rel="stylesheet" href="/css/main/root.css">
  <link rel="stylesheet" href="/css/main/main.css">
  <script src="https://kit.fontawesome.com/44012a5eeb.js" crossorigin="anonymous"></script>
  <script src="/js/main/main.js"></script>
</head>
<body>
    <footer th:fragment="footer" class="footer slide-left" role="contentinfo">
        <div class="container">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#"><b>홈</b></a>
                </li>
                <li class="list-inline-item">
                    <a href="#">추천 아티스트</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">아티스트 펀딩</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">내 채널</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">마이 아티스트</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">보관함</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">마이 페이지</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">도움 센터</a>
                </li>
                <li class="list-inline-item copyright">© OneStep, Inc.</li>
            </ul>
        </div>
</footer>
</body>
</html>