<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원스텝</title>
    <link rel="stylesheet" href="/css/main/root.css">
    <link rel="stylesheet" href="/css/main/main.css">
    <link rel="icon" href="/images/icon.svg">
    <script src="https://kit.fontawesome.com/44012a5eeb.js" crossorigin="anonymous"></script>
</head>
<body>
<a href="#main-content" class="sr-only" id="top">주요 내용으로 건너뛰기</a>
<!--헤더-->
<header th:replace="~{main/header :: header}"></header>
<!--프로필 모달-->
<nav th:replace="~{main/user-popover :: user-popover}"></nav>
<!--메인 페이지-->
<main class="main-content slide-left pool" id="pool-main-content" role="main">
    <div id="pool-main-home" class="pool-home-container ">
        <!--슬라이드 배너-->
        <div class="pool-home-head">
            <div class="pool-home-slide-banner-container justify-content-center">
                <div class="swiper home-slide-banner swiper-initialized swiper-horizontal swiper-android"
                     id="home-slide-banner">
                    <div id="pool-main-slide-wrapper" class="swiper-wrapper">
                        <th:block th:each="bannerPost:${bannerPosts}">
                            <div th:object="${bannerPost}" class="swiper-slide swiper-slide-duplicate" role="group">
                                <div class="pool-home-slide">
                                    <a th:href="${bannerPost.videoLink == null ? '/artist/post/detail?id=' + bannerPost.id : '/artist/video/detail?id=' + bannerPost.id}">
                                        <div class="top-thumbnail-section">
                                            <img th:if="*{fileName == null and videoLink == null}"
                                                 src="/images/no-img.png" alt="">
                                            <img th:if="*{videoLink == null and fileName != null}"
                                                 th:src="@{/file/display(fileName=*{filePath} + '/t_' + *{fileName})}"
                                                 alt="banner">
                                            <img th:unless="*{videoLink == null}" class="video-thumbnails"
                                                 th:videoLink="*{videoLink}"
                                                 alt="banner">
                                        </div>
                                    </a>
                                    <div class="bottom-contents-section">
                                        <div class="contents-top">
                                            <div class="item-label">
                                                <a href="#"
                                                   th:text="*{tag1}" class="general-tag"></a>
                                                <a href="#"
                                                   th:if="*{tag2 != null}" th:text="*{tag2}"
                                                   class="general-tag"></a>
                                                <a href="#"
                                                   th:if="*{tag3 != null}" th:text="*{tag3}"
                                                   class="general-tag"></a>
                                                <a href="#"
                                                   th:if="*{tag4 != null}" th:text="*{tag4}"
                                                   class="general-tag"></a>
                                                <a href="#"
                                                   th:if="*{tag5 != null}" th:text="*{tag5}"
                                                   class="general-tag"></a>
                                            </div>
                                            <a th:href="${bannerPost.videoLink == null ? '/artist/post/detail?id=' + bannerPost.id : '/artist/video/detail?id=' + bannerPost.id}">
                                                <div class="contents-wrapper">
                                                    <div th:text="*{postTitle}" class="title"></div>
                                                    <div th:text="*{postContent}" class="contents"></div>
                                                </div>
                                            </a>
                                        </div>
                                        <a class="contents-bottom" th:href="@{/artist/main(memberId=*{memberId})}">
                                            <div th:text="*{postCategory + ' · ' + memberNickname}"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
                <div class="swiper-navigator-container">
                    <div class="swiper-navigator-btn swiper-prev" tabindex="0" role="button"
                         aria-label="Previous slide" aria-controls="pool-main-slide-wrapper">
                        <i class="fas fa-chevron-left swiper-navigator"></i>
                    </div>
                    <div class="swiper-navigator-btn swiper-next" tabindex="0" role="button" aria-label="Next slide"
                         aria-controls="pool-main-slide-wrapper">
                        <i class="fas fa-chevron-right swiper-navigator"></i>
                    </div>
                </div>
                <div id="swiper-bullet-container" class="swiper-pagination-container">
                    <div class="swiper-bullet clickable"></div>
                    <div class="swiper-bullet clickable"></div>
                    <div class="swiper-bullet clickable"></div>
                    <div class="swiper-bullet clickable"></div>
                    <div class="swiper-bullet clickable"></div>
                </div>
            </div>
        </div>
        <!--추천 아티스트-->
        <th:block th:if="${#lists.size(posts) != 0}">
            <div class="pool-home-body">
                <div class="pool-posts-list-container-title">
                    한달 동안 많은 사람들이 본 게시글
                </div>
                <div class="pool-posts-list-container">
                    <div class="pool-posts-list">
                        <th:block th:each="post:${posts}">
                            <div th:object="${post}" class="pool-post-container">
                                <div class="post-contents">
                                    <a class="post-data home-main" th:href="@{/artist/post/detail(id=*{id})}">
                                        <h3 th:text="*{postTitle}" class="title"></h3>
                                        <div th:text="*{postContent}" class="contents"></div>
                                    </a>
                                    <div class="post-data-thumbnail">
                                        <a th:href="@{/artist/post/detail(id=*{id})}">
                                            <img th:if="*{fileName == null}" src="/images/no-img.png" alt="">
                                            <img th:if="*{fileName != null}"
                                                 th:src="@{/file/display(fileName=*{filePath} + '/t_' + *{fileName})}"
                                                 th:alt="*{postTitle}">
                                        </a>
                                    </div>
                                </div>
                                <div class="post-contents-bottom">
                                    <div class="post-author">
                                        <a class="user-profile-avatar" th:href="@{/artist/main(memberId=*{memberId})}">
                                            <img th:if="*{memberKakaoProfileUrl == null and memberProfileName == null}"
                                                 src="/images/none-avatar.svg">
                                            <img th:if="*{memberKakaoProfileUrl != null and memberProfileName == null}"
                                                 th:src="*{memberKakaoProfileUrl}">
                                        </a>
                                        <div class="footer-info">
                                            <div class="user-profile-nickname text-truncate">
                                                <a th:text="*{memberNickname}"
                                                   th:href="@{/artist/main(memberId=*{memberId})}"></a>
                                            </div>
                                            <div class="post-meta text-alpha-black-47">
                                                <time class="meta-item">2주 전</time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-action">
                                        <a class="btn btn-icon btn-scrap">
                                            <i class="far fa-bookmark default-text"></i>
                                            <i class="fas fa-bookmark active-text"></i>
                                        </a>
                                        <div class="dropdown">
                                            <button class="btn btn-icon ic-secondary btn-more" type="button"
                                                    data-toggle="dropdown" aria-expanded="false" aria-label="더보기"
                                                    title="더보기">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right"
                                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-168px, 32px, 0px);">
                                                <li><a class="btn-open-add-collection-modal" href="#"><img
                                                        src="https://d33pksfia2a94m.cloudfront.net/assets/img/collection/add_collection.svg"
                                                        alt="" class="ic-add-collection">컬렉션에 추가하기</a></li>
                                                <li>
                                                    <a class="dropdown-item btn-share" href="#"
                                                       data-share-url="https://posty.pe/4t86ay" data-blog-title="김호연"
                                                       data-post-title="[금융개념] Fed, Fomc, FRB란?" data-tags="">
                                                        <span class="order-2">공유하기</span>
                                                        <i class="fas fa-sign-out-alt fa-rotate-270"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item btn-report-post" href="#"
                                                       data-toggle="modal"
                                                       data-target="#report-modal">
                                                        <span class="order-2">신고하기</span>
                                                        <i class="far fa-flag"></i>
                                                    </a>
                                                </li>
                                                <li><a class="dropdown-item btn-block-blog" href="#"
                                                       data-blog-id="1578583"><span class="order-2">이 채널 보지 않기</span><i
                                                        class="fas fa-ban"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="refrest-pool-contents">
                    <div class="btn btn-secondary">
                        콘텐츠 발견하기
                        <i class="fas fa-sync"></i>
                    </div>
                </div>
            </div>
        </th:block>
        <!--후원-->
        <div class="home-body-inner" id="스토어">
            <th:block th:if="${#lists.size(crowdFundings) != 0}">
                <div class="section-container">
                    <div class="title-container">
                        <div class="item-title">현재 진행중인 다양한 크라우드 펀딩</div>
                        <a class="more-link" href="/store">전체 보기</a>
                    </div>
                    <div class="goods-list">
                        <th:block th:each="crowdFunding:${crowdFundings}">
                            <div th:object="${crowdFunding}" class="component-goods">
                                <div class="goods-data-thumbnail">
                                    <a th:href="@{/artist/crowd-funding/list(memberId=*{memberId})}">
                                        <div class="grid-image-wrapper ">
                                            <img th:if="*{fundingImgName == null}" src="/images/no-img.png" alt="">
                                            <img th:if="*{fundingImgName != null}"
                                                 th:src="@{/file/display(fileName=*{fundingImgPath} + '/t_' + *{fundingImgName})}"
                                                 th:alt="*{fundingTitle}">
                                        </div>
                                    </a>
                                </div>
                                <div class="goods-data">
                                    <a th:href="@{/artist/crowd-funding/list(memberId=*{memberId})}"
                                       th:text="*{fundingTitle}" class="goods-item-title"></a>
                                    <div class="goods-author">
                                        <a class="user-profile-avatar" href="https://www.postype.com/profile/@9wppzx">
                                            <img th:if="*{memberKakaoProfileUrl == null and memberProfileName == null}"
                                                 src="/images/none-avatar.svg">
                                            <img th:if="*{memberKakaoProfileUrl != null and memberProfileName == null}"
                                                 th:src="*{memberKakaoProfileUrl}">
                                        </a>
                                        <div class="footer-info">
                                            <div class="user-profile-nickname text-truncate">
                                                <a th:href="@{/artist/main(memberId=*{memberId})}"
                                                   th:text="*{memberNickname}"
                                                   rel="author"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </th:block>
        </div>
        <!--내가 찜한 아티스트-->
        <div class="home-body-inner" id="main-home-upper-body">
            <div class="section-container">
                <div class="title-container">
                    <div class="item-title">구독</div>
                    <a class="more-link" href="/subscriptions">전체 보기</a>
                </div>
                <div class="item-container post-grid-item-container" id="subscribed-posts">
                    <section id="artistPost" class="empty-subscribed-posts">
                        <th:block th:if="${session.member != null}">
                            <span class="empty-title">구독한 채널이 없어요.</span>
                            <span class="empty-description">원스텝 컬렉션에서 작품을 둘러보고<br>마음에 드는 채널을 구독해보세요.</span>
                            <a href="/collections" class="empty-button btn btn-primary">컬렉션 둘러보기</a>
                        </th:block>
                        <th:block th:unless="${session.member != null}">
                            <a href="/member/login">
                                <span class="empty-title">로그인을 해주세요!</span>
                            </a>
                            <span class="empty-description">회원이 아니신가요?<br>아래 버튼을 눌러 가입하고 나만의 아티스트를 찾아보세요!</span>
                            <a href="/member/join" class="empty-button btn btn-primary">회원가입</a>
                        </th:block>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
<!--푸터-->
<footer th:replace="~{main/footer :: footer}"></footer>
<div class="backdrop fade" style="display: none"></div>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/js/main/header.js"></script>
<script src="/js/main/main.js"></script>
<script th:inline="javascript">
    const session = /*[[${session.member}]]*/ null;

    const videoService = (function () {
        // 비디오 포스트들의 html을 불러와 유튜브 영상 링크를 변환시켜 썸네일을 출력시킴
        function postVideoThumbnail() {
            const thumbnailElements = document.querySelectorAll('.video-thumbnails');
            thumbnailElements.forEach(function (element) {
                element.src = getYouTubeThumbnailUrl(element.getAttribute('videoLink'));
            })
        }

        function getYouTubeThumbnailUrl(youtubeLink) {
            // YouTube 비디오 ID 추출
            let videoId = youtubeLink.match(/v=([^&]+)/);
            if (videoId) {
                return `https://img.youtube.com/vi/${videoId[1]}/mqdefault.jpg`;
            }
            return null;
        }

        return {postVideoThumbnail: postVideoThumbnail, getYouTubeThumbnailUrl:getYouTubeThumbnailUrl}
    })();

    const subscriptionService = (function () {
        function getSubscribedArtist(callback) {
            $.ajax({
                type: "GET",
                url: `/subscription/bring-all-artists?memberId=${session.id}`,

                success: function (datas) {
                    console.log(datas)
                    if (callback) {
                        callback(datas);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            })
        }

        function getLatestPost(datas) {
            datas.forEach((data) => {
                $.ajax({
                    type: "GET",
                    url: `/subscription/get-one-post?memberId=${data.artistId}`,

                    success: function (post) {
                        console.log(post)
                        if (post != null) {
                            let postHtml = `<div class="one-item">
                                                <a href="/artist/main?memberId=${data.artistId}" class="artist-container">
                                                    <div class="blog-img-container">
                                                        <img src="/images/none-avatar.svg" alt="">
                                                    </div>
                                                    <div class="body-container">
                                                        <div class="artist-blog-container">
                                                            <div class="blog-name-container">${data.artistBlogName}</div>
                                                        </div>
                                                        <div class="artist-info-container">
                                                            <div class="artist-img-container">
                                                                <div class="blog-img-container">
                                                                    <img src="/images/none-avatar.svg" alt="">
                                                                </div>
                                                            </div>
                                                            <div class="artist-name-container">${data.memberNickname}</div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="${post.videoLink == null ? `/artist/post/detail?id=${post.id}` : `/artist/video/detail?id=${post.id}`}" class="content-container">
                                                    <div class="content-body">
                                                        <div class="content-head"><b>${data.memberNickname}</b>의 최근 게시물</div>
                                                        <div class="content-title">${post.postTitle}</div>
                                                        <div class="content">${post.postContent}</div>
                                                    </div>
                                                    <div class="thumbnail-body">
                                                    ${post.videoLink == null ? `
                                                        <img src="/images/no-img.png" alt="">
                                                    ` : ''}
                                                    ${post.videoLink != null ? `
                                                        <img src="${videoService.getYouTubeThumbnailUrl(post.videoLink)}" alt="">
                                                    ` : ''}
                                                    </div>
                                                </a>
                                            </div>`;
                            $("#artistPost").empty()
                            $("#artistPost").append(postHtml);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                })
            })
        }

        return {getSubscribedArtist: getSubscribedArtist, getLatestPost: getLatestPost}
    })();

    $(function () {
        videoService.postVideoThumbnail();
        subscriptionService.getSubscribedArtist(subscriptionService.getLatestPost);
    })
</script>
</html>