<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원스텝</title>
    <link rel="stylesheet" href="../../static/css/main/root.css">
    <link rel="stylesheet" href="../../static/css/main/main.css">
    <script src="https://kit.fontawesome.com/44012a5eeb.js" crossorigin="anonymous"></script>
    <script src="../../static/js/main/main.js"></script>
</head>
<body>
    <a href="#main-content" class="sr-only" id="top">주요 내용으로 건너뛰기</a>
    <!--헤더-->
    <header class="header slide-left pool-header" role="banner">
        <nav class="navbar navbar-expand-lg primary-nav">
            <div class="container pool">
                <div class="d-flex align-items-center">
                    <a class="one-step-logo" href="main.html">
                        <span class="text-hide logo-img-dark">OneStep</span>
                    </a>
                    <div class="navbar-brand d-none d-md-flex index-navbar-brand ">
                        <div class="nav-item">
                            <a class="nav-link text-alpha-black-47 active" href="main.html">홈</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link text-alpha-black-47" href="./Namho/my-artist/my-artist.html">마이 아티스트</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link text-alpha-black-47" href="./Namho/mylibrary/mylibrary.html">보관함</a>
                        </div>
                    </div>
                </div>
                <div class="m-nav">
                    <a class="btn btn-icon navbar-toggler" id="search-toggler" href="#" aria-expanded="false">
                        <i class="fas fa-search fa-lg"></i>
                    </a>
                    <a id="login-btn-click" class="btn btn-secondary" href="">
                        로그인
                    </a>
                    <a id="sign-up-btn-click" class="btn btn-primary" href="">
                        회원가입
                    </a>
                    <button class="btn btn-icon user-menu-toggle" id="user-menu-toggle" type="button"
                            aria-controls="user-menu" aria-expanded="false" aria-label="내비게이션 보기/감추기">
                        <div class="user-avatar-sm mr-0"></div>
                    </button>
                </div>
                <div class="navbar-collapse justify-content-lg-end logged-user" id="search-collapse">
                    <form class="search-form form-inline" id="search" role="search" action="/search">
                        <div class="inner">
                            <label for="integrated-search" class="sr-only">통합 검색</label>
                            <span class="search-icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            <input id="integrated-search" class="form-control form-control-sm" type="search"
                                   name="keyword" value="" placeholder="검색어를 입력해주세요." maxlength="50">
                            <button type="button" class="btn btn-icon btn-clear ">
                                <i class="fal fa-times btn-clear-circle"></i>
                            </button>
                        </div>
                        <a class="btn search-closer d-lg-none" id="search-closer" href="#">닫기</a>
                    </form>
                </div>
            </div>
        </nav>
        <!--    <nav class="navbar secondary-nav pool-home" role="navigation">-->
        <!--        <div class="container">-->
        <!--            <ul class="nav nav-inline justify-content-start" id="main-nav">-->
        <!--                <li class="nav-item"><a class="nav-link text-alpha-black-47  active" href="">추천</a></li>-->
        <!--                <li class="nav-item"><a class="nav-link text-alpha-black-47 " href="">커뮤니티</a></li>-->
        <!--                <li class="nav-item"><a class="nav-link text-alpha-black-47 " href="">컬렉션</a></li>-->
        <!--                <li class="nav-item"><a class="nav-link text-alpha-black-47 " href="">이벤트</a></li>-->
        <!--                <li class="nav-item nav-link text-alpha-black-47 position-relative">-->
        <!--                    <a class="nav-link" href="">오리지널</a>-->
        <!--                </li>-->
        <!--            </ul>-->
        <!--        </div>-->
        <!--    </nav>-->

        <!--프로필 모달-->
        <nav class="auto-height" id="user-menu" tabindex="-1" role="navigation">
            <div class="dropdown user-wrapper">
                <a class="btn btn-change-profile" href="#" aria-haspopup="true" aria-expanded="false" title="프로필 전환">
                    <div class="profile-avatar my-menu-profile-avatar avatar-24">
                        <img class="profile-img" src="./Images/userProfilePic.png" alt="">
                    </div>
                    <div class="media-body">
                        <div class="text-truncate user-name">손성민</div>
                    </div>
                    <i class="fas fa-angle-down fa-lg user-profile-arrow-down"></i>
                </a>
                <div class="dropdown-menu" id="profile-list" x-placement="top-start"
                     style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-4px, 4px, 0px);">
                    <h6 class="dropdown-header">마이페이지</h6>
                    <a class="dropdown-item" href="Namho/my-page/my-page.html">
                        <div class="profile-avatar avatar-24">
                            <img class="profile-img"
                                 src="https://d3mcojo3jv0dbr.cloudfront.net/2023/09/06/23/38/9a787b703f93777569e803b91eba1ace.jpeg?w=64&amp;h=64&amp;q=65"
                                 alt="">
                        </div>
                        <span class="text-truncate">손성민</span>
                    </a>
                    <!--            <a class="dropdown-item" href="">-->
                    <!--                <div class="avatar-24">-->
                    <!--                    <span class="profile-img">-->
                    <!--                        <i class="fas fa-user-plus"></i>-->
                    <!--                    </span>-->
                    <!--                </div>-->
                    <!--                새 프로필 만들기-->
                    <!--            </a>-->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="Namho/my-page/profile/profile.html">프로필 수정</a>
                </div>
            </div>

            <a class="dropdown-item" href="">홈</a>
            <a class="dropdown-item" href="Namho/community/community.html">게시판</a>
            <a class="dropdown-item" href="Namho/crowd-funding/crowd-funding.html">크라우드 펀딩</a>
            <a class="dropdown-item" href="Namho/my-page/my-page.html">설정</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="Jiseong3030/question.html">도움 센터</a>
            <a id="dropdown-item-logout" class="dropdown-item" href="">로그아웃</a>
        </nav>
    </header>
    <main class="main-content slide-left pool" id="pool-main-content" role="main">
        <div id="pool-main-home" class="pool-home-container ">
            <!--슬라이드 배너-->
            <div class="pool-home-head">
                <div class="pool-home-slide-banner-container justify-content-center">
                    <div class="swiper home-slide-banner swiper-initialized swiper-horizontal swiper-android"
                         id="home-slide-banner">
                        <div id="pool-main-slide-wrapper" class="swiper-wrapper">
                            <div class="swiper-slide swiper-slide-duplicate" role="group" aria-label="1 / 5">
                                <div class="pool-home-slide">
                                    <div class="top-thumbnail-section"></div>
                                    <div class="bottom-contents-section">
                                        <div class="contents-top">
                                            <div class="item-label">
                                                #지식 #경제 #투자
                                            </div>
                                            <div class="contents-wrapper">
                                                <div class="title">
                                                    가진 돈이 2,000만원 뿐일 때
                                                </div>
                                                <div class="contents">
                                                    '내가 몇 억 집을 어떻게 사? 그냥 차나 사야지.' 이렇게 악순환이 시작된다.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contents-bottom">
                                            지식 · 5분임장
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate" role="group" aria-label="2 / 5">
                                <div class="pool-home-slide">
                                    <div class="top-thumbnail-section"></div>
                                    <div class="bottom-contents-section">
                                        <div class="contents-top">
                                            <div class="item-label">
                                                #지식 #경제 #투자
                                            </div>
                                            <div class="contents-wrapper">
                                                <div class="title">
                                                    가진 돈이 2,000만원 뿐일 때
                                                </div>
                                                <div class="contents">
                                                    '내가 몇 억 집을 어떻게 사? 그냥 차나 사야지.' 이렇게 악순환이 시작된다.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contents-bottom">
                                            지식 · 5분임장
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate" role="group" aria-label="3 / 5">
                                <div class="pool-home-slide">
                                    <div class="top-thumbnail-section"></div>
                                    <div class="bottom-contents-section">
                                        <div class="contents-top">
                                            <div class="item-label">
                                                #지식 #경제 #투자
                                            </div>
                                            <div class="contents-wrapper">
                                                <div class="title">
                                                    가진 돈이 2,000만원 뿐일 때
                                                </div>
                                                <div class="contents">
                                                    '내가 몇 억 집을 어떻게 사? 그냥 차나 사야지.' 이렇게 악순환이 시작된다.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contents-bottom">
                                            지식 · 5분임장
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate" role="group" aria-label="4 / 5">
                                <div class="pool-home-slide">
                                    <div class="top-thumbnail-section"></div>
                                    <div class="bottom-contents-section">
                                        <div class="contents-top">
                                            <div class="item-label">
                                                #지식 #경제 #투자
                                            </div>
                                            <div class="contents-wrapper">
                                                <div class="title">
                                                    가진 돈이 2,000만원 뿐일 때
                                                </div>
                                                <div class="contents">
                                                    '내가 몇 억 집을 어떻게 사? 그냥 차나 사야지.' 이렇게 악순환이 시작된다.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contents-bottom">
                                            지식 · 5분임장
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate" role="group" aria-label="5 / 5">
                                <div class="pool-home-slide">
                                    <div class="top-thumbnail-section"></div>
                                    <div class="bottom-contents-section">
                                        <div class="contents-top">
                                            <div class="item-label">
                                                #지식 #경제 #투자
                                            </div>
                                            <div class="contents-wrapper">
                                                <div class="title">
                                                    가진 돈이 2,000만원 뿐일 때
                                                </div>
                                                <div class="contents">
                                                    '내가 몇 억 집을 어떻게 사? 그냥 차나 사야지.' 이렇게 악순환이 시작된다.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contents-bottom">
                                            지식 · 5분임장
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                    <div class="swiper-navigator-container">
                        <div class="swiper-navigator-btn swiper-prev" tabindex="0" role="button"
                             aria-label="Previous slide" aria-controls="pool-main-slide-wrapper">
                            <i class="fas fa-chevron-left swiper-navigator"></i>
                        </div>
                        <div class="swiper-navigator-btn swiper-next" tabindex="0" role="button" aria-label="Next slide"
                             aria-controls="pool-main-slide-wrapper">
                            <i class="fas fa-chevron-right swiper-navigator"></i>
                        </div>
                    </div>
                    <div id="swiper-bullet-container" class="swiper-pagination-container">
                        <div class="swiper-bullet clickable"></div>
                        <div class="swiper-bullet clickable"></div>
                        <div class="swiper-bullet clickable"></div>
                        <div class="swiper-bullet clickable"></div>
                        <div class="swiper-bullet clickable"></div>
                    </div>
                </div>
            </div>
            <!--추천 아티스트-->
            <div class="pool-home-body">
                <div class="pool-posts-list-container-title">
                    회원님을 위한 추천
                    <div class="beta-badge">BETA</div>
                </div>
                <div class="pool-posts-list-container">
                    <div class="pool-posts-list">
                        <div class="pool-post-container" data-is-adult="false" data-type="pool" data-index="0">
                            <div class="post-contents">
                                <a class="post-data home-main" href="" data-channel-id="1578583">
                                    <h3 class="title">
                                        [금융개념] Fed, Fomc, FRB란?
                                    </h3>
                                    <div class="contents">
                                        <p>금융업계 현업에서 실제로 쓰이는 실용적인 금융개념을 알려드립니다. 중요도? ★★★★★ 영어로? Fed: Federal Reserve
                                            syestem
                                            =the Fed =FRS FOMC: Federal Open Market Committee FRB: (2가지로 쓰임) 1) Federal
                                            Reserve Bank 2) Federal Reserve Board of Governors 직역하면? Fed: 연방준비제도(=연준)
                                            FOMC:
                                            연방 공개 시장 위원회</p>
                                    </div>
                                </a>
                                <div class="post-data-thumbnail"><a href="https://www.postype.com/post/15195261"><img
                                        src="https://d3mcojo3jv0dbr.cloudfront.net/2023/08/28/21/33/502bb39455458c9c9cf7008e9c6231f9.jpeg?w=120&amp;h=120&amp;q=65"
                                        alt="[금융개념] Fed, Fomc, FRB란?"></a></div>
                            </div>
                            <div class="post-contents-bottom">
                                <div class="post-author">
                                    <a class="user-profile-avatar" href="https://www.postype.com/profile/@bo3fu5">
                                        <img src="https://d3mcojo3jv0dbr.cloudfront.net/2023/06/04/20/04/6afa7e8e9960a1f6ea1a1c2b7ee1b9f1.jpeg?w=24&amp;h=24&amp;q=65"
                                             alt="김호연">
                                    </a>
                                    <div class="footer-info">
                                        <div class="user-profile-nickname text-truncate">
                                            <a href="https://www.postype.com/profile/@bo3fu5" rel="author">김호연</a>
                                        </div>
                                        <div class="post-meta text-alpha-black-47">
                                            <time class="meta-item">2주 전</time>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-action">
                                    <a class="btn btn-icon btn-scrap">
                                        <i class="far fa-bookmark default-text"></i>
                                        <i class="fas fa-bookmark active-text"></i>
                                    </a>
                                    <div class="dropdown">
                                        <button class="btn btn-icon ic-secondary btn-more" type="button"
                                                data-toggle="dropdown" aria-expanded="false" aria-label="더보기" title="더보기">
                                            <i class="fas fa-ellipsis-h"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right"
                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-168px, 32px, 0px);">
                                            <li><a class="btn-open-add-collection-modal" href="#"><img
                                                    src="https://d33pksfia2a94m.cloudfront.net/assets/img/collection/add_collection.svg"
                                                    alt="" class="ic-add-collection">컬렉션에 추가하기</a></li>
                                            <li>
                                                <a class="dropdown-item btn-share" href="#"
                                                   data-share-url="https://posty.pe/4t86ay" data-blog-title="김호연"
                                                   data-post-title="[금융개념] Fed, Fomc, FRB란?" data-tags="">
                                                    <span class="order-2">공유하기</span>
                                                    <i class="fas fa-sign-out-alt fa-rotate-270"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item btn-report-post" href="#" data-toggle="modal"
                                                   data-target="#report-modal">
                                                    <span class="order-2">신고하기</span>
                                                    <i class="far fa-flag"></i>
                                                </a>
                                            </li>
                                            <li><a class="dropdown-item btn-block-blog" href="#"
                                                   data-blog-id="1578583"><span class="order-2">이 채널 보지 않기</span><i
                                                    class="fas fa-ban"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pool-post-container" data-is-adult="false" data-type="pool" data-index="1">
                            <div class="post-contents">
                                <a class="post-data home-main" href="https://www.postype.com/post/15195261"
                                   data-channel-id="1578583">
                                    <h3 class="title">
                                        [금융개념] Fed, Fomc, FRB란?
                                    </h3>
                                    <div class="contents">
                                        <p>금융업계 현업에서 실제로 쓰이는 실용적인 금융개념을 알려드립니다. 중요도? ★★★★★ 영어로? Fed: Federal Reserve
                                            syestem
                                            =the Fed =FRS FOMC: Federal Open Market Committee FRB: (2가지로 쓰임) 1) Federal
                                            Reserve Bank 2) Federal Reserve Board of Governors 직역하면? Fed: 연방준비제도(=연준)
                                            FOMC:
                                            연방 공개 시장 위원회</p>
                                    </div>
                                </a>
                                <div class="post-data-thumbnail"><a href="https://www.postype.com/post/15195261"><img
                                        src="https://d3mcojo3jv0dbr.cloudfront.net/2023/08/28/21/33/502bb39455458c9c9cf7008e9c6231f9.jpeg?w=120&amp;h=120&amp;q=65"
                                        alt="[금융개념] Fed, Fomc, FRB란?"></a></div>
                            </div>
                            <div class="post-contents-bottom">
                                <div class="post-author">
                                    <a class="user-profile-avatar" href="https://www.postype.com/profile/@bo3fu5">
                                        <img src="https://d3mcojo3jv0dbr.cloudfront.net/2023/06/04/20/04/6afa7e8e9960a1f6ea1a1c2b7ee1b9f1.jpeg?w=24&amp;h=24&amp;q=65"
                                             alt="김호연">
                                    </a>
                                    <div class="footer-info">
                                        <div class="user-profile-nickname text-truncate">
                                            <a href="https://www.postype.com/profile/@bo3fu5" rel="author">김호연</a>
                                        </div>
                                        <div class="post-meta text-alpha-black-47">
                                            <time class="meta-item">2주 전</time>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-action">
                                    <a class="btn btn-icon btn-scrap">
                                        <i class="far fa-bookmark default-text"></i>
                                        <i class="fas fa-bookmark active-text"></i>
                                    </a>
                                    <div class="dropdown">
                                        <button class="btn btn-icon ic-secondary btn-more" type="button"
                                                data-toggle="dropdown" aria-expanded="false" aria-label="더보기" title="더보기">
                                            <i class="fas fa-ellipsis-h"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right"
                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-168px, 32px, 0px);">
                                            <li><a class="btn-open-add-collection-modal" href="#"><img
                                                    src="https://d33pksfia2a94m.cloudfront.net/assets/img/collection/add_collection.svg"
                                                    alt="" class="ic-add-collection">컬렉션에 추가하기</a></li>
                                            <li>
                                                <a class="dropdown-item btn-share" href="#"
                                                   data-share-url="https://posty.pe/4t86ay" data-blog-title="김호연"
                                                   data-post-title="[금융개념] Fed, Fomc, FRB란?" data-tags="">
                                                    <span class="order-2">공유하기</span>
                                                    <i class="fas fa-sign-out-alt fa-rotate-270"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item btn-report-post" href="#" data-toggle="modal"
                                                   data-target="#report-modal">
                                                    <span class="order-2">신고하기</span>
                                                    <i class="far fa-flag"></i>
                                                </a>
                                            </li>
                                            <li><a class="dropdown-item btn-block-blog" href="#"
                                                   data-blog-id="1578583"><span class="order-2">이 채널 보지 않기</span><i
                                                    class="fas fa-ban"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pool-post-container" data-is-adult="false" data-type="pool" data-index="2">
                            <div class="post-contents">
                                <a class="post-data home-main" href="https://www.postype.com/post/15195261"
                                   data-channel-id="1578583">
                                    <h3 class="title">
                                        [금융개념] Fed, Fomc, FRB란?
                                    </h3>
                                    <div class="contents">
                                        <p>금융업계 현업에서 실제로 쓰이는 실용적인 금융개념을 알려드립니다. 중요도? ★★★★★ 영어로? Fed: Federal Reserve
                                            syestem
                                            =the Fed =FRS FOMC: Federal Open Market Committee FRB: (2가지로 쓰임) 1) Federal
                                            Reserve Bank 2) Federal Reserve Board of Governors 직역하면? Fed: 연방준비제도(=연준)
                                            FOMC:
                                            연방 공개 시장 위원회</p>
                                    </div>
                                </a>
                                <div class="post-data-thumbnail"><a href="https://www.postype.com/post/15195261"><img
                                        src="https://d3mcojo3jv0dbr.cloudfront.net/2023/08/28/21/33/502bb39455458c9c9cf7008e9c6231f9.jpeg?w=120&amp;h=120&amp;q=65"
                                        alt="[금융개념] Fed, Fomc, FRB란?"></a></div>
                            </div>
                            <div class="post-contents-bottom">
                                <div class="post-author">
                                    <a class="user-profile-avatar" href="https://www.postype.com/profile/@bo3fu5">
                                        <img src="https://d3mcojo3jv0dbr.cloudfront.net/2023/06/04/20/04/6afa7e8e9960a1f6ea1a1c2b7ee1b9f1.jpeg?w=24&amp;h=24&amp;q=65"
                                             alt="김호연">
                                    </a>
                                    <div class="footer-info">
                                        <div class="user-profile-nickname text-truncate">
                                            <a href="https://www.postype.com/profile/@bo3fu5" rel="author">김호연</a>
                                        </div>
                                        <div class="post-meta text-alpha-black-47">
                                            <time class="meta-item">2주 전</time>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-action">
                                    <a class="btn btn-icon btn-scrap">
                                        <i class="far fa-bookmark default-text"></i>
                                        <i class="fas fa-bookmark active-text"></i>
                                    </a>
                                    <div class="dropdown">
                                        <button class="btn btn-icon ic-secondary btn-more" type="button"
                                                data-toggle="dropdown" aria-expanded="false" aria-label="더보기" title="더보기">
                                            <i class="fas fa-ellipsis-h"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right"
                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-168px, -170px, 0px);">
                                            <li><a class="btn-open-add-collection-modal" href="#"><img
                                                    src="https://d33pksfia2a94m.cloudfront.net/assets/img/collection/add_collection.svg"
                                                    alt="" class="ic-add-collection">컬렉션에 추가하기</a></li>
                                            <li>
                                                <a class="dropdown-item btn-share" href="#"
                                                   data-share-url="https://posty.pe/4t86ay" data-blog-title="김호연"
                                                   data-post-title="[금융개념] Fed, Fomc, FRB란?" data-tags="">
                                                    <span class="order-2">공유하기</span>
                                                    <i class="fas fa-sign-out-alt fa-rotate-270"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item btn-report-post" href="#" data-toggle="modal"
                                                   data-target="#report-modal">
                                                    <span class="order-2">신고하기</span>
                                                    <i class="far fa-flag"></i>
                                                </a>
                                            </li>
                                            <li><a class="dropdown-item btn-block-blog" href="#"
                                                   data-blog-id="1578583"><span class="order-2">이 채널 보지 않기</span><i
                                                    class="fas fa-ban"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pool-post-container" data-is-adult="false" data-type="pool" data-index="3">
                            <div class="post-contents">
                                <a class="post-data home-main" href="https://www.postype.com/post/15195261"
                                   data-channel-id="1578583">
                                    <h3 class="title">
                                        [금융개념] Fed, Fomc, FRB란?
                                    </h3>
                                    <div class="contents">
                                        <p>금융업계 현업에서 실제로 쓰이는 실용적인 금융개념을 알려드립니다. 중요도? ★★★★★ 영어로? Fed: Federal Reserve
                                            syestem
                                            =the Fed =FRS FOMC: Federal Open Market Committee FRB: (2가지로 쓰임) 1) Federal
                                            Reserve Bank 2) Federal Reserve Board of Governors 직역하면? Fed: 연방준비제도(=연준)
                                            FOMC:
                                            연방 공개 시장 위원회</p>
                                    </div>
                                </a>
                                <div class="post-data-thumbnail"><a href="https://www.postype.com/post/15195261"><img
                                        src="https://d3mcojo3jv0dbr.cloudfront.net/2023/08/28/21/33/502bb39455458c9c9cf7008e9c6231f9.jpeg?w=120&amp;h=120&amp;q=65"
                                        alt="[금융개념] Fed, Fomc, FRB란?"></a></div>
                            </div>
                            <div class="post-contents-bottom">
                                <div class="post-author">
                                    <a class="user-profile-avatar" href="https://www.postype.com/profile/@bo3fu5">
                                        <img src="https://d3mcojo3jv0dbr.cloudfront.net/2023/06/04/20/04/6afa7e8e9960a1f6ea1a1c2b7ee1b9f1.jpeg?w=24&amp;h=24&amp;q=65"
                                             alt="김호연">
                                    </a>
                                    <div class="footer-info">
                                        <div class="user-profile-nickname text-truncate">
                                            <a href="https://www.postype.com/profile/@bo3fu5" rel="author">김호연</a>
                                        </div>
                                        <div class="post-meta text-alpha-black-47">
                                            <time class="meta-item">2주 전</time>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-action">
                                    <a class="btn btn-icon btn-scrap">
                                        <i class="far fa-bookmark default-text"></i>
                                        <i class="fas fa-bookmark active-text"></i>
                                    </a>
                                    <div class="dropdown">
                                        <button class="btn btn-icon ic-secondary btn-more" type="button"
                                                data-toggle="dropdown" aria-expanded="false" aria-label="더보기" title="더보기">
                                            <i class="fas fa-ellipsis-h"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right"
                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-168px, -170px, 0px);">
                                            <li><a class="btn-open-add-collection-modal" href="#"><img
                                                    src="https://d33pksfia2a94m.cloudfront.net/assets/img/collection/add_collection.svg"
                                                    alt="" class="ic-add-collection">컬렉션에 추가하기</a></li>
                                            <li>
                                                <a class="dropdown-item btn-share" href="#"
                                                   data-share-url="https://posty.pe/4t86ay" data-blog-title="김호연"
                                                   data-post-title="[금융개념] Fed, Fomc, FRB란?" data-tags="">
                                                    <span class="order-2">공유하기</span>
                                                    <i class="fas fa-sign-out-alt fa-rotate-270"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item btn-report-post" href="#" data-toggle="modal"
                                                   data-target="#report-modal">
                                                    <span class="order-2">신고하기</span>
                                                    <i class="far fa-flag"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item btn-block-blog" href="#">
                                                    <span class="order-2">이 채널 보지 않기</span>
                                                    <i class="fas fa-ban"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="refrest-pool-contents">
                    <div class="btn btn-secondary">
                        콘텐츠 발견하기
                        <i class="fas fa-sync"></i>
                    </div>
                </div>
            </div>
            <!--후원-->
            <div class="home-body-inner" id="스토어">
                <div class="section-container">
                    <div class="title-container">
                        <div class="item-title">크라우드 펀딩</div>
                        <a class="more-link" href="/store">전체 보기</a>
                    </div>
                    <div class="goods-list">
                        <div class="component-goods">
                            <div class="goods-data-thumbnail">
                                <a href="https://almmedia.postype.com/goods/14725812">
                                    <div class="grid-image-wrapper ">
                                        <img alt="[수염&amp;멜빵] 굿즈 대방출! 윌의동화책, 스마트톡, 도트키링"
                                             src="https://d3mcojo3jv0dbr.cloudfront.net/2023/06/22/17/29/06b6b3b031aaeb901aa60026b2b36b09.png?w=360&amp;h=270&amp;q=65">
                                    </div>
                                </a>
                            </div>
                            <div class="goods-data">
                                <a href="https://almmedia.postype.com/goods/14725812" class="goods-item-title">
                                    [수염&amp;멜빵] 굿즈 대방출! 윌의동화책, 스마트톡, 도트키링 </a>
                                <div class="goods-author">
                                    <a class="user-profile-avatar" href="https://www.postype.com/profile/@9wppzx">
                                        <img src="https://d3mcojo3jv0dbr.cloudfront.net/2020/12/21/18/15/8d7cd275de28d0531c1f86699299e07f.png?w=24&amp;h=24&amp;q=65"
                                             alt="alm미디어">
                                    </a>
                                    <div class="footer-info">
                                        <div class="user-profile-nickname text-truncate">
                                            <a href="https://www.postype.com/profile/@9wppzx" rel="author">alm미디어</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="component-goods">
                            <div class="goods-data-thumbnail">
                                <a href="https://little-dragon-atelier.postype.com/goods/14264593">
                                    <div class="grid-image-wrapper ">
                                        <img alt="보글보글 볌볌 쉐이커"
                                             src="https://d3mcojo3jv0dbr.cloudfront.net/2023/03/28/15/17/ede1afd2e63f7d2a6cbaeb0d27bf1bb3.png?w=360&amp;h=270&amp;q=65">
                                    </div>
                                </a>
                            </div>
                            <div class="goods-data">
                                <a href="https://little-dragon-atelier.postype.com/goods/14264593"
                                   class="goods-item-title">
                                    보글보글 볌볌 쉐이커 </a>
                                <div class="goods-author">
                                    <a class="user-profile-avatar" href="https://www.postype.com/profile/@1dfh9b">
                                        <img src="https://d3mcojo3jv0dbr.cloudfront.net/2018/12/04/20/04/cd5fe880170cba9ce9edc0a8d718ef5f.png?w=24&amp;h=24&amp;q=65"
                                             alt="잠룡">
                                    </a>
                                    <div class="footer-info">
                                        <div class="user-profile-nickname text-truncate">
                                            <a href="https://www.postype.com/profile/@1dfh9b" rel="author">잠룡</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="component-goods">
                            <div class="goods-data-thumbnail">
                                <a href="https://almmedia.postype.com/goods/14725812">
                                    <div class="grid-image-wrapper ">
                                        <img alt="[수염&amp;멜빵] 굿즈 대방출! 윌의동화책, 스마트톡, 도트키링"
                                             src="https://d3mcojo3jv0dbr.cloudfront.net/2023/06/22/17/29/06b6b3b031aaeb901aa60026b2b36b09.png?w=360&amp;h=270&amp;q=65">
                                    </div>
                                </a>
                            </div>
                            <div class="goods-data">
                                <a href="https://almmedia.postype.com/goods/14725812" class="goods-item-title">
                                    [수염&amp;멜빵] 굿즈 대방출! 윌의동화책, 스마트톡, 도트키링 [수염&amp;멜빵] 굿즈 대방출! 윌의동화책, 스마트톡, 도트키링 [수염&amp;멜빵] 굿즈 대방출! 윌의동화책, 스마트톡, 도트키링 [수염&amp;멜빵] 굿즈 대방출! 윌의동화책, 스마트톡, 도트키링 </a>
                                <div class="goods-author">
                                    <a class="user-profile-avatar" href="https://www.postype.com/profile/@9wppzx">
                                        <img src="https://d3mcojo3jv0dbr.cloudfront.net/2020/12/21/18/15/8d7cd275de28d0531c1f86699299e07f.png?w=24&amp;h=24&amp;q=65"
                                             alt="alm미디어">
                                    </a>
                                    <div class="footer-info">
                                        <div class="user-profile-nickname text-truncate">
                                            <a href="https://www.postype.com/profile/@9wppzx" rel="author">alm미디어</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="component-goods">
                            <div class="goods-data-thumbnail">
                                <a href="https://little-dragon-atelier.postype.com/goods/14264593">
                                    <div class="grid-image-wrapper ">
                                        <img alt="보글보글 볌볌 쉐이커"
                                             src="https://d3mcojo3jv0dbr.cloudfront.net/2023/03/28/15/17/ede1afd2e63f7d2a6cbaeb0d27bf1bb3.png?w=360&amp;h=270&amp;q=65">
                                    </div>
                                </a>
                            </div>
                            <div class="goods-data">
                                <a href="https://little-dragon-atelier.postype.com/goods/14264593"
                                   class="goods-item-title">
                                    보글보글 볌볌 쉐이커 </a>
                                <div class="goods-author">
                                    <a class="user-profile-avatar" href="https://www.postype.com/profile/@1dfh9b">
                                        <img src="https://d3mcojo3jv0dbr.cloudfront.net/2018/12/04/20/04/cd5fe880170cba9ce9edc0a8d718ef5f.png?w=24&amp;h=24&amp;q=65"
                                             alt="잠룡">
                                    </a>
                                    <div class="footer-info">
                                        <div class="user-profile-nickname text-truncate">
                                            <a href="https://www.postype.com/profile/@1dfh9b" rel="author">잠룡</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--내가 찜한 아티스트-->
            <div class="home-body-inner" id="main-home-upper-body">
                <div class="section-container">
                    <div class="title-container">
                        <div class="item-title">구독</div>
                        <a class="more-link" href="/subscriptions">전체 보기</a>
                    </div>
                    <div class="item-container post-grid-item-container" id="subscribed-posts">
                        <section class="empty-subscribed-posts">
                            <span class="empty-title">구독한 채널이 없어요.</span>
                            <span class="empty-description">원스텝 컬렉션에서 작품을 둘러보고<br>마음에 드는 채널을 구독해보세요.</span>
                            <a href="/collections" class="empty-button btn btn-primary">컬렉션 둘러보기</a>
                            <a href="https://help.postype.com/hc/ko/articles/360000134173/" class="empty-link">구독에 대해 더
                                알아보기</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--푸터-->
    <footer class="footer slide-left" role="contentinfo">
        <div class="container">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="https://www.postype.com/about">서비스 소개</a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.postype.com/tos">이용약관</a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.postype.com/privacy"><b>개인정보처리방침</b></a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://postype.career.greetinghr.com/home">채용</a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://help.postype.com/hc/ko">도움 센터</a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://postyperight.zendesk.com/hc/ko">권리침해신고센터</a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.postype.com/partners">포스타입 파트너스</a>
                </li>
                <li class="list-inline-item">
                    <a href="https://blog.postype.com">공식 채널</a>
                </li>
                <li class="list-inline-item divider">
                    <a href="http://about.postype.com">회사 소개・문의</a>
                </li>
                <li class="list-inline-item divider-none">
                    <a href="http://about.postype.com/brand-resources">브랜드 리소스</a>
                </li>
                <li class="list-inline-item copyright">© Postype, Inc.</li>
            </ul>
            <address>
                <span>주식회사 포스타입</span>
                <span>사업자등록번호: 786-86-00336</span>
                <span>통신판매업신고번호: 2018-서울강남-02900</span>
                <span>대표자명: 신규섭</span>
                <span>주소: 서울시 강남구 테헤란로4길 5, 6층</span>
                <span>연락처: 02-6956-0827, 팩스: 02-6442-0128</span>
            </address>
            <span class="guide">포스타입은 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 포스타입은 콘텐츠, 거래정보 및 거래에 대하여 책임을 지지 않습니다.</span>
        </div>
    </footer>
    <div class="backdrop fade" style="display: none"></div>
</body>
</html>