<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/css/main/root.css">
    <link rel="stylesheet" href="/css/main/main.css">
    <script src="https://kit.fontawesome.com/44012a5eeb.js" crossorigin="anonymous"></script>
    <script src="/js/main/main.js"></script>
</head>
<body>
<!--프로필 모달-->
<nav th:fragment="user-popover" class="auto-height" id="user-menu" tabindex="-1" role="navigation">
    <div class="dropdown user-wrapper">
        <a class="btn btn-change-profile" href="#" aria-haspopup="true" aria-expanded="false" title="프로필 전환">
            <div class="profile-avatar my-menu-profile-avatar avatar-24">
                <img class="profile-img" src="./Images/userProfilePic.png" alt="">
            </div>
            <div class="media-body">
                <div class="text-truncate user-name">손성민</div>
            </div>
            <i class="fas fa-angle-down fa-lg user-profile-arrow-down"></i>
        </a>
        <div class="dropdown-menu" id="profile-list" x-placement="top-start"
             style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-4px, 4px, 0px);">
            <h6 class="dropdown-header">마이페이지</h6>
            <a class="dropdown-item" href="Namho/my-page/my-page.html">
                <div class="profile-avatar avatar-24">
                    <img class="profile-img"
                         src="https://d3mcojo3jv0dbr.cloudfront.net/2023/09/06/23/38/9a787b703f93777569e803b91eba1ace.jpeg?w=64&amp;h=64&amp;q=65"
                         alt="">
                </div>
                <span class="text-truncate">손성민</span>
            </a>
            <!--            <a class="dropdown-item" href="">-->
            <!--                <div class="avatar-24">-->
            <!--                    <span class="profile-img">-->
            <!--                        <i class="fas fa-user-plus"></i>-->
            <!--                    </span>-->
            <!--                </div>-->
            <!--                새 프로필 만들기-->
            <!--            </a>-->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="Namho/my-page/profile/profile.html">프로필 사진 수정</a>
        </div>
    </div>
    ​
    <a class="dropdown-item" href="">홈</a>
    <a class="dropdown-item" href="Namho/community/community.html">게시판</a>
    <a class="dropdown-item" href="Namho/crowd-funding/crowd-funding.html">크라우드 펀딩</a>
    <a class="dropdown-item" href="Namho/my-page/my-page.html">설정</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="Jiseong3030/question.html">도움 센터</a>
    <a id="dropdown-item-logout" class="dropdown-item" href="/member/logout">로그아웃</a>
</nav>
</header>
</body>
</html>