/* 서브헤더 ======================================================================================================================================== */
.sub-header-wrap {
    background-color: #fff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    border: 1px solid rgba(0 0 0 / 5%);
    border-left: 0;
    border-right: 0;
    z-index: 2;
}

.web-grid {
    max-width: 1000px;
    width: 100%;
    padding: 0;
    margin: 0 auto;

}

.sub-header-container {
    height: 48px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sub-header-navs {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav-item {
    height: 48px;
}

.nav-item:not(:first-child) {
    margin-left: 20px;
}

.nav-link {
    height: 48px;
    padding: 8px 10px;
    border-top: 4px solid transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    list-style: none;
}

.nav-link.active {
    border-bottom: 2px solid;
    color: #000;
    font-weight: 600;
}

/* 매인 =============================================================================================================================================== */
.main-head-wrap {
    width: 100%;
}

.main-head-container {
    max-width: initial;
    margin: 0 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    border-bottom: 1px solid #e5e5e5;
}

.head-dropdown-status {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: auto;
    height: 56px;
    justify-content: center;
    position: relative;
    padding: 7px 15px;
    padding-left: 0;
    font-size: 15px;
    color: #000;
}

.head-dropdown-status:hover {
    color: #3478ff;
}

.head-dropdown-status svg {
    margin-left: 6px;
    fill: #000;
}

.head-dropdown-status:hover svg {
    fill: #3478ff;
}

.head-dropdown-menu {
    display: none;
    flex-direction: column;
    min-width: 200px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0.5rem 0;
    color: #606060;
    border-radius: 5px;
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(0px, 56px, 0px);
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: #fff;
    z-index: 20;
}

.head-dropdown-menu.active {
    display: flex;
}

.orderby-status-icon {
    display: flex;
}

.dropdown-menu-a {
    display: flex;
    align-items: center;
    position: relative;
    padding: 6px 20px;
    font-size: 15px;
    line-height: 24px;
    padding-right: 44px;
}

.dropdown-menu-a:hover {
    color: #000;
    background-color: #f8f8f8;
}

.main-content-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.main-result-container {
    width: calc(100% - 340px);
    margin: 0;
}

.main-result-count-con {
    margin: 0;
    padding: 10px 0 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: inherit;
    display: flex;
    flex-direction: row;
}

/* 아티클 관리 ================================================================== */
.artists-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px -20px;
}

.artists-article {
    padding: 0 10px 20px;
    flex: 0 0 50%;
    max-width: 50%;
}

.blog-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 6px;
    box-shadow: 0 1px 1px -0.5px rgba(0,0,0,.05);
    transition: box-shadow .1s ease-out;
    overflow: hidden;
}

.blog-head {
    position: relative;
    padding: 16px 18px;
    background-position: center;
    background-size: cover;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.blog-profil-img {
    width: 64px;
    min-width: 64px;
    height: 64px;
    margin-right: 12px;
    border-radius: 7.5%;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

.blog-profil-img img {
    width: inherit;
    height: inherit;
    vertical-align: top;
}

.blog-title {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.blog-title-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blog-subscription-count {
    font-size: 14px;
    color: rgba(0, 0, 0, .47);
}

.artist-subscription-btn {
    padding: 3px 8px;
    font-size: 13px;
    flex: 0;
    width: 58px;
    min-width: 58px;
    height: 32px;
    margin: 4px 0 4px 14px;
    cursor: pointer;
    color: #3478ff;
    border: 1px solid #3478ff;
    line-height: 24px;
    border-radius: 4px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
}

.artist-subscription-btn.active {
    border-color: rgba(0, 0, 0, .15);
}

.artist-subscription-btn:hover {
    background-color: #3478ff;
    color: #fff;
}

.artist-subscription-btn svg {
    fill: #3478ff;
}

.artist-subscription-btn:hover svg {
    fill: #fff;
}

.artist-subscription-span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 13px;
    line-height: 24px;
    white-space: inherit;
}

.active-text {
    display: none;
}

.blog-head::after {
    content: "";
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;
    border-top: 1px solid rgba(0,0,0,.05);
}

.blog-body {
    display: block;
    position: relative;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    padding: 18px;
    overflow: hidden;
}

.blog-text {
    color: rgba(0,0,0,.47);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -wesbkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 15px;
    line-height: 22px;
    max-height: 66px;
}

.blog-tag-container {
    height: 22px;
    overflow: hidden;
    margin-top: 12px;
    margin-bottom: 4px;
}

.blog-tag {
    font-weight: 400;
    font-size: 14px;
    line-height: 20.3px;
    padding: 1px 6px;
    margin-right: 6px;
    color: rgba(0, 0, 0, .47);
    text-align: center;
    background: rgba(0, 0, 0, .05);
    border-radius: 3px;
    transition: background-color .15s ease-in-out;
}

.blog-bottom {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: start;
    padding: 0 16px 18px;
}

.user-avatar-container {
    display: block;
    position: relative;
    margin-right: 8px;
    width: 32px;
    height: 32px;
    min-width: 32px;
    border-radius: 50%;
    background-color: #fff;
    object-fit: cover;
    overflow: hidden;
}

.user-avatar-container::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: inherit;
    height: inherit;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .05);
}

.user-avatar-container img {
    width: 32px;
    height: 32px;
}

.artist-nickname {
    font-size: 14px;
}

/* 아티클 없을시 */
.no-article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    min-height: 160px;
    max-height: 240px;
    padding: 32px;
    margin: 0;
    font-size: 15px;
    line-height: 1.4;
    text-align: center;
    word-break: keep-all;
    color: #757575;
}

/* 모바일 =================================================================================== */
@media (max-width: 1000px) {
    header {
        height: 52px;
    }

    .sub-header-wrap {
        top: 52px;
    }

    .sub-header-navs {
        flex-wrap: wrap;
    }

    .nav-item {
        flex: 0 0 33.3333%;
        width: 33.3333%;
        display: flex;
        justify-content: center;
    }

    .nav-item:not(:first-child) {
        margin-left: 0;
    }

    .nav-link {
        width: 100%;
    }

    .main-search-bar {
        max-width: 100%;
        width: 100%;
        right: 0;
        position: relative;
        margin: 0 26px;
    }

    .search-bar-input {
        width: 100%;
    }

    .web-grid {
        padding: 0 8px;
    }

    .artists-article {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 0 20px
    }
}