<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title th:text="${post.title}"></title>
    <link href="/images/icon.svg" rel="icon">
    <link href="/css/main/root.css" rel="stylesheet">
    <link href="/css/artist/blog-header.css" rel="stylesheet">
    <link href="/css/artist/post/detail.css" rel="stylesheet">
    <link as="style" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
          onload="this.rel='stylesheet'" rel="stylesheet"
          type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body th:object="${post}">
<div>
    <header th:replace="~{artist/blog-header::blog-header}"></header>
    <header style="z-index: 1000">
        <div class="h-blog-grid">

        </div>
        <div class="navbar">
            <div class="navbar-container">
                <div class="navbar-left">
                    <a class="btn-back" id="post-viewer-header-btn-back"
                       th:href="|/artist/*{artistId}/video/*{previousPostId}|"
                       th:if="*{previousPostId != null}">
                        <i class="fa-chevron-left"></i>
                    </a>
                </div>
                <div class="navbar-center">
                    <div class="navbar-title">
                        <div class="title-text1">
                            <span th:text="*{title}"></span>
                        </div>
                        <div class="sub-title1">
                            <a class="sub-title2" th:text="*{category}"></a>
                        </div>
                    </div>
                </div>
                <div class="navbar-right">
                    <a class="btn-back" id="post-viewer-header-btn-next"
                       th:href="|/artist/*{artistId}/video/*{nextPostId}|"
                       th:if="*{nextPostId != null}">
                        <i class="fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main id="main">
        <div id="main-content">
            <article id="post">
                <div class="container">
                    <div class="post-container">
                        <h4 class="series-title">
                            <a th:text="*{category}"></a>
                        </h4>
                        <div class="title-wrap">
                            <h1 class="post-title6" th:text="*{title}"></h1>
                        </div>
                        <div class="post-meta3">
                            <a class="profile-avatar" rel="author"
                               th:href="@{/artist/{artistId}(artistId=*{artistId})}">
                                <img class="profile-img6" src="/images/profile/avatar_blank.png"
                                     th:if="*{kakaoProfileUrl == null and profileName == null}">
                                <img class="profile-img6" th:if="*{kakaoProfileUrl != null and profileName == null}"
                                     th:src="*{kakaoProfileUrl}">
                                <img class="profile-img6" th:if="*{profileName != null}"
                                     th:src="|/file/display?fileName=*{profilePath}/t_*{profileName}|">
                            </a>
                            <div class="media-body">
                                <div class="article-author">
                                    <a class="gray-990 disabled-on-preview" rel="author"
                                       th:href="@{/artist/{artistId}(artistId=*{artistId})}"
                                       th:text="*{nickname}"></a>
                                </div>
                                <div class="text-gray">
                                    <time class="meta-item2"
                                          th:text="*{#strings.substring(writeTime, 0, 10)}"></time>

                                    <span class="view-count">* 조회
                                    <span class="status-count" th:text="*{viewCount}"></span>
                                </span>
                                    <span class="view-count">* 좋아요
                                    <span class="status-count" id="likeCount" th:text="*{likeCount}"></span>
                                </span>
                                    <span class="comment-count">* 댓글
                                    <span class="stats-count" th:text="*{replyCount}"></span>
                                </span>
                                </div>
                                <th:block th:if="${session.member != null}">
                                    <div class="action-container" th:if="${post.artistId == session.member.id}">
                                        <a class="edit-container"
                                           th:href="@{/artist/video/edit(postId=${post.postId})}">
                                            게시글 수정
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </a>
                                        <form method="post" th:action="@{/artist/video/delete(postId=${post.postId})}">
                                            <button id="delete-btn" type="submit">
                                                <span>게시글 삭제</span>
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </form>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div class="post-body">
                            <div class="video-wrap">
                                <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen frameborder="0"
                                        height="315" id="video" th:src="*{embedLink}"
                                        title="YouTube video player"
                                        width="560">
                                </iframe>
                            </div>
                            <pre class="post-content3" style="white-space: pre-line" th:text="*{content}"></pre>
                            <div class="bottom-container">
                                <div class="tag-list">
                                    <h6 class="sr-only"></h6>
                                    <th:block th:each="tag : *{tags}">
                                        <a class="tag gray-600" href="#" th:text="${tag}"></a>
                                    </th:block>
                                </div>
                                <div class="bottom-post-action">
                                    <div class="like-btn" th:data-post-id="*{postId}" th:data-status="*{liked}">
                                        <i class="fa-regular fa-heart"
                                           th:classappend="*{liked} ? '' : 'active'"></i>
                                        <i class="fa-solid fa-heart"
                                           th:classappend="*{liked} ? 'active':''"></i>
                                    </div>
                                    <button class="btn btn-icon bookmark-btn vi"
                                            th:data-post-id="*{postId}" th:data-status="*{bookmarked}">
                                        <i class="far fa-bookmark"
                                           th:classappend="*{bookmarked} ? '': 'active'"></i>
                                        <i class="fas fa-bookmark"
                                           th:classappend="*{bookmarked} ? 'active': ''"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="post-pager">

                                <th:block th:if="*{previousPostId != null}">
                                    <article class="pager-item1">
                                        <a class="flex-middle" th:href="|/artist/*{artistId}/video/*{previousPostId}|">
                                            <div class="pager-label">이전글</div>
                                            <div class="media-body7">
                                                <h5 class="pager-title" th:text="*{previousPostTitle}"></h5>
                                            </div>
                                        </a>
                                    </article>
                                </th:block>

                                <th:block th:if="*{nextPostId != null}">
                                    <article class="pager-item2">
                                        <a class="flex-middle" th:href="|/artist/*{artistId}/video/*{nextPostId}|">
                                            <div class="pager-label">다음글</div>
                                            <div class="media-body7">
                                                <h5 class="pager-title" th:text="*{nextPostTitle}"></h5>
                                            </div>
                                        </a>
                                    </article>
                                </th:block>
                            </div>
                            <section class="profile-gray50">
                                <div class="container32">
                                    <div class="profile-bar">
                                        <a class="profile-img-link blog-avatar avatar-60">
                                            <img class="blog-img"
                                                 src="/images/none-avatar.svg">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="profile-title98">
                                                <a class="rich2" th:href="@{/artist/{artistId}(artistId=*{artistId})}"
                                                   th:text="*{blogName}"></a>
                                            </h5>
                                            <div class="profile-subtitle-gray-600">
                                                <span class="meta-item">구독자&nbsp;</span>
                                                <span class="stats-count" id="subscriberCount"
                                                      th:text="*{subscriptionCount}"></span>
                                            </div>
                                        </div>
                                        <div class="action-group">
                                            <th:block th:unless="${post.artistId == session.member?.id}">
                                                <button class="subscribe4"
                                                        id="subscribeBtn"
                                                        th:classappend="*{subscribed ? 'active' : ''}"
                                                        th:data-artistId="*{artistId}"
                                                        th:data-status="*{subscribed}"
                                                        th:if="${session.member != null and artistId != session.member.id}"
                                                        type="button">
                                                <span th:class="*{subscribed ? 'active-text' : 'default-text'}"
                                                      th:text="*{subscribed ? '구독중': '구독하기'}"></span>
                                                </button>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="response3">
                                <div class="container44">
                                    <header class="section-head6">
                                        <h3 class="comment-section-title" th:text="*{replyCount + '개의 댓글'}"/>
                                    </header>
                                    <div class="comment-list">
                                        <div class="comments">
                                            <div class="comment-customize-form">
                                                <textarea class="form-control autosize" id="replyTextarea"
                                                          style="overflow: hidden; overflow-wrap: break-word; height: 40px; resize: none; overflow-y: auto"></textarea>
                                                <div class="brand-icons">
                                                    <button class="btn btn-strong btn-login btn-create-comment"
                                                            id="submitReply">
                                                        댓글 남기기
                                                    </button>
                                                </div>
                                            </div>
                                            <div id="replyWrap"></div>
                                            <button class="more-btn" type="button">댓글 더보기</button>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </main>
    <input id="loggedIn" th:value="${session.member != null}" type="hidden">
</div>
</body>
<script th:inline="javascript">
    const postId = parseInt([[${post.postId}]]);
    const replyCount = parseInt([[${post.replyCount}]]);
</script>
<script crossorigin="anonymous" src="https://kit.fontawesome.com/2364e2b536.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script th:src="@{/js/artist/subscribe.js}" type="module"></script>
<script th:src="@{/js/artist/like.js}" type="module"></script>
<script th:src="@{/js/artist/video/bookmark.js}" type="module"></script>
<script th:src="@{/js/artist/replyLoader.js}" type="module"></script>
<script th:src="@{/js/artist/replyRegister.js}" type="module"></script>

</html>