#b-modal {
    display: none;
    right: unset;
    bottom: unset;
    width: 100%;
    height: 100%;
    padding-right: 17px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2010;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

#b-modal-link-container {
    display: none;
    margin: 150px auto auto;
    max-width: 400px;
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    opacity: 1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.b-modal-header {
    position: relative;
    padding: 20px 24px 0;
    line-height: 20px;
    border-color: rgba(0, 0, 0, .1);
}

.b-btn-close {
    position: absolute;
    top: 13px;
    right: 14px;
}

.b-modal-body {
    max-height: calc(100% - 45px);
    overflow-y: auto;
    padding: 24px 24px 20px 24px;
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.b-modal-footer {
    position: relative;
    padding: 10px 24px;
    border-color: rgba(0, 0, 0, .1);
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border-top: 1px solid #e9ecef;
}

.b-modal-btn {
    color: #3478ff !important;
    background-color: #fff;
    border: 1px solid #3478ff;
    box-shadow: 0 0 0 0.2rem rgba(52, 120, 255, .25);
    min-width: 72px;
    cursor: pointer;
    height: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    font-size: 15px;
    border-radius: 4px;
}

.b-link-container {
    display: flex;
}

.b-input {
    display: flex;
    font-size: 14px;
    background-color: rgba(0,0,0,.03);
    border: 1px solid #ddd!important;
    border-radius: 3px 0 0 3px;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.b-copy {

}

.b-btn-clipboard {
    color: #000;
    background-color: #fff;
    border-color: #ccc;
    padding: 7px 13px 7px 14px;
    font-size: 14px;
    border-radius: 0 3px 3px 0;
}