<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원스텝 | 회원가입</title>
    <link rel="stylesheet" href="/css/member/join.css">
    <link rel="stylesheet" href="/css/main/root.css">
    <link rel="stylesheet" href="/css/member/modal.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" as="style"
        onload="this.rel='stylesheet'">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
</head>

<body>
    <main class="main-content" id="main-content" role="main">
        <div class="modal">
            <div class="warn-modal">
                <div id="content-wrap"></div>
            </div>
        </div>
        <section class="dialog">
            <div class="dialog-content">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="sign-up-email" role="tabpanel">
                        <form th:action ="@{/member/join}" method="post" th:object="${memberVO}">
                            <div>
                                <h1 class="mb-4">이메일로 회원가입</h1>
                                <div class="form-group">
                                    <label class="form-label-sm">이메일 주소</label>
                                    <input th:field="*{memberEmail}" id="email" name="memberEmail" class="form-control" placeholder="이메일 주소" autofocus>
                                </div>
                                <div class="form-group">
                                    <label class="form-label-sm">비밀번호</label>
                                    <input th:field="*{memberPassword}" id="password" name="memberPassword" class="form-control" placeholder="비밀번호" autofocus>
                                </div>
                                <div class="form-group">
                                    <label class="form-label-sm">닉네임</label>
                                    <input th:field="*{memberNickname}" id="nickname" name="memberNickname" class="form-control" placeholder="닉네임" autofocus>
                                </div>
                                <div class="btn-wrapper">
                                    <button type="button" class="join join-button" onclick="send()">회원가입</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/member/modal.js"></script>
<script src="/js/member/join.js"></script>
</html>