<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원스텝 | 회원가입</title>
    <link rel="stylesheet" href="/css/member/member.css">
    <link rel="stylesheet" href="/css/member/term.css">
    <link rel="stylesheet" href="/css/member/info.css">
    <link rel="stylesheet" href="/css/member/modal.css">
</head>

<body>
<main id="join">
    <div class="modal">
        <div class="warn-modal">
            <div id="content-wrap"></div>
        </div>
    </div>
    <section id="join-container">
        <article>
            <form th:action="@{/member/join}" name="join" method="post" th:object="${memberVO}">
                <div class="join">
                    <div class="info-container info-container-first">
                        <label>이메일</label>
                        <span>
                            <div class="email-wrap">
                                <div class="email-first">
                                    <input type="text" autocomplete="off" placeholder="이메일 앞자리">
                                    <img width="16px">
                                    <p class="help"></p>
                                </div>
                                <span id="seperator">@</span>
                                <div class="email-last">
                                    <input type="text" autocomplete="off" placeholder="이메일 뒷자리">
                                    <img width="16px">
                                    <p class="help"></p>
                                </div>
                                <input type="hidden" th:field="*{memberEmail}" >
                            </div>
                        </span>

                        <div class="email-select-wrap">
                            <select class="email">
                                <option value="">직접입력</option>
                                <option value="naver.com">naver.com</option>
                                <option value="hanmail.net">hanmail.net</option>
                                <option value="nate.com">nate.com</option>
                                <option value="hotmail.com">hotmail.com</option>
                                <option value="gmail.com">gmail.com</option>
                            </select>
                            <img src="/images/select.png" width="16px" style="display: inline-block;">
                        </div>
                        <button type="button" class="next" onclick="checkEmail()" style="margin: 16px 0px 0px; padding: 4px 32px;">중복확인</button>
                        <h6 class="help">
                            <img src="/images/warn.png" id="warn" width="16px" height="16px">
                            이메일로 비밀번호 변경 링크 등이 발송됩니다.<br>개인정보 보호를 위해 정확한 메일 정보를 입력해주세요.
                        </h6>
                    </div>
                    <div class="info-container">
                        <label>비밀번호</label>
                        <span>
                            <div class="password">
                                <input type="password" id="password" th:field="*{memberPassword}" placeholder="영어, 숫자, 특수문자 중 2가지 이상 10~20자">
                                <img width="16px">
                                <p class="help"></p>
                            </div>
                            <div class="password password-check">
                                <input type="password" id="password-check" placeholder="비밀번호 재입력">
                                <img width="16px">
                                <p class="help"></p>
                            </div>
                        </span>
                    </div>
                    <div class="info-container">
                        <label>닉네임</label>
                        <span>
                            <input type="text" id="nickname" th:field="*{memberNickname}" autocomplete="off" placeholder="영문 혹은 영문+숫자, 4~20자">
                            <img width="16px">
                        </span>
                        <p class="help"></p>
                    </div>
                    <button type="button" class="next" onclick="send()">완료</button>
                </div>
            </form>
        </article>
    </section>
</main>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/member/modal.js"></script>
<script src="/js/member/join.js"></script>
</html>