<!DOCTYPE html>
<html lang="ko-KR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>로그인</title>
    <link rel="stylesheet" href="/dist/css/member/login.min.css">
</head>
<body>

<div layout:fragment="content" class="login-wrapper">
    <div class="login-container">

        <div class="login-header">
            <h1 class="login-title">로그인</h1>
            <p class="login-desc">원스텝에 오신 것을 환영합니다!</p>
        </div>

        <div class="login-actions">
            <a href="/oauth2/kakao" class="btn-login btn-kakao">
                <i class="fas fa-comment"></i> 카카오로 3초 만에 시작하기
            </a>

            <a href="/member/login-email" class="btn-login btn-email">
                <i class="far fa-envelope"></i> 이메일 아이디로 로그인
            </a>
        </div>

        <div class="login-footer">
            <p class="join-text">
                아직 계정이 없으신가요? <a href="/member/join" class="link-join">회원가입</a>
            </p>
            <div class="divider"></div>
            <p class="terms-text">
                로그인 시 <a href="#">이용약관</a> 및 <a href="#">개인정보처리방침</a>에 동의하는 것으로 간주합니다.
            </p>
        </div>

    </div>
</div>

<th:block layout:fragment="js">
    <script type="module" src="/dist/js/member/login.min.js"></script>
</th:block>

</body>
</html>