<!DOCTYPE html>
<html lang="ko-KR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>이메일 로그인</title>
    <link rel="stylesheet" href="/dist/css/member/login-email.min.css">
</head>
<body>

<div layout:fragment="content" class="login-wrapper">
    <div class="login-container">

        <div class="login-header">
            <h1 class="login-title">이메일로 로그인</h1>
        </div>

        <form class="login-form" id="loginForm">
            <div class="form-group">
                <label for="email" class="form-label">이메일 주소</label>
                <input type="email" id="email" name="email" class="form-input"
                       placeholder="example@onestep.com" autocomplete="email" autofocus>
                <p class="validation-msg" id="email-msg"></p>
            </div>

            <div class="form-group">
                <label for="password" class="form-label">비밀번호</label>
                <input type="password" id="password" name="password" class="form-input"
                       placeholder="비밀번호 입력" autocomplete="current-password">
                <p class="validation-msg" id="password-msg"></p>
            </div>

            <button type="submit" class="btn-submit" id="btn-submit">로그인</button>
        </form>

        <div class="login-links">
            <a href="/member/join" class="link-item">회원가입</a>
            <span class="divider">|</span>
            <a href="#" class="link-item">비밀번호 찾기</a>
        </div>

    </div>
</div>

<th:block layout:fragment="js">
    <script type="module" src="/dist/js/member/login-email.min.js"></script>
</th:block>

</body>
</html>