.web-grid {
    max-width: 1000px;
    width: 100%;
    padding: 0;
    margin: 60px auto 0;
}

.subscripted-artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.artist-info-container {
    margin: 0 auto;
    max-width: 640px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 18px 0;
    cursor: pointer;
}

.artist-info-container {
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.blog-profil-img {
    width: 64px;
    min-width: 64px;
    height: 64px;
    margin-right: 12px;
    border-radius: 7.5%;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

.blog-profil-img img {
    width: inherit;
    height: inherit;
    vertical-align: top;
}

.artist-info-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blog-title {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.blog-title-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.artist-profile-container {
    margin-top: 0.5rem;
    font-size: 13px;
    line-height: 15.6px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-avatar-container {
    display: block;
    position: relative;
    margin-right: 8px;
    width: 32px;
    height: 32px;
    min-width: 32px;
    border-radius: 50%;
    background-color: #fff;
    object-fit: cover;
    overflow: hidden;
}

.user-avatar-container::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: inherit;
    height: inherit;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .05);
}

.user-avatar-container img {
    width: 32px;
    height: 32px;
}

.artist-nickname {
    font-size: 14px;
    margin: 0;
    line-height: 25px;
}

.artist-subscription-btn {
    color: #909090;
    display: inline-flex;
    background-color: #fff;
    border-color: #3478ff;
    box-shadow: none;
    padding: 9px 12.5px;
    white-space: nowrap;
    font-weight: 500;
    line-height: 19px;
    border-radius: 4px;
    cursor: pointer;
    max-height: 41px;
    align-items: center;
}

.artist-subscription-btn.active {
    border-color: rgba(0, 0, 0, .15);
}

.artist-subscription-btn svg{
    transform: translateY(2px);
}

.artist-subscription-span {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 13px;
    line-height: 24px;
    white-space: inherit;
}

.artist-subscription-span:first-child {
    fill: #3478ff;
    color: #3478ff;
}

.artist-posts-container {
    background-color: #f8f8f8;
    width: 100%;
    max-width: 640px;
    display: none;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0 18px;
}

/* 게시글 ========================================================== */
.article-wrap {
    border-top: 1px solid #e9e9e9;
}

.article-container {
    padding: 20px 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    word-break: break-all;
}

.post-category-container {
    margin-bottom: 7px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-category {
    font-size: 14px;
    font-weight: 400;
    line-height: 135%;
    color: #0000008A;
    margin: 0;
}

.post-category-devider {
    border: 0;
    border-left: 1px solid #0000008A;
    width: 0;
    height: 10px;
    margin: 0 12px;
}

.post {
    display: flex;
    flex-direction: row;
    flex: 1;
    word-wrap: break-word;
}

.post-data {
    flex: 1;
    overflow: hidden;
}

.post-data-title {
    margin: 0 0 7px;
    font-size: 20px;
    font-weight: 600;
    line-height: 135%;
    color: #000;
}

.post-data-content {
    font-size: 14px;
    color: rgba(0, 0, 0, .47);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
}

.post-tags-container {
    margin-top: 11px;
    height: 22px;
    display: flex;
    line-height: 0;
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
}

.post-tag {
    font-weight: 400;
    font-size: 14px;
    line-height: 20.3px;
    padding: 1px 6px;
    margin-right: 6px;
    color: rgba(0, 0, 0, .47);
    text-align: center;
    background: rgba(0, 0, 0, .05);
    border-radius: 3px;
    transition: background-color .15s ease-in-out;
}

.post-tag:hover {
    background-color: #0000001A;
}

.post-thumbnail {
    margin-left: 24px;
}

.post-thumbnail a {
    position: relative;
    display: block;
    height: 108px;
}

.post-thumbnail a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 8px;
}

.post-thumbnail img {
    width: 144px;
    height: 108px;
    background-color: #F7F7F7;
    border-radius: 8px;
    object-fit: cover;
}

.post-info {
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.user-avatar-container {
    display: block;
    position: relative;
    margin-right: 8px;
    width: 32px;
    height: 32px;
    min-width: 32px;
    border-radius: 50%;
    background-color: #fff;
    object-fit: cover;
    overflow: hidden;
}

.user-avatar-container::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: inherit;
    height: inherit;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .05);
}

.user-avatar-container img {
    width: 32px;
    height: 32px;
}

.post-info-body {
    width: 100%;
}

.post-nickname {
    font-size: 13px;
    line-height: 135%;
    font-weight: 500;
}

.post-counters-container {
    position: relative;
    height: 16px;
    margin-top: 1px;
    font-size: 12px;
    line-height: 130%;
    overflow: hidden;
    color: rgba(0, 0, 0, .47) !important;
    width: 100%;
    align-items: center;
}

.meta-item {
    margin-right: 8px;
    text-align: center;
}

.eye-pic {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 16px;
    opacity: .47;
    background-size: 13px 13px;
    vertical-align: top;
    background-image: url(https://d33pksfia2a94m.cloudfront.net/assets/img/icon/ic_eye_black.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: center top;
    top: 1px;
}

.heart-pic {
    position: relative;
    top: 20%;
}

.stats-count {
    position: relative;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
}

.post-action {
    display: flex;
    justify-content: flex-end;
    min-width: 64px;
    margin-left: 24px;
}

.post-bookmark {
    min-width: 32px;
    width: 32px;
    height: 32px;
    padding: 7px;
    color: rgba(0, 0, 0, .47);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookmark-icon {
    display: none;
    fill: rgba(0, 0, 0, .47);
}

.bookmark-icon.active {
    display: flex;
}

.post-dropdown {
    border: 0;
    background-color: transparent;
    margin-left: 4px;
    min-width: 32px;
    width: 32px;
    height: 32px;
    padding: 7px;
    color: rgba(0, 0, 0, .47);
    cursor: pointer;
    position: relative;
}

.action-dropdown-container {
    display: none;
    position: absolute;
    min-width: 200px;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 1rem;
    color: #606060;
    border-radius: 5px;
    z-index: 10;
    float: left;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(-168px, 32px, 0px);
    flex-direction: column;
}

.dropdown-action {
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: relative;
    padding: 6px 20px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
}

.dropdown-action-icon {
    fill: rgba(0, 0, 0, .47);
    margin-right: 12px;
}

.dropdown-action:hover {
    background-color: #f8f8f8;
    color: #000;
    font-weight: 400;
}

.dropdown-action:hover .dropdown-action-icon {
    fill: #000;
}

/* 아티클 없을 시 */
.no-article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    min-height: 160px;
    max-height: 240px;
    padding: 32px;
    margin: 0;
    font-size: 15px;
    line-height: 1.4;
    text-align: center;
    word-break: keep-all;
    color: #757575;
}

@media (max-width: 1000px) {
    header {
        height: 52px;
    }

    .sub-header-wrap {
        top: 52px;
    }

    .sub-header-navs {
        flex-wrap: wrap;
    }

    .nav-item {
        flex: 0 0 50%;
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .nav-item:not(:first-child) {
        margin-left: 0;
    }

    .nav-link {
        width: 100%;
    }

    .main-search-bar {
        max-width: 100%;
        width: 100%;
        right: 0;
        position: relative;
    }

    .search-bar-input {
        width: 100%;
    }

    .artist-info-container {
        padding-left: 4px;
        padding-right: 4px;
    }

    .article-container:last-child .action-dropdown-container {
        transform: translate3d(-168px, -98px, 0px);
    }
}