<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원스텝 | 마이 아티스트</title>
    <script src="https://kit.fontawesome.com/2364e2b536.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main/root.css">
    <link rel="stylesheet" href="/static/css/artist/blog-header.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" as="style"
          onload="this.rel='stylesheet'">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<header th:fragment="blog-header">
    <div class="h-blog-grid">
        <a id="h-logo" href="/">
            <img src="/images/blog-logo.png" alt="">
        </a>
        <div class="h-actions-container">
            <a class="h-nav-item" href="#">
                <svg enable-background="new 0 0 50 50" id="Layer_1" version="1.1" viewBox="0 0 50 50"
                     xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"><rect fill="none" height="50" width="50"/>
                    <circle cx="21" cy="20" fill="none" r="16" stroke="#000000" stroke-linecap="round"
                            stroke-miterlimit="10" stroke-width="2"/>
                    <line fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="4" x1="32.229" x2="45.5"
                          y1="32.229" y2="45.5"/>
                </svg>
            </a>
            <th:block th:if="${session.member == null}">
                <a id="login-btn-click" class="btn btn-secondary" href="/member/login">
                    로그인
                </a>
                <a id="sign-up-btn-click" class="btn btn-primary" href="/member/join">
                    회원가입
                </a>
            </th:block>
            <th:block th:unless="${session.member == null}">
                <button class="h-nav-item bell">
                    <i class="fa-regular fa-bell"></i>
                </button>
                <div class="h-notification-popover-container">
                    <div class="h-notification-header">
                        <h4 class="h-notification-title">
                            알림
                            <i class="fa-solid fa-angle-up fa-rotate-90"></i>
                        </h4>
                        <div class="h-notification-header-btn">모두 읽기</div>
                    </div>
                    <div class="h-notification-wrap">
                        <div class="h-notification-item">
                            <div class="h-user-avatar"
                                 style="background-image: url(https://d33pksfia2a94m.cloudfront.net/assets/img/avatar/avatar_blank.png)"></div>
                            <div class="h-notification-content">--님께서 새 포스트를 발행 하였습니다.</div>
                        </div>
                        <div class="h-notification-item">
                            <div class="h-user-avatar"
                                 style="background-image: url(https://d33pksfia2a94m.cloudfront.net/assets/img/avatar/avatar_blank.png)"></div>
                            <div class="h-notification-content">--님께서 새 포스트를 발행 하였습니다.</div>
                        </div>
                        <div class="h-notification-item">
                            <div class="h-user-avatar"
                                 style="background-image: url(https://d33pksfia2a94m.cloudfront.net/assets/img/avatar/avatar_blank.png)"></div>
                            <div class="h-notification-content">--님께서 새 포스트를 발행 하였습니다.</div>
                        </div>
                        <div class="h-notification-item">
                            <div class="h-user-avatar"
                                 style="background-image: url(https://d33pksfia2a94m.cloudfront.net/assets/img/avatar/avatar_blank.png)"></div>
                            <div class="h-notification-content">--님께서 새 포스트를 발행 하였습니다.</div>
                        </div>
                        <div class="h-notification-item">
                            <div class="h-user-avatar"
                                 style="background-image: url(https://d33pksfia2a94m.cloudfront.net/assets/img/avatar/avatar_blank.png)"></div>
                            <div class="h-notification-content">--님께서 새 포스트를 발행 하였습니다.</div>
                        </div>
                        <div class="h-notification-item">
                            <div class="h-user-avatar"
                                 style="background-image: url(https://d33pksfia2a94m.cloudfront.net/assets/img/avatar/avatar_blank.png)"></div>
                            <div class="h-notification-content">--님께서 새 포스트를 발행 하였습니다.</div>
                        </div>
                        <div class="h-notification-item">
                            <div class="h-user-avatar"
                                 style="background-image: url(https://d33pksfia2a94m.cloudfront.net/assets/img/avatar/avatar_blank.png)"></div>
                            <div class="h-notification-content">--님께서 새 포스트를 발행 하였습니다.</div>
                        </div>
                        <div class="h-notification-none">알림이 없습니다.</div>
                    </div>
                </div>
                <button class="h-nav-item">
                    <div class="h-user-avatar">
                        <img th:if="${session.member.memberKakaoProfileUrl == null and session.member.memberProfileName == null}"
                             class="profile-img"
                             src="https://d33pksfia2a94m.cloudfront.net/assets/img/avatar/avatar_blank.png"
                             alt="">
                        <img th:if="${session.member.memberKakaoProfileUrl != null and session.member.memberProfileName == null}"
                             class="profile-img"
                             th:src="${session.member.memberKakaoProfileUrl}"
                             alt="">
                    </div>
                    <div class="h-user-menu-popover">
                        <div class="h-current-user-container">
                            <div class="h-user-avatar-s">
                                <img th:if="${session.member.memberKakaoProfileUrl == null and session.member.memberProfileName == null}"
                                     class="profile-img"
                                     src="https://d33pksfia2a94m.cloudfront.net/assets/img/avatar/avatar_blank.png"
                                     alt="">
                                <img th:if="${session.member.memberKakaoProfileUrl != null and session.member.memberProfileName == null}"
                                     class="profile-img"
                                     th:src="${session.member.memberKakaoProfileUrl}"
                                     alt="">
                            </div>
                            <a href="/my-page/my-page">
                                <div th:text="${session.member.memberNickname}" class="h-user-nickname"></div>
                            </a>
                        </div>
                        <hr class="h-popover-divider">
                        <a class="h-popover-menu-item" href="/">홈</a>
                        <a class="h-popover-menu-item" href="/my-artist/list">나의 아티스트</a>
<!--                        <a class="h-popover-menu-item h-inactive">보관함</a>-->
                        <hr class="h-popover-divider">
                        <th:block th:if="session.artistId == null">
                            <a class="h-popover-menu-item h-inactive" href="#">새 채널 만들기</a>
                        </th:block>
                        <a class="h-popover-menu-item" href="/member/logout">로그아웃</a>
                    </div>
                </button>
            </th:block>
        </div>
    </div>
</header>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/js/artist/blog-header.js"></script>
</html>