<!doctype html>
<html lang="en" xmlns:a="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원스텝 | 마이 아티스트</title>
    <link rel="stylesheet" href="../../root.css">
    <link rel="stylesheet" href="blog-header.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" as="style"
          onload="this.rel='stylesheet'">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<header>
    <div class="h-blog-grid">
        <a id="h-logo" href="#"></a>
        <div class="h-actions-container">
            <a class="h-nav-item" href="#">
                <svg enable-background="new 0 0 50 50" id="Layer_1" version="1.1" viewBox="0 0 50 50"
                     xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"><rect fill="none" height="50" width="50"/>
                    <circle cx="21" cy="20" fill="none" r="16" stroke="#000000" stroke-linecap="round"
                            stroke-miterlimit="10" stroke-width="2"/>
                    <line fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="4" x1="32.229" x2="45.5"
                          y1="32.229" y2="45.5"/>
                </svg>
            </a>
            <button class="h-nav-item">
                <i class="fa-regular fa-envelope"></i>
                <div class=""></div>
            </button>
            <button class="h-nav-item">
                <i class="fa-regular fa-bell"></i>
            </button>
            <button class="h-nav-item">
                <div class="h-user-avatar"
                     style="background-image: url(https://d33pksfia2a94m.cloudfront.net/assets/img/avatar/avatar_blank.png)"></div>
                <div class="h-user-menu-popover">
                    <div class="h-current-user-container">
                        <div class="h-user-avatar-s">
                            <img class="profile-img" src="https://d33pksfia2a94m.cloudfront.net/assets/img/avatar/avatar_blank.png" alt="">
                        </div>
                        <div class="h-user-nickname">테스트 유저</div>
                    </div>
                    <hr class="h-popover-divider">
                    <a class="h-popover-menu-item" href="#">홈</a>
                    <a class="h-popover-menu-item" href="#">구독</a>
                    <a class="h-popover-menu-item" href="#">메시지</a>
                    <a class="h-popover-menu-item" href="#">알림</a>
                    <a class="h-popover-menu-item" href="#">보관함</a>
                    <a class="h-popover-menu-item" href="#">멤버십</a>
                    <a class="h-popover-menu-item" href="#">포인트/수익</a>
                    <a class="h-popover-menu-item" href="#">주문내역</a>
                    <a class="h-popover-menu-item" href="#">설정</a>
                    <hr class="h-popover-divider">
                    <a class="h-popover-menu-item" href="#">새 채널 만들기</a>
                    <a class="h-popover-menu-item" href="#">로그아웃</a>
                </div>
            </button>
        </div>
    </div>
</header>
</body>
<script src="https://kit.fontawesome.com/2364e2b536.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="blog-header.js"></script>
</html>