<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원스텝 - 아티스트 페이지</title>
    <link rel="icon" href="/images/icon.svg">
    <link rel="stylesheet" href="/css/main/root.css">
    <link rel="stylesheet" href="/css/artist/blog-header.css">
    <link rel="stylesheet" href="/css/artist/main.css">
    <script src="https://kit.fontawesome.com/2364e2b536.js" crossorigin="anonymous"></script>
</head>
<body>
<header th:replace="~{/artist/blog-header::blog-header}"></header>

<div id="blog"
     class="blog channel-home post-tile-md logged-user bg-gray-0 gray-990 header-size-md header-align-left header-sans-serif   post-list-view series-list-view header-title-tagline">
    <a id="skip" class="sr-only" href="#main">주요 내용으로 건너뛰기</a>
    <div id="header" class="header bg-gray-0" role="banner">
        <div id="header-custom" class="header-custom bg-gray-0 disabled-on-preview ">
            <div class="container">
                <div id="masthead" class="masthead d-flex">
                    <a class="channel-avatar" th:if="${artist.blogImgName == null}"
                       style="background-image: url(/images/none-avatar.svg); background-size: 80px; background-color: #E4E4E4"></a>

                    <a class="channel-avatar" th:unless="${artist.blogImgName == null}"
                       th:style="'background-image: url(' + @{/file/display(fileName=${artist.blogImgPath} + '/' + ${artist.blogImgName})} + ');'"></a>
                    <div class="action-group">
                        <a class="btn btn-icon btn-share" href="https://u-t-wp.postype.com" aria-label="공유" title="공유"
                           data-share-url="https://u-t-wp.postype.com">
                            <i class="fas fa-sign-out-alt fa-rotate-270"></i>
                        </a>
                        <button th:if="${session.member != null and artist.id != session.member.id}"
                                class="btn btn-strong btn-strong-pill btn-subscribe" type="button"
                                data-blog-id="1287845" aria-pressed="false" aria-label="구독하기">
                            <span class="default-text">구독하기</span>
                            <span class="active-text">구독중</span>
                        </button>
                    </div>
                    <span class="channel-meta">구독자 <span class="count" id="subscriberCount"></span>명 · 포스트 <span
                            class="count" id="postCount"></span>개</span>
                    <h1 class="masthead-title">
                        <div class="masthead-title-text">
                            <a th:text="${artist.artistBlogName}" th:href="@{/artist/main(id=${artist.id})}"></a>
                        </div>
                    </h1>
                </div>
                <div class="divider"></div>
                <div id="gnb-nav" class="gnb-nav">
                    <nav>
                        <ul>
                            <li>
                                <a class="active">홈</a>
                            </li>
                            <li>
                                <a th:href="@{/artist/post/list(id=${artist.id})}">게시글</a>
                            </li>
                            <li>
                                <a href="">영상</a>
                            </li>
                            <li>
                                <a href="">커뮤니티</a>
                            </li>
                            <li>
                                <a href="#">후원</a>
                            </li>
                            <li>
                                <a href="#">크라우드 펀딩</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <main id="main" class="main body-custom" role="main">
        <div id="content" class="content">
            <article class="ch-home">
                <div class="ch-home-aside">
                    <div class="sticky-top">
                        <section class="ch-home-author-bio">
                            <div class="ch-section-header">
                                <h4>아티스트</h4>
                            </div>
                            <div class="section-body">
                                <div class="author-bio">
                                    <div class="user-profile media align-items-center">
                                        <a class="profile-img-link profile-avatar avatar-36"
                                           href="https://www.postype.com/profile/@8q8la4" rel="author">
                                            <img class="profile-img"
                                                 src="/images/none-avatar.svg">
                                        </a>
                                        <div class="media-body profile-title-box">
                                            <span class="profile-title">
                                                <a th:text="${artist.memberNickname}"
                                                   href=" https://www.postype.com/profile/@8q8la4" rel="author"></a>
                                            </span>
                                        </div>
                                    </div>
                                    <p th:text="${artist.artistDescription}" class="text-alpha-black-60 mb-0"></p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="ch-home-body">
                    <section class="ch-home-pin-post hide">
                        <div id="pin-post">
                            <div id="pin-post-image"></div>
                            <div id="pin-post-info"></div>
                        </div>
                    </section>
                    <section class="ch-home-post">
                        <div class="ch-section-header">
                            <h4><a href="/posts">게시글</a></h4>
                            <a class="btn-icon" href="/posts">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <th:block th:if="${#lists.size(posts) != 0}">
                            <th:block th:each="post:${posts}">
                                <div th:object="${post}" class="article-list post-list channel-home-post-list">
                                    <div class="component-post list">
                                        <div>
                                            <div class="post">
                                                <div class="post-data">
                                                    <a th:href="@{/artist/post/detail(id=${post.id})}">
                                                        <h3 class="ellipsis-2 text-color-black"></h3>
                                                        <div class="ellipsis-2 text-alpha-black-47">
                                                            <h3 th:text="*{postTitle}"
                                                                class="ellipsis-2 text-color-black"></h3>
                                                            <h4 th:text="*{postSubtitle}"></h4>
                                                            <div class="divider"></div>
                                                            <p th:text="*{postContent}" class="post-content"></p>
                                                        </div>
                                                    </a>
                                                    <div th:if="*{tag1 != null}" class="post-tags">
                                                        <a href="#"
                                                           th:text="*{tag1}" class="general-tag"></a>
                                                        <a href="#"
                                                           th:if="*{tag2 != null}" th:text="*{tag2}"
                                                           class="general-tag"></a>
                                                        <a href="#"
                                                           th:if="*{tag3 != null}" th:text="*{tag3}"
                                                           class="general-tag"></a>
                                                        <a href="#"
                                                           th:if="*{tag4 != null}" th:text="*{tag4}"
                                                           class="general-tag"></a>
                                                        <a href="#"
                                                           th:if="*{tag5 != null}" th:text="*{tag5}"
                                                           class="general-tag"></a>
                                                    </div>
                                                </div>
                                                <th:block th:unless="*{fileName == null}">
                                                    <div class="post-data-thumbnail">
                                                        <a href="https://u-t-wp.postype.com/post/15313057">
                                                            <img th:src="@{/file/display(fileName=*{filePath} + '/t_' + *{fileName})}">
                                                        </a>
                                                    </div>
                                                </th:block>
                                            </div>
                                            <div class="post-info">
                                                <a class="user-profile-avatar avatar-32"
                                                   href="https://www.postype.com/profile/@8q8la4">
                                                    <img th:if="*{memberKakaoProfileUrl == null and memberProfileName == null}"
                                                         src="/images/none-avatar.svg">
                                                    <img th:if="*{memberKakaoProfileUrl != null and memberProfileName == null}"
                                                         th:src="*{memberKakaoProfileUrl}">
                                                </a>
                                                <div class="post-info-body">
                                                    <div class="user-profile-nickname text-truncate">
                                                        <a th:text="*{memberNickname}"
                                                           href="https://www.postype.com/profile/@8q8la4"
                                                           rel="author"></a>
                                                    </div>
                                                    <div class="post-meta text-alpha-black-47">
                                                        <span class="meta-item" title="조회수">
                                                            <i class="ic ic-eye" aria-label="조회수"></i>
                                                            <span th:text="*{postViewCount}" class="stats-count"></span>
                                                        </span>
                                                        <span class="meta-item" title="좋아요">
                                                            <i class="far fa-heart" aria-label="좋아요"></i>
                                                            <span th:text="*{likeCount}" class="stats-count"></span>
                                                        </span>
                                                        <span class="meta-item" title="댓글">
                                                            <i class="far fa-comment-dots"></i>
                                                            <span th:text="*{replyCount}" class="stats-count"></span>
                                                        </span>
                                                        <time class="meta-item time"
                                                              th:data-post-time="*{postWriteTime}"></time>
                                                    </div>
                                                </div>
                                                <div class="post-action">
                                                    <a class="btn btn-icon btn-scrap" data-post-id="15313057">
                                                        <i class="far fa-bookmark default-text"></i>
                                                        <i class="fas fa-bookmark active-text"></i>
                                                    </a>
                                                    <div class="dropdown">
                                                        <button class="btn btn-icon ic-secondary btn-more" type="button"
                                                                data-toggle="dropdown" aria-expanded="true"
                                                                aria-label="더보기"
                                                                title="더보기">
                                                            <i class="fas fa-ellipsis-h"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-right"
                                                            x-placement="bottom-end"
                                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-168px, 32px, 0px);">
                                                            <li>
                                                                <a class="btn-open-add-collection-modal"
                                                                   href="javascript:void(0);" data-post-id="15313057">
                                                                    <img src="https://d33pksfia2a94m.cloudfront.net/assets/img/collection/add_collection.svg"
                                                                         alt="" class="ic-add-collection">
                                                                    컬렉션에 추가하기 </a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item btn-share" href="#"
                                                                   data-share-url="https://posty.pe/fj428q"
                                                                   data-blog-title="우천시워터파크"
                                                                   data-post-title="우천시워터파크 드로잉 워크북 출시"
                                                                   data-tags="클래스 드로잉 미디어 클립스튜디오">
                                                                    <span class="order-2">공유하기</span>
                                                                    <i class="fas fa-sign-out-alt fa-rotate-270"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item btn-report-post" href="#"
                                                                   data-toggle="modal" data-target="#report-modal"
                                                                   data-post-id="15313057">
                                                                    <span class="order-2">신고하기</span>
                                                                    <i class="far fa-flag"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item btn-block-blog" href="#"
                                                                   data-blog-id="1287845">
                                                                    <span class="order-2">이 채널 보지 않기</span>
                                                                    <i class="fas fa-ban"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="component-post-divider"></div>
                                </div>
                            </th:block>
                        </th:block>
                        <th:block th:unless="${#lists.size(posts) != 0}">
                            <div class="content-none">게시글이 없습니다</div>
                        </th:block>
                        <div class="ch-section-footer">
                            <a th:href="@{/artist/post/list(id=${artist.id})}" class="btn btn-secondary">전체 보기
                                <i class="fas fa-chevron-right ml-2"></i>
                            </a>
                        </div>
                    </section>
                    <div id="store-section-insert-point" data-is-adult=""></div>
                    <section class="ch-home-series">
                        <div class="ch-section-header">
                            <h4><a href="/series">영상</a></h4>
                            <a class="btn-icon" href="/series">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <div id="videos-container" class="article-list series-list channel-home-series-list"></div>
                        <div class="ch-section-footer">
                            <a href="/series" class="btn btn-secondary">전체 보기
                                <i class="fas fa-chevron-right ml-2"></i>
                            </a>
                        </div>
                    </section>
                </div>
            </article>
        </div>
    </main>
</div>
</body>
<script th:inline="javascript">
    const session = /*[[${session.member}]]*/ null;
    console.log(session);

</script>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>
    // Ajax 공부겸 fetch 기능 작성함

    // 구독자 수와 포스트 수 가져오는 ajax 모듈 (이때 포스트는 artistPost와 video 합산임)
    function getCounts(artistId) {
        $.ajax({
            type: "GET",
            url: "/artist/get-counts?id=" + artistId,
            success: function (data) {
                $("#subscriberCount").text(data[0]);
                $("#postCount").text(data[1] + data[2]);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    // 비디오 로드 쿼리
    function loadVideos(artistId, callback) {
        $.ajax({
            type: "GET",
            url: "/artist/get-3videos?id=" + artistId,
            success: function (data) {
                if(callback){
                    callback(data)
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    function something(data){
        let videosContainer = $("#videos-container");
        let videoHtml = null;
        videosContainer.empty();

        if (data.length !== 0) {
            data.forEach(function (video) {
                let youtubeLink = `${video.videoLink}`;
                let thumbnailUrl = getYouTubeThumbnailUrl(youtubeLink);

                videoHtml = `<div class="component-series list">
                                <div class="series-data-thumbnail">
                                    <a href="#">
                                        <img src="${thumbnailUrl}">
                                    </a>
                                </div>
                                <div class="series">
                                    <div class="series-inner">
                                        <h3 class="text-truncate"><a href="https://u-t-wp.postype.com/series/925516/강좌">${video.postTitle}</a>
                                        </h3>
                                        <div class="series-meta-wrapper">
                                            <div class="user-profile-nickname text-truncate">
                                                <a class="text-color-black"
                                                   href="https://www.postype.com/profile/@8q8la4"
                                                   rel="author">${video.memberNickname}</a>
                                            </div>
                                            <div class="series-meta text-alpha-black-47">
                                                <span class="meta-item" title="조회수">
                                                    <i class="ic ic-eye" aria-label="조회수"></i>
                                                    <span class="stats-count">${video.postViewCount}</span>
                                                </span>
                                                <span class="meta-item" title="좋아요">
                                                    <i class="far fa-heart" aria-label="좋아요"></i>
                                                    <span class="stats-count">${video.likeCount}</span>
                                                </span>
                                                <span class="meta-item" title="댓글">
                                                    <i class="far fa-comment-dots"></i>
                                                    <span class="stats-count">${video.replyCount}</span>
                                                </span>
                                                <time class="meta-item">${getTimeGap(video.postWriteTime)}</time>
                                            </div>
                                        </div>
                                        <p class="ellipsis-2">
                                            <a href="https://u-t-wp.postype.com/series/925516/강좌">${video.postContent}</a>
                                        </p>
                                    </div>
                                    ${video.tag1 !== null ? `
                                    <div class="series-tags">
                                        ${video.tag1 !== null ? `
                                            <a href="#"
                                               class="general-tag">#${video.tag1}</a>
                                            ` : ''}
                                            ${video.tag2 !== null ? `
                                            <a href="#"
                                               class="general-tag">#${video.tag2}</a>
                                            ` : ''}
                                            ${video.tag3 !== null ? `
                                            <a href="#"
                                               class="general-tag">#${video.tag3}</a>
                                            ` : ''}
                                            ${video.tag4 !== null ? `
                                            <a href="#"
                                               class="general-tag">#${video.tag4}</a>
                                            ` : ''}
                                            ${video.tag5 !== null ? `
                                            <a href="#"
                                               class="general-tag">#${video.tag5}</a>
                                        ` : ''}
                                    </div>
                                    ` : ''}
                                </div>
                            </div>
                            <div class="component-series-divider"></div>`;

                videosContainer.append(videoHtml);
            });
        } else {
            videoHtml = `<div class="content-none">영상이 없습니다.</div>`;
            videosContainer.append(videoHtml);
        }
    }

    function checkSubscription(artistId, memberId, callback){
        $.ajax({
            type: "GET",
            url: "/artist/check-subscription?artistId =" + artistId + "&memberId =" + memberId,
            success: function (data) {
                if(callback){
                    callback(data)
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    function didISubscribe(data){
        let subscribeBtn = $(".btn-subscribe");
        let subscriptionHtml = null;

        if(data === -1){
            subscriptionHtml = `<span className="default-text">구독하기</span>`;
        } else {
            subscriptionHtml = `<span className="active-text">구독중</span>`;
        }
    }


    // 유튜브 링크를 통해 썸네일을 가져오는 함수
    function getYouTubeThumbnailUrl(youtubeLink) {
        // YouTube 비디오 ID 추출
        let videoId = youtubeLink.match(/v=([^&]+)/);
        if (videoId) {
            return `https://img.youtube.com/vi/${videoId[1]}/mqdefault.jpg`;
        }
        return null; // 유효한 YouTube 비디오 ID가 없는 경우
    }

    // 시간차이 계산 함수
    function getTimeGap(datetime) {
        const today = new Date();
        const date = new Date(datetime);
        let gap = Math.floor((today.getTime() - date.getTime()) / 1000 / 60);

        if (gap < 1) {
            return "방금 전";
        }

        if (gap < 60) {
            return `${gap}분 전`;
        }

        gap = Math.floor(gap / 60);

        if (gap < 24) {
            return `${gap}시간 전`;
        }

        gap = Math.floor(gap / 24);

        if (gap < 32) {
            return `${gap}일 전`;
        }

        gap = Math.floor(gap / 31);

        if (gap < 13) {
            return `${gap}개월 전`;
        }

        gap = Math.floor(gap / 12);

        return `${gap}년 전`;
    }

    // 페이지 로드시 비동기 불러옴
    $(document).ready(function () {
        getCounts([[${artist.id}]]);
        loadVideos([[${artist.id}]], something);
    })
</script>
<script src="/js/artist/blog-header.js"></script>
<script src="/js/artist/main.js"></script>
</html>