<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원스텝 - 아티스트 후원</title>
    <link rel="stylesheet" href="/css/main/root.css">
    <link rel="stylesheet" href="/css/artist/main.css">
    <link rel="stylesheet" href="/css/artist/blog-header.css">
    <link rel="stylesheet" href="/css/artist/crowd-funding/pay.css">
    <script src="https://kit.fontawesome.com/44012a5eeb.js" crossorigin="anonymous"></script>
</head>
<body>
<header th:replace="~{/artist/blog-header::blog-header}"></header>

<div id="blog"
     class="blog channel-home post-tile-md logged-user bg-gray-0 gray-990 header-size-md header-align-left header-sans-serif   post-list-view series-list-view header-title-tagline">
    <a id="skip" class="sr-only" href="#main">주요 내용으로 건너뛰기</a>
    <header id="header" class="header bg-gray-0" role="banner">
        <div id="header-custom" class="header-custom bg-gray-0 disabled-on-preview ">
            <div class="container">
                <div id="masthead" class="masthead d-flex">
                    <a class="channel-avatar" th:if="${artist.blogImgName == null}"
                       style="background-image: url(/images/none-avatar.svg); background-size: 80px; background-color: #E4E4E4">
                    </a>
                    <div class="action-group">
                        <a class="btn btn-icon btn-share" href="https://u-t-wp.postype.com" aria-label="공유" title="공유"
                           data-share-url="https://u-t-wp.postype.com">
                            <i class="fas fa-sign-out-alt fa-rotate-270"></i>
                        </a>
                        <button class="btn btn-strong btn-strong-pill btn-subscribe" type="button"
                                data-blog-id="1287845" aria-pressed="false" aria-label="구독하기">
                            <span class="default-text">구독하기</span>
                            <span class="active-text">구독중</span>
                        </button>
                    </div>
                    <span class="channel-meta">구독자 <span class="count"></span>명 · 포스트 <span
                            class="count"></span>개</span>
                    <h1 class="masthead-title">
                        <div class="masthead-title-text">
                            <a th:text="${artist.artistBlogName}"
                               th:href="@{/artist/main(memberId=${artist.memberId})}"></a>
                        </div>
                    </h1>
                </div>
                <div class="divider"></div>
                <div id="gnb-nav" class="gnb-nav">
                    <nav>
                        <ul>
                            <li>
                                <a th:href="@{/artist/main(memberId=${artist.memberId})}">홈</a>
                            </li>
                            <li>
                                <a th:href="@{/artist/post/list(memberId=${artist.memberId})}">게시글</a>
                            </li>
                            <li>
                                <a th:href="@{/artist/video/list(memberId=${artist.memberId})}">영상</a>
                            </li>
                            <li>
                                <a th:href="@{/artist/community/list(memberId=${artist.memberId})}">커뮤니티</a>
                            </li>
                            <li>
                                <a class="active">후원</a>
                            </li>
                            <li>
                                <a th:href="@{/artist/crowd-funding/list(memberId=${artist.memberId})}">크라우드
                                    펀딩</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="action-group">
                        <button class="btn btn-subscribe" type="button" data-blog-id="1287845" aria-pressed="false"
                                aria-label="구독하기">
                            <span class="default-text" aria-label="구독하기">
                                <i class="fas fa-plus"></i>
                                <span>구독</span>
                            </span>
                            <span class="active-text" aria-label="구독중"> <span>구독중</span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main id="main" class="main body-custom" role="main">
        <div id="content" class="content">
            <article class="ch-home">
                <div class="ch-home-body" style="width: 100vw; flex: unset; max-width: unset;">
                    <div class="content-container" style="padding: 0 26px;">
                        <div class="form-container">
                            <div class="title-container">
                                <h1 class="title">아티스트 후원</h1>
                            </div>
                            <div class="object-body">
                                <div class="table-head">
                                    <div class="table-cell">아티스트</div>
                                    <div class="table-cell">후원금</div>
                                </div>
                                <div class="table-body">
                                    <div class="table-cell">
                                        <a href="#" class="blog-link">
                                            <div class="blog-avatar">
                                                <img src="/images/none-avatar.svg" alt="">
                                            </div>
                                            <div class="blog-text">
                                                <h4 th:text="${artist.artistBlogName}" class="blog-title"></h4>
                                                <div th:text="${artist.memberNickname}" class="blog-owner"></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="table-cell">
                                        <strong class="funding-font">결제 할 금액</strong>
                                        <label>
                                            <input value="10000" class="funding-money-input" maxlength="8">
                                        </label>
                                        <span class="tx-won">원</span>
                                    </div>
                                </div>
                            </div>
                            <div class="object-body">
                                <h4 class="second-body-title">결제 정보를 입력해주세요.</h4>
                                <div class="form-group-row">
                                    <label for="name" class="col-form-label-sm col-sm-3">이름</label>
                                    <div class="form-group-input-con">
                                        <input id="name" name="name" class="form-control" value="" placeholder="예: 홍길동">
                                    </div>
                                </div>
                                <div class="form-group-row">
                                    <label for="name" class="col-form-label-sm col-sm-3">이메일</label>
                                    <div class="form-group-input-con">
                                        <input id="email" name="email" type="email" class="form-control"
                                               placeholder="예: onestep@gmail.com">
                                    </div>
                                </div>
                                <div class="form-group-row">
                                    <label for="name" class="col-form-label-sm col-sm-3">연락처</label>
                                    <div class="form-group-input-con">
                                        <input id="contact-number" name="contact_number" class="form-control" value=""
                                               placeholder="예: 01012345678">
                                    </div>
                                </div>
                            </div>
                            <div class="object-body justify-center" style="border-top: 1px solid rgba(0,0,0,.075)">
                                <a class="go-back-btn" href="javascript:history.back();">취소</a>
                                <button class="payment-summit-btn">결제하기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </main>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://js.bootpay.co.kr/bootpay-4.3.3.min.js" type="application/javascript"></script>
<script th:inline="javascript">
    function payment(amountOfMoney, name, email, tel) {
        // Bootpay.requestPayment 함수를 호출하고 입력란의 값으로 price 필드를 설정합니다.
        const response = Bootpay.requestPayment({
            "application_id": "59a4d323396fa607cbe75de4",
            "price": parseInt(amountOfMoney),
            "order_name": "테스트",
            "order_id": [[${artist.memberId}]],
            "pg": "웰컴",
            "tax_free": 0,
            "user": {
                "id": [[session.member.id]],
                "username": name,
                "phone": tel,
                "email": email
            },
            "items": [
                {
                    "id": [[${artist.memberId}]],
                    "name": "테스트",
                    "qty": 1,
                    "price": parseInt(amountOfMoney)
                }
            ],
            "extra": {
                "open_type": "iframe",
                "escrow": false
            }
        })
        switch (response.event) {
            case 'issued':
                // 가상계좌 입금 완료 처리
                break
            case 'done':
                console.log(response)
                // 결제 완료 처리
                break
            case 'confirm': //payload.extra.separately_confirmed = true; 일 경우 승인 전 해당 이벤트가 호출됨
                console.log(response.receipt_id)
                break
        }
    }

    $(".payment-summit-btn").click(() => {
        let amountOfMoney = $(".funding-money-input").val();
        let name = $("#name").val();
        let email = $("#email").val();
        let tel = $("#contact-number").val();

        payment(amountOfMoney, name, email, tel);
    });

</script>
</html>