<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원스텝 - 아티스트 후원</title>
    <link rel="stylesheet" href="../../root.css">
    <link rel="stylesheet" href="artist-main.css">
    <link rel="stylesheet" href="../../Namho/crowd-funding/crowd-funding-pay/pay.css">
    <script src="https://kit.fontawesome.com/44012a5eeb.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="blog" class="blog channel-home post-tile-md logged-user bg-gray-0 gray-990 header-size-md header-align-left header-sans-serif   post-list-view series-list-view header-title-tagline">
    <a id="skip" class="sr-only" href="#main">주요 내용으로 건너뛰기</a>
    <header id="header" class="header bg-gray-0" role="banner">
        <div id="header-custom" class="header-custom bg-gray-0 disabled-on-preview ">
            <div class="container">
                <div id="masthead" class="masthead d-flex">
                    <a class="channel-avatar" style="background-image: url(&quot;https://d3mcojo3jv0dbr.cloudfront.net/2023/04/19/22/37/8eba021654002792448102768.png?w=128&amp;h=128&amp;q=65&quot;); transform: scale(1);">
                    </a>
                    <div class="action-group">
                        <a class="btn btn-icon btn-share" href="https://u-t-wp.postype.com" aria-label="공유" title="공유" data-share-url="https://u-t-wp.postype.com">
                            <i class="fas fa-sign-out-alt fa-rotate-270"></i>
                        </a>
                        <button class="btn btn-strong btn-strong-pill btn-subscribe" type="button" data-blog-id="1287845" aria-pressed="false" aria-label="구독하기">
                            <span class="default-text">구독하기</span>
                            <span class="active-text">구독중</span>
                        </button>
                    </div>
                    <span class="channel-meta">구독자 <span class="count">4,568</span>명 · 포스트 <span class="count">14</span>개</span>
                    <h1 class="masthead-title">
                        <div class="masthead-title-text">
                            <a href="https://u-t-wp.postype.com">우천시워터파크</a>
                        </div>
                    </h1>
                    <div class="user-profile media align-items-center">
                        <a class="profile-img-link profile-avatar avatar-20" href="https://www.postype.com/profile/@8q8la4" rel="author">
                            <img class="profile-img" src="https://d3mcojo3jv0dbr.cloudfront.net/2023/04/19/22/36/455ce559e81e88acc801b0e025f0107a.png?w=128&amp;h=128&amp;q=65" alt="우천시워터파크">
                        </a>
                        <div class="media-body profile-title-box">
                            <span class="profile-title">
                                <a href="https://www.postype.com/profile/@8q8la4" rel="author">우천시워터파크</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div id="gnb-nav" class="gnb-nav">
                    <nav>
                        <ul>
                            <li>
                                <a href="/">홈</a>
                            </li>
                            <li>
                                <a href="/posts">게시글</a>
                            </li>
                            <li>
                                <a href="/series">영상</a>
                            </li>
                            <li>
                                <a href="/series">커뮤니티</a>
                            </li>
                            <li><a class="active" href="/about">후원</a></li>
                            <li><a href="/about">크라우드 펀딩</a></li>
                        </ul>
                    </nav>
                    <div class="action-group">
                        <button class="btn btn-subscribe" type="button" data-blog-id="1287845" aria-pressed="false" aria-label="구독하기">
                            <span class="default-text" aria-label="구독하기">
                                <i class="fas fa-plus"></i>
                                <span>구독</span>
                            </span>
                            <span class="active-text" aria-label="구독중"> <span>구독중</span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main id="main" class="main body-custom" role="main">
        <div id="content" class="content">
            <article class="ch-home">
                <div class="ch-home-body" style="width: 100vw; flex: unset; max-width: unset;">
                    <div class="content-container" style="padding: 0 26px;">
                        <div class="form-container">
                            <div class="title-container">
                                <h1 class="title">아티스트 후원</h1>
                            </div>
                            <div class="object-body">
                                <div class="table-head">
                                    <div class="table-cell">아티스트</div>
                                    <div class="table-cell">후원금</div>
                                </div>
                                <div class="table-body">
                                    <div class="table-cell">
                                        <a href="#" class="blog-link">
                                            <div class="blog-avatar">
                                                <img src="https://d3mcojo3jv0dbr.cloudfront.net/2023/03/17/11/42/f7f62317821624902723528984.png?w=64&amp;h=64&amp;q=65"
                                                     alt="">
                                            </div>
                                            <div class="blog-text">
                                                <h4 class="blog-title">아티스트 이름 테스트</h4>
                                                <div class="blog-owner">아티스트 소유자 테스트</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="table-cell">
                                        <strong class="funding-font">결제 할 금액</strong>
                                        <input value="10000" class="funding-money-input" maxlength="8">
                                        <span class="tx-won">원</span>
                                    </div>
                                </div>
                            </div>
                            <div class="object-body">
                                <h4 class="second-body-title">결제 정보를 입력해주세요.</h4>
                                <div class="form-group-row">
                                    <label for="name" class="col-form-label-sm col-sm-3">이름</label>
                                    <div class="form-group-input-con">
                                        <input id="name" name="name" class="form-control" value="" placeholder="예: 홍길동">
                                    </div>
                                </div>
                                <div class="form-group-row">
                                    <label for="name" class="col-form-label-sm col-sm-3">이메일</label>
                                    <div class="form-group-input-con">
                                        <input id="email" name="email" type="email" class="form-control" placeholder="예: onestep@gmail.com">
                                    </div>
                                </div>
                                <div class="form-group-row">
                                    <label for="name" class="col-form-label-sm col-sm-3">연락처</label>
                                    <div class="form-group-input-con">
                                        <input id="contact-number" name="contact_number" class="form-control" value=""
                                               placeholder="예: 01012345678">
                                    </div>
                                </div>
                            </div>
                            <div class="object-body justify-center" style="border-top: 1px solid rgba(0,0,0,.075)">
                                <a class="go-back-btn" href="javascript:history.back();">취소</a>
                                <button class="payment-summit-btn">결제하기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </main>
</div>
<!--<form class="modal show" id="create-post-form" tabindex="-1" action="https://zzang9sisterzzanga.postype.com/" style="display: block;">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header pb-0">-->
<!--                <h5 class="modal-title">새 포스트 쓰기</h5>-->
<!--                <button type="button" class="btn btn-icon btn-close" data-dismiss="modal" aria-label="닫기">-->
<!--                    <i class="fas fa-times"></i>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <div>-->
<!--                    <ul class="choose-editor">-->
<!--                        <a class="btn-create-normal-post" data-blog-id="1607714" href="https://www.postype.com/edit?type=normal" aria-label="새 포스트 쓰기" title="새 포스트 쓰기">-->
<!--                            <div class="d-flex">-->
<!--                                <div class="btn"><div class="post-basic-icon"></div></div>-->
<!--                                <div>-->
<!--                                    <h4>기본<span> 포스트</span></h4>-->
<!--                                    <p>자유로운 창작이 가능한 기본 포스트</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                        <a class="btn-create-cartoon-post" data-blog-id="1607714" href="https://www.postype.com/edit?type=cartoon" aria-label="새 카툰 포스트 쓰기" title="새 카툰 포스트 쓰기">-->
<!--                            <div class="d-flex">-->
<!--                                <div class="btn"><div class="post-cartoon-icon"></div></div>-->
<!--                                <div>-->
<!--                                    <h4>카툰<span> 포스트</span> <span class="badge badge-sm badge-primary">beta</span></h4>-->
<!--                                    <p>한 컷씩 넘겨보는 카툰 포스트</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                        <a disabled="" class="btn-create-video" data-blog-id="1607714" href="https://www.postype.com/edit?type=video" aria-label="새 비디오 포스트 쓰기" title="새 비디오 포스트 쓰기">-->
<!--                            <div class="d-flex">-->
<!--                                <div class="btn">-->
<!--                                    <i class="fas fa-video ml-1"></i>-->
<!--                                </div>-->
<!--                                <div>-->
<!--                                    <h4>동영상<span> 포스트</span> <span class="badge badge-sm badge-primary">beta</span></h4>-->
<!--                                    <p>직접 만든 영상을 올리는 동영상 포스트</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                        <a class="btn-create-goods disabled" data-blog-id="1607714" href="#" aria-label="새 상품 등록하기" title="새 상품 등록하기" aria-disabled="true">-->
<!--                            <div class="d-flex">-->
<!--                                <div class="btn"><div class="post-goods-icon"></div></div>-->
<!--                                <div>-->
<!--                                    <h4>스토어<span> 상품</span> <span class="badge badge-sm badge-primary">beta</span></h4>-->
<!--                                    <p>소장본, 굿즈 등 실물 상품을 판매하는 스토어</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="drafts-wrapper">-->
<!--                    <a class="align-items-center drafts-blog-title" href="https://studio.postype.com/zzang9sisterzzanga/posts/drafts">-->
<!--                        <h4 class="h6 d-inline mb-0">임시저장글</h4>-->
<!--                        <i class="fas fa-angle-right"></i>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <div class="draft-list"><div style="padding:20px;color:#aaa;" class="text-center" id="no-drafts">포스트가 없습니다.</div></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->
<!--<div class="modal-backdrop show"></div>-->
</body>
</html>