/* 웹페이지 기본이 될 css 입니다 경로 잘 설정해주세요 */
*,
::after,
::before {
    box-sizing: border-box;
}

/* 색상은 그대로 가져왔으니 필요하시면 있는 그대로 사용하시면 됩니다. */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

body {
    margin: 0;
    font-family: "Pretendard", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    min-width: 320px;
    color: #000;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
}

button, textarea, input {
    font-family: "Pretendard", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
}

ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

a,
a:hover {
    color: currentColor;
    text-decoration: none;
    outline: none;
}

input:focus {
    outline: none;
}

img {
    vertical-align: middle;
    border-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.h6, h6 {
    font-size: 1rem;
}

/* important */

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.d-none {
    display: none !important;
}

.text-alpha-black-47 {
    color: rgba(0, 0, 0, .47) !important;
}

.mr-0, .mx-0 {
    margin-right: 0 !important;
}

.justify-content-start {
    justify-content: flex-start!important;
}

.d-md-flex {
    display: flex !important;
}

.d-lg-inline-flex {
    display: inline-flex !important;
}

.justify-content-lg-end {
    justify-content: flex-end !important;
}

.d-lg-none {
    display: none!important;
}

.text-left {
    text-align: left!important;
}

.visible {
    visibility: visible!important;
}

/* 일반 */

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.btn {
    padding: calc(0.5rem - 1px) calc(1rem - 1px);
    line-height: 1.5rem;
    background: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, .btn {
    cursor: pointer;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 7px 15px;
    font-size: 15px;
    color: #000;
    border-radius: 4px;
}

.btn-icon {
    width: 32px;
    height: 32px;
    padding: 3px;
    line-height: 24px;
    border: 1px solid transparent;
}

button, .btn {
    transition: color .15s ease-in-out,background .15s ease-in-out,border-color .15s ease-in-out;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

[class*="fa-"] {
    font-size: 16px;
}

[class*="fa-"].fa-lg {
    font-size: 18px;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}

input:focus,
textarea:focus {
    outline: none;
}

.btn:hover {
    color: #3478ff;
}

.h3, h3 {
    font-size: 1.75rem;
}

.h4, h4 {
    font-size: 1.5rem;
}

.h5, h5 {
    font-size: 1.25rem;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 400;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.post-content.font-sans-serif>p, .post-content.font-sans-serif>blockquote, .post-content.font-sans-serif>h3, .post-content.font-sans-serif>h4, .post-content.font-sans-serif>h5, .post-content.font-sans-serif>h6, .post-content.font-sans-serif>table, .post-content.font-sans-serif>ul, .post-content.font-sans-serif>ol, .post-content.font-sans-serif>div, .post-content.font-sans-serif .fr-view>p, .post-content.font-sans-serif .fr-view>blockquote, .post-content.font-sans-serif .fr-view>h3, .post-content.font-sans-serif .fr-view>h4, .post-content.font-sans-serif .fr-view>h5, .post-content.font-sans-serif .fr-view>h6, .post-content.font-sans-serif .fr-view>table, .post-content.font-sans-serif .fr-view>ul, .post-content.font-sans-serif .fr-view>ol, .post-content.font-sans-serif .fr-view>div, .post-content .pay, .post-content .pay *:not([class*="fa-"]), .post-content .membership-only, .post-content .membership-only *:not([class*="fa-"]) {
    font-family: "Pretendard","Apple SD Gothic Neo","Malgun Gothic",sans-serif;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.mt60 {
    margin-top: 60px;
}

.mt48 {
    margin-top: 48px;
}