<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원스텝 | 크라우드 펀딩</title>
    <link rel="stylesheet" href="/css/main/root.css">
    <link rel="stylesheet" href="/css/artist/blog-header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/artist/crowd-funding/list.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" as="style"
          onload="this.rel='stylesheet'">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<div class="page-wrap">
    <header th:replace="~{/artist/blog-header::blog-header}"></header>
    <main style="padding-top: 60px;">
        <div class="blog-grid">
            <div class="blog-header">
                <a class="blog-img" th:if="${artist.blogImgName == null}"
                    style="background-image: url(/images/none-avatar.svg); background-size: 80px; background-color: #E4E4E4">
                </a>
                <a class="blog-img" th:unless="${artist.blogImgName == null}"
                   th:style="'background-image: url(' + @{/file/display(fileName=${artist.blogImgPath} + '/' + ${artist.blogImgName})} + ');'">
                </a>
                <span class="channel-meta">
                    구독자 <span class="count" id="subscriberCount"></span>명 ·
                    포스트 <span class="count" id="postCount"></span>개
                </span>
                <h1 class="blog-title">
                    <a th:text="${artist.artistBlogName}" th:href="@{/artist/main(id=${artist.memberId})}"></a>
                </h1>
                <div class="blog-action-container">
                    <a class="blog-action-share">
                        <i class="fa-solid fa-arrow-right-from-bracket fa-rotate-270"></i>
                    </a>
                    <button th:if="${session.member != null and artist.memberId != session.member.id}"
                            id="subscription-btn" class="blog-action-subscription-btn">
                    </button>
                    <a th:if="${session.member == null}" th:href="@{'/member/login'}">
                        <button class="blog-action-subscription-btn subscription-btn">
                            구독하기
                        </button>
                    </a>
                </div>
            </div>
            <div class="head-nav-bar">
                <ul>
                    <li>
                        <a href="">홈</a>
                    </li>
                    <li>
                        <a th:href="@{/artist/post/list(id=${artist.memberId})}">게시글</a>
                    </li>
                    <li>
                        <a href="">영상</a>
                    </li>
                    <li>
                        <a href="">커뮤니티</a>
                    </li>
                    <li>
                        <a href="#">후원</a>
                    </li>
                    <li>
                        <a class="active">크라우드 펀딩</a>
                    </li>
                </ul>
            </div>
            <div class="crowd-funding-wrap">
                <div class="crowd-funding-head">
                    <div style="display: flex; flex-wrap: wrap">
                        <span id="crowdFundingCount"></span>개의 크라우드 펀딩이 진행 중 입니다.
                    </div>
                    <a th:if="${session.member == null}" th:href="@{'/member/login'}">
                        <button class="go-to-write">크라우드 펀딩 요청하기</button>
                    </a>
                    <a th:if="${session.member != null}" th:href="@{/artist/crowd-funding/request(memberId=${artist.memberId})}">
                        <button class="go-to-write">크라우드 펀딩 요청하기</button>
                    </a>
                </div>
                <th:block th:if="${#lists.size(crowdFundings) != 0}">
                    <div th:block th:each="crowdFunding:${crowdFundings}" class="crowd-funding-container">
                        <article th:if="${artist.memberId == crowdFunding.writerId}" th:object="${crowdFunding}" class="crowd-funding-content">
                            <div class="post">
                                <div class="post-content">
                                    <h3 th:text="*{fundingTitle}" class="post-data-title">크라우드 펀딩 제목 테스트</h3>
                                    <p th:text="*{fundingContent}" class="post-data-content" >크라우드 펀딩 내용 테스트</p>
                                </div>
    <!--                            <div th:block th:unless="*{fileName == null}" class="post-image-container">-->
    <!--                                <img th:src="@{/file/display(fileName=*{filePath} + '/t_' + *{fileName})}">-->
    <!--                            </div>-->
                            </div>
                            <div class="join-btn-container">
                                <button class="join-crowd-funding-btn">
                                    <a href="/artist/crowd-funding/pay">
                                        <div class="join-crowd-funding-btn-font">크라우드 펀딩 참여하기</div>
                                    </a>
                                </button>
                            </div>
                            <div class="progress-percentage">
                                <span th:text="(*{fundingSumCollected} / *{fundingTargetAmount}) * 100" class="percentage-font"></span>
                                <span class="percentage-mark">%</span>
                            </div>
                            <div class="progress-total">
                                <div th:style="'width:' + ((*{fundingSumCollected} / *{fundingTargetAmount}) * 100) + '%;'" class="progress-bar" role="progressbar"></div>
                            </div>
                            <div class="funding-container">
                                <div class="funding">
                                    현재 모인 금액 :
                                    <span th:text="*{fundingSumCollected}" class="price"></span>원
                                </div>
                                <div class="funding">
                                    목표 금액 :
                                    <span th:text="*{fundingTargetAmount}" class="price"></span>원
                                </div>
                            </div>
                        </article>
                        <article th:unless="${artist.memberId == crowdFunding.writerId}" th:object="${crowdFunding}" class="crowd-funding-content">
                            <div class="post">
                                <div class="post-content">
                                    <h3 class="post-data-title">
                                        <span th:text="*{fundingTitle}">크라우드 펀딩 제목 테스트</span>
                                        <span class="post-info">
                                            <span style="color: hotpink">팬 요청</span>
                                            <hr class="title-divider">
                                            <div class="post-request-user">
                                                <a th:href="@{/artist/main(memberId=${crowdFunding.writerId})}" class="user-avatar-container">
                                                    <img th:if="${(artist.memberId != crowdFunding.writerId) && (crowdFunding.memberKakaoProfileUrl != null)}"
                                                         th:src="${crowdFunding.memberKakaoProfileUrl}">
                                                    <img th:if="${(artist.memberId != crowdFunding.writerId) && (crowdFunding.memberKakaoProfileUrl == null) && (crowdFunding.memberProfilePath !=null)}"
                                                         th:src="@{/file/display(fileName=${crowdFunding.memberProfilePath} + '/' + ${crowdFunding.memberProfileName})}">
                                                    <img th:unless="${(artist.memberId != crowdFunding.writerId) && (crowdFunding.memberKakaoProfileUrl == null) && (crowdFunding.memberProfilePath !=null)}"
                                                         class="no-avatar" src="https://d33pksfia2a94m.cloudfront.net/assets/img/avatar/avatar_blank.png">
                                                </a>
                                                <div class="artist-body">
                                                    <a th:href="@{/artist/main(memberId=${crowdFunding.writerId})}">
                                                        <h3 th:text="${crowdFunding.memberNickname}" class="artist-nickname">테스트 요청자 유저</h3>
                                                    </a>
                                                </div>
                                            </div>
                                        </span>
                                    </h3>
                                    <p th:text="*{fundingContent}" class="post-data-content">크라우드 펀딩 내용 테스트</p>
                                </div>
                            </div>
                            <div class="join-btn-container">
                                <button class="join-crowd-funding-btn">
                                    <a href="/artist/crowd-funding/pay">
                                        <div class="join-crowd-funding-btn-font">크라우드 펀딩 참여하기</div>
                                    </a>
                                </button>
                            </div>
                            <div class="progress-percentage">
                                <span th:text="(*{fundingSumCollected} / *{fundingTargetAmount}) * 100" class="percentage-font"></span>
                                <span class="percentage-mark">%</span>
                            </div>
                            <div class="progress-total">
                                <div th:style="'width:' + ((*{fundingSumCollected} / *{fundingTargetAmount}) * 100) + '%;'" class="progress-bar" role="progressbar"></div>
                            </div>
                            <div class="funding-container">
                                <div class="funding">
                                    현재 모인 금액 :
                                    <span th:text="*{fundingSumCollected}" class="price"></span>원
                                </div>
                                <div class="funding">
                                    목표 금액 :
                                    <span th:text="*{fundingTargetAmount}" class="price"></span>원
                                </div>
                            </div>
                        </article>
                    </div>
                </th:block>
                <th:block th:unless="${#lists.size(crowdFundings) != 0}">
                    <div class="content-none">진행중인 크라우드 펀딩이 없습니다</div>
                </th:block>
                <div id="page-wrap"></div>
            </div>
        </div>
    </main>
    <footer th:replace="~{main/footer :: footer}"></footer>
    <div class="modal">
        <div class="modal-container">
            <div class="modal-header">
                <h5 id="warning-modal-label" class="modal-title">알림</h5>
                <button type="button" class="btn btn-icon btn-close" data-dismiss="modal" aria-label="닫기">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-alert-message">테스트 메시지.</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-btn" data-dismiss="modal" id="modal-alert-confirm">확인</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://kit.fontawesome.com/2364e2b536.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/js/artist/blog-header.js"></script>
<script src="/js/artist/crowd-funding/list.js"></script>
<script th:inline="javascript">
    // 세션 값
    const session = [[${session.member}]];
    // 아티스트의 memberId (여러곳에서 사용해야 되므로 전역 상수로 선언)
    const artistId = [[${artist.memberId}]];
    // 크라우드 펀딩 목록
    const crowdFundings = [[${crowdFundings}]];
    // 구독버튼
    const subscriptionBtn = $("#subscription-btn");
    // 구독자 수 인디케이터
    const subscriberCount = $("#subscriberCount");

    // 구독자 수 (구독 버튼을 누르면 구독자수가 얼마인지 다시 조사하는 쿼리는 비효율적이므로 화면상에서만 변경처리)
    let currentCount = null;
    // 현재 구독상태인지 아닌지를 분별하기 위한 전역 변수
    let subscriptionStatus = null;


    // 구독자 수와 포스트 수 가져오는 ajax 모듈 (이때 포스트는 artistPost와 video 합산임)
    function getCounts(artistId) {
        // 아약스 문법은 j쿼리 버전의 페치임
        $.ajax({
            type: "GET",
            url: "/getCounts?id=" + artistId,
            success: function (data) {
                // data는 2칸의 배열을 반납, 0은 구독자 수, 1은 비디오 포스트와 일반 포스트의 합산
                // 현재 구독자수 전역변수에 구독자 수 삽입
                currentCount = data[0];
                subscriberCount.text(data[0]);
                $("#postCount").text(data[1] + data[2]);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    // 크라우드 펀딩 갯수를 가져오는 ajax 모듈
    function getCFCount(artistId){
        $.ajax({
            type: "GET",
            url: "/artist/crowd-funding/getCFCount?memberId=" + artistId,
            success: function (data) {
                $("#crowdFundingCount").text(data);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    // 로그인이 되어있을 시 클라이언트가 아티스트의 구독자인지 아닌지 구분하는 함수
    function checkSubscription(artistId, memberId, callback) {
        $.ajax({
            type: "GET",
            url: "/subscription/check-subscription?artistId=" + artistId + "&memberId=" + memberId,

            success: function (data) {
                // 불린타입으로 반납된 결과 값을 전역 변수에 대입
                subscriptionStatus = data;
                if (callback) {
                    callback(data)
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    // 구독버튼을 누를시.
    function updateSubscription(artistId, memberId, callback, callback2) {
        $.ajax({
            type: "GET",
            url: "/subscription/update-subscription?subscriptionStatus=" + subscriptionStatus + "&artistId=" + artistId + "&memberId=" + memberId,

            success: function (data) {
                subscriptionStatus = data;
                if (callback) {
                    callback(data)
                }
                if (callback2) {
                    callback2(data)
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        })
    }

    // data 값에 따라 구독버튼에 html 삽입
    function didISubscribe(data) {
        let subscriptionHtml = null;
        subscriptionBtn.empty();

        if (!data) {
            subscriptionHtml = `<span class="default-text">구독하기</span>`;
            subscriptionBtn.removeClass("active");
            subscriptionBtn.append(subscriptionHtml);
        } else if (data) {
            subscriptionHtml = `<span class="active-text">구독중</span>`;
            subscriptionBtn.addClass("active");
            subscriptionBtn.append(subscriptionHtml);
        }
    }

    // 화면상의 구독자 수 업데이트
    function updateSubscriberCount(data) {
        if (!data) {
            currentCount -= 1;
            subscriberCount.text(currentCount)
        } else {
            currentCount += 1;
            subscriberCount.text(currentCount)
        }
    }

    function getPageBtn() {
        const pageWrap = $("#page-wrap");
        const pagination = [[${pagination}]];
        let pagingText = ``;

        if (pagination.startPage > 1) {
            pagingText += `<a class="change-page" href="/artist/crowd-funding/list?memberId=[[${artist.memberId}]]&page=${pagination.startPage - 1}">이전</a>`;
        }
        for (let i = pagination.startPage; i <= pagination.endPage; i++) {
            let isActive = i === pagination.page ? 'active' : '';
            pagingText += `<a href="/artist/crowd-funding/list?memberId=[[${artist.memberId}]]&page=${i}" class="${isActive}"><span class="button-highlight">${i}</span></a>`;
        }
        if (pagination.endPage < pagination.realEnd) {
            pagingText += `<a class="change-page" href="/artist/crowd-funding/list?memberId=[[${artist.memberId}]]&page=${pagination.endPage + 1}">다음</a>`;
        }

        pageWrap.html(pagingText);
    }

    // 페이지 로드시 비동기 불러옴
    $(function () {
        getCounts(artistId);
        getCFCount(artistId);
        if (session != null) {
            checkSubscription(artistId, session.id, didISubscribe);
        }
        getPageBtn();
    });

    // 구독 버튼 누를시 작동되는 함수
    subscriptionBtn.click(() => {
        updateSubscription(artistId, session.id, didISubscribe, updateSubscriberCount);
    })
</script>
</html>