<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원스텝 | 크라우드 펀딩</title>
    <link rel="stylesheet" href="/css/main/root.css">
    <link rel="stylesheet" href="/css/artist/blog-header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/artist/crowd-funding/pay.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" as="style"
          onload="this.rel='stylesheet'">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<div class="page-wrap">
    <header th:replace="~{artist/blog-header::blog-header}"></header>
    <main class="mt60">
        <div class="content-container">
            <div class="form-container">
                <div class="title-container">
                    <h1 class="title">크라우드 펀딩 결제</h1>
                </div>
                <div class="object-body">
                    <div class="table-head">
                        <div class="table-cell">아티스트</div>
                        <div class="table-cell">후원금</div>
                    </div>
                    <div class="table-body">
                        <div class="table-cell">
                            <a href="#" class="blog-link">
                                <div class="blog-avatar">
                                    <img src="https://d3mcojo3jv0dbr.cloudfront.net/2023/03/17/11/42/f7f62317821624902723528984.png?w=64&amp;h=64&amp;q=65"
                                         alt="">
                                </div>
                                <div class="blog-text">
                                    <h4 class="blog-title">블로그 이름 테스트</h4>
                                    <div class="blog-owner">블로그 소유자 테스트</div>
                                </div>
                            </a>
                        </div>
                        <div class="table-cell">
                            <strong class="funding-font">결제 할 금액</strong>
                            <div class="input-container">
                                <input value="10000" class="funding-money-input" maxlength="8">
                                <span class="tx-won">원</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="object-body">
                    <h4 class="second-body-title">결제 정보를 입력해주세요.</h4>
                    <div class="form-group-row">
                        <label for="name" class="col-form-label-sm col-sm-3">이름</label>
                        <div class="form-group-input-con">
                            <input id="name" name="name" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group-row">
                        <label for="name" class="col-form-label-sm col-sm-3">이메일</label>
                        <div class="form-group-input-con">
                            <input id="email" name="email" type="email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group-row">
                        <label for="name" class="col-form-label-sm col-sm-3">연락처</label>
                        <div class="form-group-input-con">
                            <input id="contact-number" name="contact_number" class="form-control" value=""
                                   placeholder="예: 01012345678">
                        </div>
                    </div>
                </div>
                <div class="object-body justify-center" style="border-top: 1px solid rgba(0,0,0,.075)">
                    <a class="go-back-btn" href="javascript:history.back();">취소</a>
                    <button class="payment-summit-btn">결제하기</button>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{main/footer :: footer}"></footer>
</div>
</body>
<script src="https://kit.fontawesome.com/2364e2b536.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/js/artist/crowd-funding/pay.js"></script>
<script th:inline="javascript">
    const memberId = [[${memberId}]];
    alert('준비중인 서비스입니다.');
    // 로그인 페이지로 이동
    window.location.href = "list?memberId=" + memberId;
</script>
</html>