<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원스텝 | 크라우드 펀딩</title>
    <link rel="stylesheet" href="../../../root.css">
    <link rel="stylesheet" href="../../../static/css/artist/crowd-funding/write.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" as="style"
          onload="this.rel='stylesheet'">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<div class="page-wrap">
    <header style="width: 100%; height: 60px; position:fixed; top: 0"></header>
    <main class="mt60">
        <div class="blog-grid">
            <div class="crowd-funding-wrap">
                <div class="crowd-funding-head">
                    현재&nbsp;
                    <span>2</span>
                    개의 크라우드 펀딩 요청이 있습니다.
                </div>
                <div class="crowd-funding-container">
                    <article class="crowd-funding-content">
                        <div class="post">
                            <div class="post-content">
                                <h3 class="post-data-title">
                                    <span>팬 요청</span>
                                    <hr class="title-divider">
                                    크라우드 펀딩 제목 테스트
                                </h3>
                                <div class="post-request-user">
                                    <div href="#" class="user-avatar-container">
                                        <img src="https://d33pksfia2a94m.cloudfront.net/assets/img/avatar/avatar_blank.png"
                                             class="no-avatar">
                                    </div>
                                    <div class="artist-body">
                                        <div href="#">
                                            <h3 class="artist-nickname">테스트 요청자 유저</h3>
                                        </div>
                                    </div>
                                </div>
                                <p class="post-data-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Quisque varius, ante et posuere bibendum, felis massa scelerisque enim, quis
                                    imperdiet massa justo non lacus. Mauris posuere auctor lorem, vitae pellentesque
                                    dolor vehicula at. Aenean malesuada posuere erat, at condimentum nunc aliquet ut.
                                    Quisque euismod tristique turpis, nec aliquam urna laoreet a. Quisque venenatis,
                                    orci quis imperdiet vehicula, urna lacus commodo neque, vitae hendrerit magna quam
                                    ac odio. Integer convallis tristique varius. In sit amet neque tempor neque auctor
                                    maximus vel vitae lacus. Nunc sit amet viverra velit. Proin elit ex, vestibulum et
                                    turpis vel, consectetur hendrerit felis. Etiam rutrum tincidunt rutrum. Phasellus
                                    feugiat egestas varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus aliquam magna augue, a gravida orci lacinia vulputate.
                                </p>
                            </div>
                        </div>
                        <div class="summit-input-wrap">
                            <div class="row">
                                <div>
                                    <strong class="funding-font">목표 금액</strong>
                                    <input value="10000" class="funding-money-input" maxlength="8">
                                    <span class="tx-won">원</span>
                                </div>
                                <div class="accept-btn-wrap">
                                    <button class="summit-btn">작성완료</button>
                                    <button class="accept-cancel-btn">뒤로가기</button>
                                </div>
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <button class="accept-btn">수락하기</button>
                            <button class="refuse-btn">취소하기</button>
                        </div>
                    </article>
                    <article class="crowd-funding-content">
                        <div class="post">
                            <div class="post-content">
                                <h3 class="post-data-title">
                                    <span>팬 요청</span>
                                    <hr class="title-divider">
                                    크라우드 펀딩 제목 테스트
                                </h3>
                                <div class="post-request-user">
                                    <div href="#" class="user-avatar-container">
                                        <img src="https://d33pksfia2a94m.cloudfront.net/assets/img/avatar/avatar_blank.png"
                                             class="no-avatar">
                                    </div>
                                    <div class="artist-body">
                                        <div href="#">
                                            <h3 class="artist-nickname">테스트 요청자 유저</h3>
                                        </div>
                                    </div>
                                </div>
                                <p class="post-data-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Quisque varius, ante et posuere bibendum, felis massa scelerisque enim, quis
                                    imperdiet massa justo non lacus. Mauris posuere auctor lorem, vitae pellentesque
                                    dolor vehicula at. Aenean malesuada posuere erat, at condimentum nunc aliquet ut.
                                    Quisque euismod tristique turpis, nec aliquam urna laoreet a. Quisque venenatis,
                                    orci quis imperdiet vehicula, urna lacus commodo neque, vitae hendrerit magna quam
                                    ac odio. Integer convallis tristique varius. In sit amet neque tempor neque auctor
                                    maximus vel vitae lacus. Nunc sit amet viverra velit. Proin elit ex, vestibulum et
                                    turpis vel, consectetur hendrerit felis. Etiam rutrum tincidunt rutrum. Phasellus
                                    feugiat egestas varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus aliquam magna augue, a gravida orci lacinia vulputate.
                                </p>
                            </div>
                        </div>
                        <div class="summit-input-wrap">
                            <div class="row">
                                <div>
                                    <strong class="funding-font">목표 금액</strong>
                                    <input value="10000" class="funding-money-input" maxlength="8">
                                    <span class="tx-won">원</span>
                                </div>
                                <div class="accept-btn-wrap">
                                    <button class="summit-btn">작성완료</button>
                                    <button class="accept-cancel-btn">뒤로가기</button>
                                </div>
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <button class="accept-btn">수락하기</button>
                            <button class="refuse-btn">취소하기</button>
                        </div>
                    </article>
                </div>
            </div>
            <div class="request-wrap">
                <div class="crowd-funding-head" id="relative">
                    구독 중인 아티스트에게 크라우드 펀딩을 요청해보세요.
                    <button class="request-btn" id="slidedownBtn">요청하기</button>
                </div>
                <div class="request-form-wrap">
                    <div class="request-form-container">
                        <textarea class="form-content" cols="30" rows="10" maxlength="1000"></textarea>
                        <div class="request-btn-wrap">
                            <button class="request-btn">작성완료</button>
                            <button class="cancel-btn">취소</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
<script src="https://kit.fontawesome.com/2364e2b536.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="../../../static/js/artist/crowd-funding/write.js"></script>
</html>