.blog-grid {
    max-width: 1032px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

/* 블로그 헤드 ====================================================== */
.blog-header {
    padding-top: 68px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.blog-img {
    width: 80px;
    height: 80px;
    border-radius: 16px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .05), 0 0 0 4px rgba(255, 255, 255, 1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 1);
    transform-origin: bottom center;
    order: 1;
}

.channel-meta {
    font-size: 14px;
    color: rgba(0, 0, 0, .47);
    margin-top: 30px;
    order: 2;
}

.blog-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-indent: -0.025em;
    word-break: break-word;
    order: 3;
}

.blog-action-container {
    position: absolute;
    right: 0;
    bottom: 30px;
    display: flex;
    flex-direction: row;
}

.blog-action-share {
    color: rgba(0, 0, 0, .47);
    margin-right: 8px;
    width: 40px;
    height: 40px;
    min-width: 40px;
    padding: 7px;
    cursor: pointer;
}

.blog-action-share i {
    vertical-align: middle;
    font-size: 20px;
}

.blog-action-subscription-btn {
    margin-left: 4px;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    height: 36px;
    padding: 5px 14px;
    border-radius: 100px;
    border: 1px solid transparent;
}

.blog-action-subscription-btn.active {
    color: rgba(0, 0, 0, .47) !important;
    border: 1px solid rgba(0, 0, 0, .27) !important;
    background-color: transparent !important;
}

.blog-action-subscription-btn .active-text {
    display: none;
}

.blog-action-subscription-btn.active .default-text {
    display: none;
}

.blog-action-subscription-btn.active .active-text {
    display: inline;
}

.blog-action-subscription-btn:not(.active) .default-text {
    display: inline;
}

.blog-action-subscription-btn:not(.active) .active-text {
    display: none;
}

/* 네비게이션 바 ===================================================================================== */
.head-nav-bar {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.head-nav-bar:before {
    width: 100%;
    margin: 0;
    content: "";
    bottom: 0;
    position: absolute;
    height: 1px;
    background-color: rgba(0, 0, 0, .05);
}

.head-nav-bar ul {
    flex: 1;
    height: 56px;
    margin: 0 0 0 -20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0;
}

.head-nav-bar ul li {
    position: relative;
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 12px;
}

.head-nav-bar ul li:first-child {
    margin: 0;
    padding-left: 10px;
}

.head-nav-bar ul li:last-child {
    padding-right: 10px;
}

.head-nav-bar ul li a {
    font-size: 17px;
    line-height: 56px;
    font-weight: 600;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    transition: opacity .15s ease-in-out;
    color: #00000078;
}

.head-nav-bar ul li a:hover {
    color: #000;
}

.head-nav-bar ul li a.active {
    color: #000;
}

.head-nav-bar ul li a.active:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 10px;
    left: 10px;
    height: 2px;
    background-color: currentColor;
}

/* 커뮤니티 ============================================================================================== */
.article-wrap {
    margin-top: 40px;
}

.community-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding-bottom: 8px;
}

.go-to-write {
    border: 0;
    line-height: 1.5rem;
    color: #fff;
    background-color: #3478ff;
    cursor: pointer;
    padding: 5px 19px;
    font-size: 16px;
    border-radius: 4px;
    float: right;
}

.article-container {
    padding: 20px 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    word-break: break-all;
}

.post-category-container {
    margin-bottom: 7px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-category {
    font-size: 14px;
    font-weight: 400;
    line-height: 135%;
    color: #0000008A;
    margin: 0;
}

.post-category-devider {
    border: 0;
    border-left: 1px solid #0000008A;
    width: 0;
    height: 10px;
    margin: 0 12px;
}

.post {
    display: flex;
    flex-direction: row;
    flex: 1;
    word-wrap: break-word;
}

.post-data {
    flex: 1;
    overflow: hidden;
}

.post-data-title {
    margin: 0 0 7px;
    font-size: 20px;
    font-weight: 600;
    line-height: 135%;
    color: #000;
}

.post-data-content {
    font-size: 14px;
    color: rgba(0, 0, 0, .47);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
}

.post-tags-container {
    margin-top: 11px;
    height: 22px;
    display: flex;
    line-height: 0;
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
}

.post-tag {
    font-weight: 400;
    font-size: 14px;
    line-height: 20.3px;
    padding: 1px 6px;
    margin-right: 6px;
    color: rgba(0, 0, 0, .47);
    text-align: center;
    background: rgba(0, 0, 0, .05);
    border-radius: 3px;
    transition: background-color .15s ease-in-out;
}

.post-tag:hover {
    background-color: #0000001A;
}

.post-thumbnail {
    margin-left: 24px;
}

.post-thumbnail a {
    position: relative;
    display: block;
    height: 108px;
}

.post-thumbnail a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 8px;
}

.post-thumbnail img {
    width: 144px;
    height: 108px;
    background-color: #F7F7F7;
    border-radius: 8px;
    object-fit: cover;
}

.post-info {
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.user-avatar-container {
    display: block;
    position: relative;
    margin-right: 8px;
    width: 32px;
    height: 32px;
    min-width: 32px;
    border-radius: 50%;
    background-color: #fff;
    object-fit: cover;
    overflow: hidden;
}

.user-avatar-container::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: inherit;
    height: inherit;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .05);
}

.user-avatar-container img {
    width: 32px;
    height: 32px;
}

.post-info-body {
    width: 100%;
}

.post-nickname {
    font-size: 13px;
    line-height: 135%;
    font-weight: 500;
}

.post-counters-container {
    position: relative;
    height: 16px;
    margin-top: 1px;
    font-size: 12px;
    line-height: 130%;
    overflow: hidden;
    color: rgba(0, 0, 0, .47) !important;
    width: 100%;
    align-items: center;
}

.meta-item {
    margin-right: 8px;
    text-align: center;
}

.eye-pic {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 16px;
    opacity: .47;
    background-size: 13px 13px;
    vertical-align: top;
    background-image: url(https://d33pksfia2a94m.cloudfront.net/assets/img/icon/ic_eye_black.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: center top;
    top: 1px;
}

.heart-pic {
    position: relative;
    top: 20%;
}

.stats-count {
    position: relative;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
}

.post-action {
    display: flex;
    justify-content: flex-end;
    min-width: 64px;
    margin-left: 24px;
}

.post-bookmark {
    min-width: 32px;
    width: 32px;
    height: 32px;
    padding: 7px;
    color: rgba(0, 0, 0, .47);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookmark-icon {
    display: none;
    fill: rgba(0, 0, 0, .47);
}

.bookmark-icon.active {
    display: flex;
}

.post-dropdown {
    border: 0;
    background-color: transparent;
    margin-left: 4px;
    min-width: 32px;
    width: 32px;
    height: 32px;
    padding: 7px;
    color: rgba(0, 0, 0, .47);
    cursor: pointer;
    position: relative;
}

.action-dropdown-container {
    display: none;
    position: absolute;
    min-width: 200px;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 1rem;
    color: #606060;
    border-radius: 5px;
    z-index: 10;
    float: left;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(-168px, 32px, 0px);
    flex-direction: column;
}

.dropdown-action {
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: relative;
    padding: 6px 20px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
}

.dropdown-action-icon {
    fill: rgba(0, 0, 0, .47);
    margin-right: 12px;
}

.dropdown-action:hover {
    background-color: #f8f8f8;
    color: #000;
    font-weight: 400;
}

.dropdown-action:hover .dropdown-action-icon {
    fill: #000;
}

/* 아티클 없을 시 ========================================================================= */
.no-article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    min-height: 160px;
    max-height: 240px;
    padding: 32px;
    margin: 0;
    font-size: 15px;
    line-height: 1.4;
    text-align: center;
    word-break: keep-all;
    color: #757575;
}

.fixed-info-container {
    margin: auto 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 15;
    transform: translateY(-50px);
    width: 250px;
    pointer-events: none !important;
    letter-spacing: normal;
}

.pop-up-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 0 0 5px;
    border-radius: 4px;
    font-size: 12px;
    font-family: arial, sans-serif;
    line-height: 17px;
    position: relative;
    pointer-events: all !important;
    background-color: #444;
    color: #fff;
    background-color: rgb(2, 2, 2);
    text-align: left;
}

.erase-pop-up-btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

/* 모달 =========================================================================  */
.modal {
    display: flex;
    display: none;
    right: unset;
    bottom: unset;
    width: 100%;
    height: 100%;
    padding-right: 17px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}


.modal-container {
    display: flex;
    display: none;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    margin: 30px auto;
    max-width: 400px;
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.modal-header {
    position: relative;
    padding: 20px 24px 0;
    line-height: 20px;
    border-color: rgba(0, 0, 0, .1);
}

.btn-close {
    position: absolute;
    top: 13px;
    right: 14px;
}

.modal-body {
    max-height: calc(100% - 45px);
    overflow-y: auto;
    padding: 24px 24px 20px 24px;
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.modal-footer {
    position: relative;
    padding: 10px 24px;
    border-color: rgba(0, 0, 0, .1);
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border-top: 1px solid #e9ecef;
}

.modal-btn {
    color: #3478ff !important;
    background-color: #fff;
    border: 1px solid #3478ff;
    box-shadow: 0 0 0 0.2rem rgba(52, 120, 255, .25);
    min-width: 72px;
    cursor: pointer;
    height: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    font-size: 15px;
    border-radius: 4px;
}

/* 미디어 ============================================================================ */
@media (max-width: 1000px) {
    header {
        height: 56px;
    }

    .blog-header {
        padding: 30px 0;
        margin: 0 20px;
    }

    .blog-img {
        width: 74px;
        height: 74px;
        min-width: 74px;
    }

    .blog-action-container {
        top: 68px;
    }

    .blog-title {
        font-size: 26px;
    }

    .head-nav-bar {
        padding: 0 20px;
    }

    .head-nav-bar ul {
        height: 48px;
    }

    .head-nav-bar ul li a {
        font-size: 15px;
        height: 48px;
    }

    .head-nav-bar:after {
        width: 100%;
        margin: 0;
        content: "";
        left: 0;
        top: 0;
        position: absolute;
        height: 1px;
        background-color: rgba(0, 0, 0, .05);
    }

    .crowd-funding-head {
        flex-direction: column;
    }

    .article-wrap {
        padding: 0 10px;
    }
}