<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.onestepback.mapper.ArtistCrowdFundingMapper">
    <select id="selectCountOfCF" resultType="int">
        SELECT COUNT(ID)
        FROM TBL_CROWDFUNDING
        WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="selectAll" resultType="crowdFundingDTO">
        SELECT ID, MEMBER_ID, WRITER_ID, FUNDING_TITLE, FUNDING_CONTENT, FUNDING_IMG_NAME, FUNDING_IMG_PATH, FUNDING_SUM_COLLECTED, FUNDING_TARGET_AMOUNT, FUNDING_STATUS, FUNDING_WRITE_TIME, FUNDING_UPDATE_TIME, FUNDING_TIME_LIMIT, WRITER_MEMBER_ID, MEMBER_NICKNAME, MEMBER_KAKAO_PROFILE_URL, MEMBER_PROFILE_NAME, MEMBER_PROFILE_PATH FROM
            (
                SELECT ROWNUM R, ID, MEMBER_ID, WRITER_ID, FUNDING_TITLE, FUNDING_CONTENT, FUNDING_IMG_NAME, FUNDING_IMG_PATH, FUNDING_SUM_COLLECTED, FUNDING_TARGET_AMOUNT, FUNDING_STATUS, FUNDING_WRITE_TIME, FUNDING_UPDATE_TIME, FUNDING_TIME_LIMIT, WRITER_MEMBER_ID, MEMBER_NICKNAME, MEMBER_KAKAO_PROFILE_URL, MEMBER_PROFILE_NAME, MEMBER_PROFILE_PATH FROM
                    (
                        SELECT CF.ID, MEMBER_ID, WRITER_ID, FUNDING_TITLE, FUNDING_CONTENT, FUNDING_IMG_NAME, FUNDING_IMG_PATH, FUNDING_SUM_COLLECTED, FUNDING_TARGET_AMOUNT, FUNDING_STATUS, FUNDING_WRITE_TIME, FUNDING_UPDATE_TIME, FUNDING_TIME_LIMIT, M.ID AS "WRITER_MEMBER_ID", MEMBER_NICKNAME, MEMBER_KAKAO_PROFILE_URL, MEMBER_PROFILE_NAME, MEMBER_PROFILE_PATH
                        FROM TBL_CROWDFUNDING CF JOIN TBL_MEMBER M
                                                   ON WRITER_ID = M.ID AND MEMBER_ID = #{memberId} AND FUNDING_TIME_LIMIT > FUNDING_WRITE_TIME
                        ORDER BY ID DESC
                    ) P1
    <![CDATA[
                WHERE ROWNUM <= #{pagination.endRow}
            ) P2
        WHERE P2.R >= #{pagination.startRow}
        ]]>
    </select>

    <select id="select" resultType="crowdFundingDTO">
        SELECT CF.ID, MEMBER_ID, WRITER_ID, FUNDING_TITLE, FUNDING_CONTENT, FUNDING_IMG_NAME, FUNDING_IMG_PATH, FUNDING_SUM_COLLECTED, FUNDING_TARGET_AMOUNT, FUNDING_STATUS, FUNDING_WRITE_TIME, FUNDING_UPDATE_TIME, FUNDING_TIME_LIMIT, M.ID AS "WRITER_MEMBER_ID", MEMBER_NICKNAME, MEMBER_KAKAO_PROFILE_URL, MEMBER_PROFILE_NAME, MEMBER_PROFILE_PATH
        FROM TBL_CROWDFUNDING CF JOIN TBL_MEMBER M
                                      ON WRITER_ID = M.ID AND MEMBER_ID = #{memberId}
    </select>

    <select id="selectCountOfFR" resultType="int">
        SELECT COUNT(ID)
        FROM TBL_FUNDING_REQUEST
        WHERE MEMBER_ID = #{memberId} AND FUNDING_REQUEST_STATUS = 'REQUESTED'
    </select>

    <select id="selectAllRequests" resultType="fundingRequestDTO">
        SELECT ID, MEMBER_ID, WRITER_ID, FUNDING_REQUEST_TITLE, FUNDING_REQUEST_CONTENT, FUNDING_REQUEST_STATUS, WRITER_MEMBER_ID, MEMBER_NICKNAME, MEMBER_KAKAO_PROFILE_URL, MEMBER_PROFILE_NAME, MEMBER_PROFILE_PATH FROM
            (
                SELECT ROWNUM R, ID, MEMBER_ID, WRITER_ID, FUNDING_REQUEST_TITLE, FUNDING_REQUEST_CONTENT, FUNDING_REQUEST_STATUS, WRITER_MEMBER_ID, MEMBER_NICKNAME, MEMBER_KAKAO_PROFILE_URL, MEMBER_PROFILE_NAME, MEMBER_PROFILE_PATH FROM
                    (
                        SELECT FR.ID, MEMBER_ID, WRITER_ID, FUNDING_REQUEST_TITLE, FUNDING_REQUEST_CONTENT, FUNDING_REQUEST_STATUS, M.ID AS "WRITER_MEMBER_ID", MEMBER_NICKNAME, MEMBER_KAKAO_PROFILE_URL, MEMBER_PROFILE_NAME, MEMBER_PROFILE_PATH
                        FROM TBL_FUNDING_REQUEST FR JOIN TBL_MEMBER M
                                                      ON WRITER_ID = M.ID AND MEMBER_ID = #{memberId} AND FUNDING_REQUEST_STATUS = 'REQUESTED'
                        ORDER BY ID DESC
                    ) P1
    <![CDATA[
                WHERE ROWNUM <= #{pagination.endRow}
            ) P2
        WHERE P2.R >= #{pagination.startRow}
        ]]>
    </select>

    <select id="selectRequest" resultType="fundingRequestDTO">
        SELECT FR.ID, MEMBER_ID, WRITER_ID, FUNDING_REQUEST_TITLE, FUNDING_REQUEST_CONTENT, FUNDING_REQUEST_STATUS, M.ID AS "WRITER_MEMBER_ID", MEMBER_NICKNAME, MEMBER_KAKAO_PROFILE_URL, MEMBER_PROFILE_NAME, MEMBER_PROFILE_PATH
        FROM TBL_FUNDING_REQUEST FR JOIN TBL_MEMBER M
                                         ON WRITER_ID = M.ID AND MEMBER_ID = #{memberId} AND FUNDING_REQUEST_STATUS = 'REQUESTED'
    </select>

    <insert id="insertRequest">
        INSERT INTO TBL_FUNDING_REQUEST (ID, MEMBER_ID, WRITER_ID, FUNDING_REQUEST_TITLE, FUNDING_REQUEST_CONTENT)
        VALUES (SEQ_FUNDING_REQUEST.NEXTVAL, #{memberId}, #{writerId}, #{fundingRequestTitle}, #{fundingRequestContent})
    </insert>

    <insert id="insert">
        INSERT INTO TBL_CROWDFUNDING (ID, MEMBER_ID, WRITER_ID, FUNDING_TITLE, FUNDING_CONTENT, FUNDING_TARGET_AMOUNT, FUNDING_WRITE_TIME, FUNDING_TIME_LIMIT)
        VALUES (SEQ_CROWDFUNDING.NEXTVAL, #{memberId}, #{writerId}, #{fundingTitle}, #{fundingContent}, #{fundingTargetAmount}, SYSDATE, TO_DATE(#{fundingTimeLimit}, 'YYYY-MM-DD'))
    </insert>

    <update id="updateToAccepted">
        UPDATE TBL_FUNDING_REQUEST
        SET FUNDING_REQUEST_STATUS = 'ACCEPTED'
        WHERE ID = #{id}
    </update>

    <update id="updateToRejected">
        UPDATE TBL_FUNDING_REQUEST
        SET FUNDING_REQUEST_STATUS = 'REJECTED'
        WHERE ID = #{id}
    </update>

    <update id="updateToEnded">
        UPDATE TBL_CROWDFUNDING
        SET FUNDING_CONTENT = 'ENDED', FUNDING_UPDATE_TIME = SYSDATE
        WHERE ID = #{id}
    </update>

    <select id="select4Randomly" resultType="crowdFundingDTO">
        SELECT *
        FROM (SELECT F.ID,
                     F.MEMBER_ID,
                     F.FUNDING_TITLE,
                     F.FUNDING_CONTENT,
                     F.FUNDING_IMG_NAME,
                     F.FUNDING_IMG_PATH,
                     F.FUNDING_SUM_COLLECTED,
                     F.FUNDING_TARGET_AMOUNT,
                     F.FUNDING_STATUS,
                     M.MEMBER_NICKNAME,
                     M.MEMBER_KAKAO_PROFILE_URL,
                     M.MEMBER_PROFILE_NAME,
                     M.MEMBER_PROFILE_PATH
              FROM TBL_CROWDFUNDING F
                       JOIN TBL_MEMBER M ON F.MEMBER_ID = M.ID
              WHERE FUNDING_STATUS = 'ONGOING'
              ORDER BY DBMS_RANDOM.VALUE)
        WHERE ROWNUM &lt;= 4
    </select>

</mapper>
