<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.onestepback.mapper.CombinedPostMapper">
    <select id="select5Posts" resultType="combinedPostDTO">
        SELECT *
        FROM (SELECT P.ID,
                     P.MEMBER_ID,
                     P.POST_TITLE,
                     P.POST_CONTENT,
                     P.POST_CATEGORY,
                     V.VIDEO_LINK,
                     M.MEMBER_NICKNAME,
                     M.MEMBER_KAKAO_PROFILE_URL,
                     M.MEMBER_PROFILE_NAME,
                     M.MEMBER_PROFILE_PATH,
                     (SELECT COUNT(L.POST_ID)
                      FROM TBL_POST_LIKE L
                      WHERE L.POST_ID = P.ID)                                                AS LIKE_COUNT,
                     (SELECT COUNT(R.POST_ID)
                      FROM TBL_POST_REPLY R
                      WHERE R.POST_ID = P.ID)                                                AS REPLY_COUNT,
                     (SELECT F.FILE_NAME
                      FROM TBL_POST_FILE F
                      WHERE F.POST_ID = P.ID
                        AND F.ID = (SELECT MIN(ID) FROM TBL_POST_FILE WHERE POST_ID = P.ID)) AS FILE_NAME,
                     (SELECT F.FILE_PATH
                      FROM TBL_POST_FILE F
                      WHERE F.POST_ID = P.ID
                        AND F.ID = (SELECT MIN(ID) FROM TBL_POST_FILE WHERE POST_ID = P.ID)) AS FILE_PATH
              FROM TBL_POST P
                       LEFT JOIN TBL_ARTIST_POST A ON P.ID = A.POST_ID
                       LEFT JOIN TBL_VIDEO_POST V ON P.ID = V.POST_ID
                       JOIN TBL_MEMBER M ON P.MEMBER_ID = M.ID
              ORDER BY LIKE_COUNT DESC, P.POST_VIEW_COUNT DESC, REPLY_COUNT DESC, P.ID DESC)
        WHERE ROWNUM &lt;= 5
    </select>

    <select id="select4Posts" resultType="combinedPostDTO">
        SELECT *
        FROM (SELECT A.ID,
                     A.MEMBER_ID,
                     A.POST_TITLE,
                     A.POST_CONTENT,
                     A.POST_VIEW_COUNT,
                     A.POST_WRITE_TIME,
                     A.POST_UPDATE_TIME,
                     M.MEMBER_NICKNAME,
                     M.MEMBER_KAKAO_PROFILE_URL,
                     M.MEMBER_PROFILE_NAME,
                     M.MEMBER_PROFILE_PATH,
                     (SELECT COUNT(L.POST_ID)
                      FROM TBL_POST_LIKE L
                      WHERE L.POST_ID = A.ID)                                                AS LIKE_COUNT,
                     (SELECT COUNT(R.POST_ID)
                      FROM TBL_POST_REPLY R
                      WHERE R.POST_ID = A.ID)                                                AS REPLY_COUNT,
                     (SELECT F.FILE_NAME
                      FROM TBL_POST_FILE F
                      WHERE F.POST_ID = A.ID
                        AND F.ID = (SELECT MIN(ID) FROM TBL_POST_FILE WHERE POST_ID = A.ID)) AS FILE_NAME,
                     (SELECT F.FILE_PATH
                      FROM TBL_POST_FILE F
                      WHERE F.POST_ID = A.ID
                        AND F.ID = (SELECT MIN(ID) FROM TBL_POST_FILE WHERE POST_ID = A.ID)) AS FILE_PATH
              FROM VIEW_ARTIST_POST A
                       JOIN TBL_MEMBER M ON A.MEMBER_ID = M.ID
              WHERE A.POST_WRITE_TIME >= (SYSDATE - INTERVAL '1' MONTH)
              ORDER BY POST_VIEW_COUNT DESC, LIKE_COUNT DESC, REPLY_COUNT DESC, ID DESC)
        WHERE ROWNUM &lt;= 4
    </select>

    <select id="selectLatestOne" resultType="combinedPostDTO">
        SELECT *
        FROM (SELECT P.ID,
                     P.MEMBER_ID,
                     P.POST_TITLE,
                     P.POST_SUBTITLE,
                     P.POST_CONTENT,
                     P.POST_CATEGORY,
                     P.POST_VIEW_COUNT,
                     P.POST_WRITE_TIME,
                     P.POST_UPDATE_TIME,
                     V.VIDEO_LINK,
                     (SELECT COUNT(L.POST_ID)
                      FROM TBL_POST_LIKE L
                      WHERE L.POST_ID = P.ID) AS LIKE_COUNT
              FROM TBL_POST P
                       LEFT JOIN TBL_ARTIST_POST A ON P.ID = A.POST_ID
                       LEFT JOIN TBL_VIDEO_POST V ON P.ID = V.POST_ID
              WHERE P.MEMBER_ID = #{memberId}
              ORDER BY LIKE_COUNT, P.POST_VIEW_COUNT, P.ID DESC)
        WHERE ROWNUM = 1
    </select>
</mapper>