<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.onestepback.repository.PaymentHistoryMapper">
    <insert id="insert">
        INSERT INTO TBL_PAYMENT_HISTORY (MEMBER_ID,
                                         SUBSCRIPTION_ID,
                                         IMP_UID,
                                         MERCHANT_UID,
                                         AMOUNT,
                                         PAYMENT_TYPE,
                                         STATUS)
        VALUES (#{memberId},
                #{subscriptionId},
                #{impUid},
                #{merchantUid},
                #{amount},
                #{paymentType},
                #{status})
    </insert>

    <insert id="insertFundingIncomeBulk">
        INSERT INTO TBL_PAYMENT_HISTORY (MEMBER_ID,
                                         MERCHANT_UID,
                                         IMP_UID,
                                         AMOUNT,
                                         PAYMENT_TYPE,
                                         FUNDING_ID,
                                         STATUS,
                                         CREATED_TIME)
        SELECT MEMBER_ID,
               MERCHANT_UID,
               IMP_UID,
               AMOUNT,
               'FUNDING',
               #{fundingId},
               'PAID',
               SYSTIMESTAMP
        FROM TBL_FUNDING_PAYMENT
        WHERE FUNDING_ID = #{fundingId}
          AND STATUS = 'PAID'
    </insert>

    <update id="updateSettlementId">
        UPDATE TBL_PAYMENT_HISTORY
        SET SETTLEMENT_ID = #{settlementId}
        WHERE ID IN (SELECT PH.ID
                     FROM TBL_PAYMENT_HISTORY PH
                              LEFT JOIN TBL_SUBSCRIPTION S ON PH.SUBSCRIPTION_ID = S.ID
                              LEFT JOIN TBL_CROWDFUNDING F ON PH.FUNDING_ID = F.ID
                     WHERE COALESCE(S.ARTIST_ID, F.ARTIST_ID) = #{artistId}
                       AND PH.STATUS = 'PAID'
                       AND PH.SETTLEMENT_ID IS NULL)
    </update>

    <update id="updateSettlementIdToNull">
        UPDATE TBL_PAYMENT_HISTORY
        SET SETTLEMENT_ID = NULL
        WHERE SETTLEMENT_ID = #{settlementId}
    </update>
</mapper>