<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.onestepback.mapper.PostMapper">
    <update id="updateViewCount">
        UPDATE TBL_POST
        SET POST_VIEW_COUNT = POST_VIEW_COUNT + 1
        WHERE ID = #{id}
    </update>

    <update id="softDelete">
        UPDATE TBL_POST
        SET POST_STATUS   = 'DELETED',
            MODIFIED_TIME = CURRENT_TIMESTAMP
        WHERE ID = #{postId}
          AND ARTIST_ID = #{artistId}
    </update>
</mapper>