<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.onestepback.mapper.PostTagMapper">
    <select id="selectAll" resultType="String">
        SELECT POST_TAG_NAME
        FROM TBL_POST_TAG
        WHERE POST_ID = #{postId}
    </select>

    <insert id="insert">
        INSERT INTO TBL_POST_TAG(POST_ID, POST_TAG_NAME)
        VALUES (#{postId}, #{postTagName})
    </insert>

    <delete id="delete">
        DELETE
        FROM TBL_POST_TAG
        WHERE POST_ID = #{postId}
    </delete>
</mapper>