<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.onestepback.mapper.SponsorshipMapper">
    <select id="select" resultType="sponsorshipVO">
        SELECT ID, ARTIST_ID, MEMBER_ID, SPONSOR_NAME, SPONSOR_EMAIL, SPONSOR_TEL, SPONSORSHIP_MONEY, PAYMENT_STATUS, PAYMENT_TIME, PAYMENT_CANCELED_TIME
            FROM TBL_SPONSORSHIP
        WHERE MEMBER_ID = #{memberId}
    </select>

    <insert id="insert">
        INSERT INTO TBL_SPONSORSHIP(ID, ARTIST_ID, MEMBER_ID, SPONSOR_NAME, SPONSOR_EMAIL, SPONSOR_TEL, SPONSORSHIP_MONEY, PAYMENT_TIME)
        VALUES (SEQ_SPONSORSHIP.NEXTVAL, #{artistId}, #{memberId}, #{sponsorName}, #{sponsorEmail}, #{sponsorTel}, #{sponsorshipMoney}, CURRENT_TIMESTAMP)
    </insert>

    <update id="update">
        UPDATE TBL_SPONSORSHIP
        SET PAYMENT_STATUS = 'CANCELED' ,PAYMENT_CANCELED_TIME = CURRENT_TIMESTAMP
        WHERE ID = #{id}
    </update>
</mapper>