<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.onestepback.mapper.SubscriptionMapper">
    <select id="selectCountOfSubscriber" resultType="int">
        SELECT COUNT(ARTIST_ID)
        FROM TBL_SUBSCRIPTION
        WHERE ARTIST_ID = #{artistId}
    </select>

    <select id="select" resultType="subscriptionVO">
        SELECT ARTIST_ID, MEMBER_ID
        FROM TBL_SUBSCRIPTION
        WHERE ARTIST_ID = #{artistId}
          AND MEMBER_ID = #{memberId}
    </select>

    <insert id="insert">
        INSERT INTO TBL_SUBSCRIPTION(ARTIST_ID, MEMBER_ID)
        VALUES (#{artistId}, #{memberId})
    </insert>

    <delete id="delete">
        DELETE
        FROM TBL_SUBSCRIPTION
        WHERE ARTIST_ID = #{artistId}
          AND MEMBER_ID = #{memberId}
    </delete>

    <select id="selectAll" resultType="subscriptionDTO">
        SELECT S.ARTIST_ID,
               S.MEMBER_ID,
               A.ARTIST_BLOG_NAME,
               A.BLOG_IMG_PATH,
               A.BLOG_IMG_NAME,
               M.MEMBER_NICKNAME,
               M.MEMBER_KAKAO_PROFILE_URL,
               M.MEMBER_PROFILE_NAME,
               M.MEMBER_PROFILE_PATH
        FROM TBL_SUBSCRIPTION S
                 LEFT JOIN TBL_ARTIST A ON S.ARTIST_ID = A.MEMBER_ID
                 LEFT JOIN TBL_MEMBER M ON S.ARTIST_ID = M.ID
        WHERE S.MEMBER_ID = #{memberId}
    </select>
</mapper>