<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.onestepback.mapper.SubscriptionMapper">
    <select id="selectCountOfSubscriber" resultType="int">
        SELECT COUNT(ARTIST_ID)
        FROM TBL_SUBSCRIPTION
        WHERE ARTIST_ID = #{artistId}
    </select>

    <select id="select" resultType="subscriptionVO">
        SELECT ARTIST_ID, MEMBER_ID
        FROM TBL_SUBSCRIPTION
        WHERE ARTIST_ID = #{artistId} AND MEMBER_ID = #{memberId}
    </select>
</mapper>