<!doctype html>
<html lang="en" xmlns:a="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>당신 삶에 아우라가 생기는 방법</title>
    <link rel="stylesheet" href="../../root.css">
    <link rel="stylesheet" href="../../../static/css/artist/post/detail.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" as="style"
          onload="this.rel='stylesheet'">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<header>
    <div class="h-blog-grid">

    </div>
    <div class="navbar">
        <div class="navbar-container">
            <div class="navbar-left">
                <a class="btn-back" href="https://richlaboratory.postype.com/posts" id="post-viewer-header-btn-back" >
                    <i class="fa-chevron-left"></i>
                </a>
            </div>
            <div class="navbar-center">
                <div class="navbar-title">
                    <div class="title-text1">
                        <span>당신 삶에 아우라가 생기는 방법</span>
                    </div>
                    <div class="sub-title1">
                        <a class="sub-title2" href="https://richlaboratory.postype.com/series/1166270/매력훈련소">매력 훈련소</a>
                    </div>
                </div>
                <a class="btn-prev" href="https://richlaboratory.postype.com/post/15314775" aria-label="이전화" title="이전글 - 연봉 7~8천 훈남들이 매달리는 여자">
                    <i class="fas fa-caret-left"></i>
                </a>
                <a class="btn-prev-next" href="https://richlaboratory.postype.com/post/15327561" aria-label="다음화" title="다음글 - 남자들의 구혼 1순위 여자 특징">
                    <i class="fas fa-caret-right"></i>
                </a>
            </div>
            <div class="navbar-right">
            </div>
        </div>
    </div>
</header>
<main id="main">
    <div id="main-content">
        <article id="post" data-series-id="1166270" data-series-title="매력 훈련소" data-point="1000" data-for-adult="0" data-is-free="0" data-admin-tag="지식" data-post-title="당신 삶에 아우라가 생기는 방법">
            <div class="container">
                <header class="post-container">
                    <h4 class="series-title">
                        <a href="https://richlaboratory.postype.com/series/1166270/매력훈련소">매력 훈련소</a>
                    </h4>
                    <div class="title-wrap">
                        <h1 class="post-title6">당신 삶에 아우라가 생기는 방법</h1>
                        <h2 class="post-subtitle6">두 셀럽에게 배우는 삶의 '품격'</h2>
                    </div>
                    <div class="post-meta3">
                        <a class="profile-avatar" href="https://www.postype.com/profile/@cmtlrj" rel="author">
                            <img class="profile-img6" src="https://d3mcojo3jv0dbr.cloudfront.net/2023/07/16/13/40/8541d563fc2cc5232980c5643c074438.jpeg?w=64&amp;h=64&amp;q=65" alt="Laydalio">
                        </a>
                        <div class="media-body">
                            <div class="article-author">
                                <a class="gray-990 disabled-on-preview" href="https://www.postype.com/profile/@cmtlrj" rel="author">Laydalio</a>
                            </div>
                            <div class="text-gray">
                                <time class="meta-item2">2023.09.21</time>
                                <span class="view-count">* 조회
                                    <span class="status-count">673</span>
                                </span>
                                <span class="comment-count">
                                    <a href="#responses">* 댓글
                                        <span class="stats-count">0</span>
                                    </a>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="post-body">
                        <div class="post-content3">
                            <p>즐겨보는 예능 프로그램 중 '유퀴즈'라고 있다.</p>
                            <p>

                            </p>
                            <p>유재석과 조세호가 진행하는 이 프로그램은 소위 셀럽부터 독특한 직업을 가진 일반인에 이르기까지<h5></h5>
                                광범위한 게스트를 초대하여 능란하게 인터뷰를 진행한다. 볼 때마다 하나씩은 배우는 게 있다.</p>
                            <p>

                            </p>
                            <p>배우 김희애 방영분도 그랬다.</p>
                            <p>

                            </p>
                            <p>
                                김희애 방영분에서 인상적이었던 것은 그녀가 하루를 시작하는 단순한 '루틴' 때문이었는데,<h5></h5>
                                너무 단순하면서도 중요한 루틴이었던지라 여기 필히 기록을 해두지 않을 수가 없을 듯싶다.
                            </p>
                            <p>

                            </p>
                            <p>
                                박진영 씨의 방영분 또한 마찬가지. 그가 밝힌 매일의 루틴 역시 대단히 인상깊었는데, 지나치게 엄격한 게<h5></h5>
                                아닌가 싶을 정도로 스스로를 철저하게 통제하고 관리한다는 인상이 들었다.
                            </p>
                            <p>

                            </p>
                            <p>그러나 그런 노력이 있기 때문일 것이다. 쉰살이 넘은 나이인데도 불구하고 어지간한 청년들 이상의
                                신체 스펙을 유지하는 비결은.
                            </p>
                            <p>

                            </p>
                            <p>김희애는 1967년 4월생으로 올해 쉰 여섯, 박진영은 1971년 12월생으로 쉰 하나다.</p>
                            <p>

                            </p>
                            <p>
                                이 글을 읽는 여러분에게 둘은 부모뻘일 수도 있고 삼촌, 이모뻘일 수도 있다.
                            </p>
                            <p>

                            </p>
                            <p>
                                어쨌거나 두 남녀가 유지하는 루틴을 따라하는 것은 삶에 '아우라'가 번지게 만드는 아주 중요한 '팁'이<h5></h5>
                                돼줄 수 있겠다는 판단이다.
                            </p>
                            <p>

                            </p>
                            <p>
                                인생을 멋지게 장기 우상향시키면서 은은한 아우라까지 더해진다니 일석이조 아닌가.
                            </p>
                            <p>

                            </p>
                            <p>
                                파고들어가보자.
                            </p>
                            <p>

                            </p>
                            <p>(월 4500원 멤버십에 가입하면 이 글의 전문과 다른 모든 게시글을 읽을 수 있다.)</p>
                            <p>

                            </p>
                        </div>
                        <div class="tag-list">
                            <h6 class="sr-only"></h6>
                            <a class="tag gray-600" href="https://www.postype.com/search?options_tags=1&amp;keyword=%EC%A7%80%EC%8B%9D" rel="tag">지식</a>
                            <a class="tag gray-600" href="https://www.postype.com/search?options_tags=1&amp;keyword=%EC%9D%B8%EB%AC%B8" rel="tag">인문</a>
                            <a class="tag gray-600" href="https://www.postype.com/search?options_tags=1&amp;keyword=%EC%8B%AC%EB%A6%AC" rel="tag">심리</a>
                            <a class="tag gray-600" href="https://www.postype.com/search?options_tags=1&amp;keyword=%EA%B1%B4%EA%B0%95" rel="tag">건강</a>
                        </div>
                        <div class="post-pager">
                            <article class="pager-item1">
                                <a class="flex-middle" href="https://richlaboratory.postype.com/post/15327561">
                                    <div class="pager-label">다음글</div>
                                    <div class="media-body7">
                                        <h5 class="pager-title">남자들의 구혼 1순위 여자특징</h5>
                                        <h6 class="pager-subtitle">그녀처럼 플랙스하면 존경받는다</h6>
                                    </div>
                                    <div class="pager-img">
                                        <div class="pager-img9" style="background-image: url('https://d3mcojo3jv0dbr.cloudfront.net/2023/09/18/17/12/074c52ae217cb90b7f49b1f770c65d0e.jpeg?w=240&amp;h=180&amp;q=65')"></div>
                                    </div>
                                </a>
                            </article>
                            <article class="pager-item2">
                                <a class="flex-middle" href="https://richlaboratory.postype.com/post/15314775">
                                    <div class="pager-label">이전글</div>
                                    <div class="media-body7">
                                        <h5 class="pager-title">연봉 7~8천 훈남들이 매달리는 여자</h5>
                                        <h6 class="pager-subtitle">잘 버는 그들이 푹 빠지는 여자조건</h6>
                                    </div>
                                    <div class="pager-img">
                                        <div class="pager-img91" style="background-image: url('https://d3mcojo3jv0dbr.cloudfront.net/2023/09/16/18/41/a65abba3d1bdf8c7232fc998bf0c4578.jpeg?w=240&amp;h=180&amp;q=65')"></div>
                                    </div>
                                </a>
                            </article>
                        </div>
                        <section class="profile-gray50">
                            <div class="container32">
                                <div class="profile-bar">
                                    <a class="profile-img-link blog-avatar avatar-60" href="https://richlaboratory.postype.com" title="부자연구소">
                                        <img class="blog-img" src="https://d3mcojo3jv0dbr.cloudfront.net/2023/07/16/20/57/3447301483620659675624698.jpg?w=128&amp;h=128&amp;q=65" alt="부자연구소">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="profile-title98">
                                            <a class="rich2" href="https://richlaboratory.postype.com" title="부자연구소">부자연구소</a>
                                        </h5>
                                        <div class="profile-subtitle-gray-600">
                                            <span class="meta-item" title="구독자: 639명">구독자&nbsp;</span><span class="stats-count">639</span>
                                        </div>
                                    </div>
                                    <div class="action-group">
                                        <button class="subscribe4">
                                            <span class="default-text">구독하기</span>
                                        </button>
                                        <a class="btn btn-strong" href="https://richlaboratory.postype.com/membership_plans">멤버십 가입</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="response3">
                            <div class="container44">
                                <header class="section-head6">
                                    <h3 class="comment-section-title" data-comment-counts="0">0개의 댓글</h3>
                                </header>
                                <div class="comment-list">
                                    <div class="comments">

                                        <div class="comment-customize-form">
                                            <textarea class="form-control autosize" name="text" id="mention" style="overflow: hidden; overflow-wrap: break-word; height: 40px;"></textarea>
                                            <div class="brand-icons">
                                                <div>

                                                </div>
                                                <a class="btn btn-strong btn-login btn-create-comment" href="#" data-toggle="modal" data-target="#easy-login">댓글 남기기</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div></div>
                            </div>
                        </section>
                        <section class="related-post">
                            <div class="container445">
                                <header class="section-head8">
                                    <h3 class="comment-section-title44">추천 포스트</h3>
                                </header>
                                <div class="related-post-list">
                                    <div class="promotion-banner12">
                                        <a class="promotion-banner77" data-promotion-id="1584" href="https://blog.postype.com/post/14151405" style="background-color: #007aff;">
                                            <img src="https://d3mcojo3jv0dbr.cloudfront.net/2023/09/12/16/19/63a7b41007a9a92b829f9c6739c58ab6.png?w=640&amp;q=65" class="promotion-banner-img" alt="포스타입 크리에이터 첫 걸음 가이드">
                                        </a>
                                    </div>
                                    <div class="component-post-list">
                                        <div class="component33">
                                            <div class="post21">
                                                <div class="post-date">
                                                    <a href="https://blog.postype.com/post/15293000">
                                                        <h3 class="ellipsis-26">포스타입 X CU 편의점 택배 제휴 이벤트</h3>
                                                        <div class="ellipsis-2 text-alpha-black-47">
                                                            <h4 class="discount4">택배비, 최대 반값 할인 제공!</h4>
                                                            <div class="divider"></div>
                                                            <p class="mes-postype">포스타입</p>
                                                        </div>
                                                    </a>
                                                    <div class="post-tags">
                                                        <a href="https://blog.postype.com/post/14838413" class="tag-promotion">프로모션</a>
                                                    </div>
                                                </div>
                                                <div class="post-data-thumbnail">
                                                    <a class="pro1613" href="https://blog.postype.com/post/15293000">
                                                        <img class="img-098" src="https://d3mcojo3jv0dbr.cloudfront.net/2023/09/21/14/25/25c8a58c938440372ba4a7f4171c5391.png?w=240&amp;h=180&amp;q=65" alt="포스타입 X CU 편의점 택배 제휴 이벤트">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post-info43">
                                                <a class="user-profile-avatar avatar-32" href="https://www.postype.com/profile/@postype">
                                                    <img class="user-profile-avatar-img" src="https://d3mcojo3jv0dbr.cloudfront.net/2022/10/14/09/27/66fc5bd61c3d9969c7e6cb8845fb3e3e.png?w=64&amp;h=64&amp;q=65" alt="포스타입">
                                                </a>
                                                <div class="post-info43-body">
                                                    <div class="user-profile-nickname text-truncate">
                                                        <a href="https://www.postype.com/profile/@postype" rel="author">포스타입</a>
                                                    </div>
                                                    <div class="post-meta1">
                                                        <span class="meta-item6" title="조회수">
                                                            <i class="ic ic-eye" aria-label="조회수"></i>
                                                            <span class="stats-count22">1.1천</span>
                                                        </span>
                                                        <span class="meta-item6" title="좋아요">
                                                            <i id="hart" class="fal fa-heart" aria-label="좋아요"></i>
                                                            <span class="stats-count">4</span>
                                                        </span>
                                                        <time class="meta-item">1일 전</time>
                                                    </div>
                                                </div>
                                                <div class="post-action7">
                                                    <a href="#" class="btn btn-icon btn-scrap" data-post-id="15293000">
                                                        <i id="de23" class="fal fa-bookmark default-text"></i>
                                                        <i id="de24" class="fas fa-bookmark active-text"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="component-post-list3">
                                        <div class="component331">
                                            <div class="post21">
                                                <div class="post-date">
                                                    <a href="https://blog.postype.com/post/14528797">
                                                        <h3 class="ellipsis-26">"딱 3일만 무료!" 틈새 시장 공략하는 일러스트 연재 팁</h3>
                                                        <div class="ellipsis-2 text-alpha-black-47">
                                                            <h4 class="discount4">크리에이터 인터뷰 창작소재편</h4>
                                                            <div class="divider"></div>
                                                            <p class="mes-postype">오얼모얼님, 독사님</p>
                                                        </div>
                                                    </a>
                                                    <div class="post-tags">
                                                        <a href="https://blog.postype.com/post/14838413" class="tag-promotion">프로모션</a>
                                                    </div>
                                                </div>
                                                <div class="post-data-thumbnail">
                                                    <a class="pro1613" href="https://blog.postype.com/post/14528797">
                                                        <img class="img-098" src="https://d3mcojo3jv0dbr.cloudfront.net/2023/07/20/12/42/ef0b4df41a26febfcc12546b6c976139.png?w=240&amp;h=180&amp;q=65" alt="&quot;딱 3일만 무료!&quot; 틈새 시장 공략하는 일러스트 연재 팁">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post-info43">
                                                <a class="user-profile-avatar avatar-32" href="https://www.postype.com/profile/@postype">
                                                    <img class="user-profile-avatar-img" src="https://d3mcojo3jv0dbr.cloudfront.net/2022/10/14/09/27/66fc5bd61c3d9969c7e6cb8845fb3e3e.png?w=64&amp;h=64&amp;q=65" alt="포스타입">
                                                </a>
                                                <div class="post-info43-body">
                                                    <div class="user-profile-nickname text-truncate">
                                                        <a href="https://www.postype.com/profile/@postype" rel="author">포스타입</a>
                                                    </div>
                                                    <div class="post-meta1">
                                                        <span class="meta-item6" title="조회수">
                                                            <i class="ic ic-eye" aria-label="조회수"></i>
                                                            <span class="stats-count22">1만</span>
                                                        </span>
                                                        <span class="meta-item6" title="좋아요">
                                                            <i id="hart2" class="fal fa-heart" aria-label="좋아요"></i>
                                                            <span class="stats-count">117</span>
                                                        </span>
                                                        <time class="meta-item">2023.08.23</time>
                                                    </div>
                                                </div>
                                                <div class="post-action7">
                                                    <a href="#" class="btn btn-icon btn-scrap" data-post-id="15293000">
                                                        <i id="de231" class="fal fa-bookmark default-text"></i>
                                                        <i id="de241" class="fas fa-bookmark active-text"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </header>
            </div>
        </article>
    </div>
</main>

</body>
<script src="https://kit.fontawesome.com/2364e2b536.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="../../../static/js/artist/post/detail.js"></script>
</html>