<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>당신 삶에 아우라가 생기는 방법</title>
    <link rel="stylesheet" href="/css/main/root.css">
    <link rel="stylesheet" href="/css/artist/blog-header.css">
    <link rel="stylesheet" href="/css/artist/post/detail.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" as="style"
          onload="this.rel='stylesheet'">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<header th:replace="~{/artist/blog-header::blog-header}"></header>
<header style="z-index: 1000">
    <div class="h-blog-grid">

    </div>
    <div class="navbar">
        <div class="navbar-container">
            <div class="navbar-left">
                <a class="btn-back" href="https://richlaboratory.postype.com/posts" id="post-viewer-header-btn-back">
                    <i class="fa-chevron-left"></i>
                </a>
            </div>
            <div class="navbar-center">
                <div class="navbar-title">
                    <div class="title-text1">
                        <span th:text="${post.postTitle}"></span>
                    </div>
                    <div class="sub-title1">
                        <a th:text="${post.postCategory}" class="sub-title2"></a>
                    </div>
                </div>
                <a class="btn-prev" href="#" aria-label="이전화"
                   title="#">
                    <i class="fas fa-caret-left"></i>
                </a>
                <a class="btn-prev-next" href="#" aria-label="다음화"
                   title="#">
                    <i class="fas fa-caret-right"></i>
                </a>
            </div>
            <div class="navbar-right">
                <a class="btn-back" href="#" id="post-viewer-header-btn-next">
                    <i class="fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</header>
<main id="main">
    <div id="main-content">
        <article id="post">
            <div class="container">
                <div class="post-container">
                    <h4 class="series-title">
                        <a th:text="${post.postCategory}" href="#"></a>
                    </h4>
                    <div class="title-wrap">
                        <h1 th:text="${post.postTitle}" class="post-title6"></h1>
                        <h2 th:text="${post.postSubtitle}" class="post-subtitle6"></h2>
                    </div>
                    <div class="post-meta3">
                        <a class="profile-avatar" href="" rel="author">
                            <img class="profile-img6"
                                 th:if="${post.memberKakaoProfileUrl == null and post.memberProfileName == null}"
                                 src="/images/none-avatar.svg">
                            <img class="profile-img6"
                                 th:if="${post.memberKakaoProfileUrl != null and post.memberProfileName == null}"
                                 th:src="${post.memberKakaoProfileUrl}">
                        </a>
                        <div class="media-body">
                            <div class="article-author">
                                <a th:text="${post.memberNickname}" class="gray-990 disabled-on-preview" href=""
                                   rel="author"></a>
                            </div>
                            <div class="text-gray">
                                <time th:text="${#strings.substring(post.postWriteTime, 0, 10)}"
                                      class="meta-item2"></time>

                                <span class="view-count">* 조회
                                    <span th:text="${post.postViewCount}" class="status-count"></span>
                                </span>
                                <span class="view-count">* 좋아요
                                    <span th:text="${post.likeCount}" class="status-count"></span>
                                </span>
                                <span class="comment-count">* 댓글
                                        <span th:text="${post.replyCount}" class="stats-count"></span>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="post-body">
                        <pre th:text="${post.postContent}" class="post-content3" style="white-space: pre-line"></pre>
                        <div class="tag-list">
                            <h6 class="sr-only"></h6>
                            <a th:if="${post.tag1}" class="tag gray-600" th:text="${post.tag1}" href="#"></a>
                            <a th:if="${post.tag2}" class="tag gray-600" th:text="${post.tag2}" href="#"></a>
                            <a th:if="${post.tag3}" class="tag gray-600" th:text="${post.tag3}" href="#"></a>
                            <a th:if="${post.tag4}" class="tag gray-600" th:text="${post.tag4}" href="#"></a>
                            <a th:if="${post.tag5}" class="tag gray-600" th:text="${post.tag5}" href="#"></a>
                        </div>
                        <div class="post-pager">
                            <th:block th:if="${prevPost != null}">
                                <article class="pager-item1">
                                    <a class="flex-middle" th:href="@{/artist/post/detail(id=${prevPost.id})}">
                                        <div class="pager-label">이전글</div>
                                        <div class="media-body7">
                                            <h5 th:text="${prevPost.postTitle}" class="pager-title"></h5>
                                            <h6 th:text="${prevPost.postSubtitle}" class="pager-subtitle"></h6>
                                        </div>
                                        <th:block th:unless="${prevPost.fileName == null}">
                                            <div class="pager-img">
                                                <div class="pager-img9"
                                                     th:style="'background-image: url(' + @{/file/display(fileName=${prevPost.filePath} + '/' + ${prevPost.fileName})} + ');'"></div>
                                            </div>
                                        </th:block>
                                    </a>
                                </article>
                            </th:block>

                            <th:block th:if="${nextPost != null}">
                                <article class="pager-item2">
                                    <a class="flex-middle" th:href="@{/artist/post/detail(id=${nextPost.id})}">
                                        <div class="pager-label">다음글</div>
                                        <div class="media-body7">
                                            <h5 th:text="${nextPost.postTitle}" class="pager-title"></h5>
                                            <h6 th:text="${nextPost.postSubtitle}" class="pager-subtitle"></h6>
                                        </div>
                                        <th:block th:unless="${nextPost.fileName == null}">
                                            <div class="pager-img">
                                                <div class="pager-img91"
                                                     th:style="'background-image: url(' + @{/file/display(fileName=${nextPost.filePath} + '/' + ${nextPost.fileName})} + ');'"></div>
                                            </div>
                                        </th:block>
                                    </a>
                                </article>
                            </th:block>
                        </div>
                        <section class="profile-gray50">
                            <div class="container32">
                                <div class="profile-bar">
                                    <a class="profile-img-link blog-avatar avatar-60"
                                       href="" title="부자연구소">
                                        <img class="blog-img"
                                             src="/images/none-avatar.svg">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="profile-title98">
                                            <a th:text="${artist.artistBlogName}" class="rich2" href=""></a>
                                        </h5>
                                        <div class="profile-subtitle-gray-600">
                                            <span class="meta-item">구독자&nbsp;</span>
                                            <span th:text="${artist.subscriptionCount}" class="stats-count"></span>
                                        </div>
                                    </div>
                                    <div class="action-group">
                                        <button id="subscription-btn" class="subscribe4 active">
                                            <span class="default-text">구독하기</span>
                                            <span class="active-text">구독 중</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="response3">
                            <div class="container44">
                                <header class="section-head6">
                                    <h3 class="comment-section-title" data-comment-counts="0">0개의 댓글</h3>
                                </header>
                                <div class="comment-list">
                                    <div class="comments">

                                        <div class="comment-customize-form">
                                            <textarea class="form-control autosize" name="text" id="mention"
                                                      style="overflow: hidden; overflow-wrap: break-word; height: 40px; resize: none; overflow-y: auto"></textarea>
                                            <div class="brand-icons">
                                                <div>

                                                </div>
                                                <a class="btn btn-strong btn-login btn-create-comment" href="#"
                                                   data-toggle="modal" data-target="#easy-login">댓글 남기기</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div></div>
                            </div>
                        </section>
                        <!--                        <section class="related-post">-->
                        <!--                            <div class="container445">-->
                        <!--                                <header class="section-head8">-->
                        <!--                                    <h3 class="comment-section-title44">추천 포스트</h3>-->
                        <!--                                </header>-->
                        <!--                                <div class="related-post-list">-->
                        <!--                                    <div class="promotion-banner12">-->
                        <!--                                        <a class="promotion-banner77" data-promotion-id="1584"-->
                        <!--                                           href="https://blog.postype.com/post/14151405"-->
                        <!--                                           style="background-color: #007aff;">-->
                        <!--                                            <img src="https://d3mcojo3jv0dbr.cloudfront.net/2023/09/12/16/19/63a7b41007a9a92b829f9c6739c58ab6.png?w=640&amp;q=65"-->
                        <!--                                                 class="promotion-banner-img" alt="포스타입 크리에이터 첫 걸음 가이드">-->
                        <!--                                        </a>-->
                        <!--                                    </div>-->
                        <!--                                    <div class="component-post-list">-->
                        <!--                                        <div class="component33">-->
                        <!--                                            <div class="post21">-->
                        <!--                                                <div class="post-date">-->
                        <!--                                                    <a href="https://blog.postype.com/post/15293000">-->
                        <!--                                                        <h3 class="ellipsis-26">포스타입 X CU 편의점 택배 제휴 이벤트</h3>-->
                        <!--                                                        <div class="ellipsis-2 text-alpha-black-47">-->
                        <!--                                                            <h4 class="discount4">택배비, 최대 반값 할인 제공!</h4>-->
                        <!--                                                            <div class="divider"></div>-->
                        <!--                                                            <p class="mes-postype">포스타입</p>-->
                        <!--                                                        </div>-->
                        <!--                                                    </a>-->
                        <!--                                                    <div class="post-tags">-->
                        <!--                                                        <a href="https://blog.postype.com/post/14838413"-->
                        <!--                                                           class="tag-promotion">프로모션</a>-->
                        <!--                                                    </div>-->
                        <!--                                                </div>-->
                        <!--                                                <div class="post-data-thumbnail">-->
                        <!--                                                    <a class="pro1613" href="https://blog.postype.com/post/15293000">-->
                        <!--                                                        <img class="img-098"-->
                        <!--                                                             src="https://d3mcojo3jv0dbr.cloudfront.net/2023/09/21/14/25/25c8a58c938440372ba4a7f4171c5391.png?w=240&amp;h=180&amp;q=65"-->
                        <!--                                                             alt="포스타입 X CU 편의점 택배 제휴 이벤트">-->
                        <!--                                                    </a>-->
                        <!--                                                </div>-->
                        <!--                                            </div>-->
                        <!--                                            <div class="post-info43">-->
                        <!--                                                <a class="user-profile-avatar avatar-32"-->
                        <!--                                                   href="https://www.postype.com/profile/@postype">-->
                        <!--                                                    <img class="user-profile-avatar-img"-->
                        <!--                                                         src="https://d3mcojo3jv0dbr.cloudfront.net/2022/10/14/09/27/66fc5bd61c3d9969c7e6cb8845fb3e3e.png?w=64&amp;h=64&amp;q=65"-->
                        <!--                                                         alt="포스타입">-->
                        <!--                                                </a>-->
                        <!--                                                <div class="post-info43-body">-->
                        <!--                                                    <div class="user-profile-nickname text-truncate">-->
                        <!--                                                        <a href="https://www.postype.com/profile/@postype" rel="author">포스타입</a>-->
                        <!--                                                    </div>-->
                        <!--                                                    <div class="post-meta1">-->
                        <!--                                                        <span class="meta-item6" title="조회수">-->
                        <!--                                                            <i class="ic ic-eye" aria-label="조회수"></i>-->
                        <!--                                                            <span class="stats-count22">1.1천</span>-->
                        <!--                                                        </span>-->
                        <!--                                                        <span class="meta-item6" title="좋아요">-->
                        <!--                                                            <i id="hart" class="fal fa-heart" aria-label="좋아요"></i>-->
                        <!--                                                            <span class="stats-count">4</span>-->
                        <!--                                                        </span>-->
                        <!--                                                        <time class="meta-item">1일 전</time>-->
                        <!--                                                    </div>-->
                        <!--                                                </div>-->
                        <!--                                                <div class="post-action7">-->
                        <!--                                                    <a href="#" class="btn btn-icon btn-scrap" data-post-id="15293000">-->
                        <!--                                                        <i id="de23" class="fal fa-bookmark default-text"></i>-->
                        <!--                                                        <i id="de24" class="fas fa-bookmark active-text"></i>-->
                        <!--                                                    </a>-->
                        <!--                                                </div>-->
                        <!--                                            </div>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                    <div class="component-post-list3">-->
                        <!--                                        <div class="component331">-->
                        <!--                                            <div class="post21">-->
                        <!--                                                <div class="post-date">-->
                        <!--                                                    <a href="https://blog.postype.com/post/14528797">-->
                        <!--                                                        <h3 class="ellipsis-26">"딱 3일만 무료!" 틈새 시장 공략하는 일러스트 연재 팁</h3>-->
                        <!--                                                        <div class="ellipsis-2 text-alpha-black-47">-->
                        <!--                                                            <h4 class="discount4">크리에이터 인터뷰 창작소재편</h4>-->
                        <!--                                                            <div class="divider"></div>-->
                        <!--                                                            <p class="mes-postype">오얼모얼님, 독사님</p>-->
                        <!--                                                        </div>-->
                        <!--                                                    </a>-->
                        <!--                                                    <div class="post-tags">-->
                        <!--                                                        <a href="https://blog.postype.com/post/14838413"-->
                        <!--                                                           class="tag-promotion">프로모션</a>-->
                        <!--                                                    </div>-->
                        <!--                                                </div>-->
                        <!--                                                <div class="post-data-thumbnail">-->
                        <!--                                                    <a class="pro1613" href="https://blog.postype.com/post/14528797">-->
                        <!--                                                        <img class="img-098"-->
                        <!--                                                             src="https://d3mcojo3jv0dbr.cloudfront.net/2023/07/20/12/42/ef0b4df41a26febfcc12546b6c976139.png?w=240&amp;h=180&amp;q=65"-->
                        <!--                                                             alt="&quot;딱 3일만 무료!&quot; 틈새 시장 공략하는 일러스트 연재 팁">-->
                        <!--                                                    </a>-->
                        <!--                                                </div>-->
                        <!--                                            </div>-->
                        <!--                                            <div class="post-info43">-->
                        <!--                                                <a class="user-profile-avatar avatar-32"-->
                        <!--                                                   href="https://www.postype.com/profile/@postype">-->
                        <!--                                                    <img class="user-profile-avatar-img"-->
                        <!--                                                         src="https://d3mcojo3jv0dbr.cloudfront.net/2022/10/14/09/27/66fc5bd61c3d9969c7e6cb8845fb3e3e.png?w=64&amp;h=64&amp;q=65"-->
                        <!--                                                         alt="포스타입">-->
                        <!--                                                </a>-->
                        <!--                                                <div class="post-info43-body">-->
                        <!--                                                    <div class="user-profile-nickname text-truncate">-->
                        <!--                                                        <a href="https://www.postype.com/profile/@postype" rel="author">포스타입</a>-->
                        <!--                                                    </div>-->
                        <!--                                                    <div class="post-meta1">-->
                        <!--                                                        <span class="meta-item6" title="조회수">-->
                        <!--                                                            <i class="ic ic-eye" aria-label="조회수"></i>-->
                        <!--                                                            <span class="stats-count22">1만</span>-->
                        <!--                                                        </span>-->
                        <!--                                                        <span class="meta-item6" title="좋아요">-->
                        <!--                                                            <i id="hart2" class="fal fa-heart" aria-label="좋아요"></i>-->
                        <!--                                                            <span class="stats-count">117</span>-->
                        <!--                                                        </span>-->
                        <!--                                                        <time class="meta-item">2023.08.23</time>-->
                        <!--                                                    </div>-->
                        <!--                                                </div>-->
                        <!--                                                <div class="post-action7">-->
                        <!--                                                    <a href="#" class="btn btn-icon btn-scrap" data-post-id="15293000">-->
                        <!--                                                        <i id="de231" class="fal fa-bookmark default-text"></i>-->
                        <!--                                                        <i id="de241" class="fas fa-bookmark active-text"></i>-->
                        <!--                                                    </a>-->
                        <!--                                                </div>-->
                        <!--                                            </div>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </section>-->
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>

</body>
<script src="https://kit.fontawesome.com/2364e2b536.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/js/artist/post/detail.js"></script>
<script th:inline="javascript">
    // 세션 값
    const session = /*[[${session.member}]]*/ null;
    // 아티스트의 memberId (여러곳에서 사용해야 되므로 전역 상수로 선언)
    const artistId = [[${artist.id}]]
    // 구독버튼
    const subscriptionBtn = $("#subscription-btn");

    let currentCount = [[${artist.subscriptionCount}]];

    let subscriptionStatus = null;



    // 로그인이 되어있을 시 클라이언트가 아티스트의 구독자인지 아닌지 구분하는 함수
    function checkSubscription(artistId, memberId, callback) {
        $.ajax({
            type: "GET",
            url: "/artist/post/check-subscription?artistId=" + artistId + "&memberId=" + memberId,

            success: function (data) {
                // 불린타입으로 반납된 결과 값을 전역 변수에 대입
                subscriptionStatus = data;
                if (callback) {
                    callback(data)
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    // 구독버튼을 누를시.
    function updateSubscription(artistId, memberId, callback, callback2) {
        $.ajax({
            type: "GET",
            url: "/artist/update-subscription?subscriptionStatus=" + subscriptionStatus + "&artistId=" + artistId + "&memberId=" + memberId,

            success: function (data) {
                subscriptionStatus = data;
                if (callback) {
                    callback(data)
                }
                if (callback2) {
                    callback2(data)
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        })
    }

    // data 값에 따라 구독버튼에 html 삽입
    function didISubscribe(data) {
        let subscriptionHtml = null;
        subscriptionBtn.empty();

        if (!data) {
            subscriptionHtml = `<span class="default-text">구독하기</span>`;
            subscriptionBtn.removeClass("active");
            subscriptionBtn.append(subscriptionHtml);
        } else if (data) {
            subscriptionHtml = `<span class="active-text">구독중</span>`;
            subscriptionBtn.addClass("active");
            subscriptionBtn.append(subscriptionHtml);
        }
    }


    $(function () {
        if (session != null) {
            checkSubscription(artistId, session.id, didISubscribe);
        }
    });

    // 구독 버튼 누를시 작동되는 함수
    subscriptionBtn.click(() => {
        updateSubscription(artistId, session.id, didISubscribe);
    })
</script>
</html>