<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>원스텝 - 아티스트 페이지</title>
    <link href="/images/icon.svg" rel="icon">
    <link href="/css/main/root.css" rel="stylesheet">
    <link href="/css/artist/blog-header.css" rel="stylesheet">
    <link href="/css/artist/main.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/2364e2b536.js"></script>
</head>
<body>
<header th:replace="~{artist/blog-header::blog-header}"></header>

<div class="blog channel-home post-tile-md logged-user bg-gray-0 gray-990 header-size-md header-align-left header-sans-serif   post-list-view series-list-view header-title-tagline"
     id="blog">
    <a class="sr-only" href="#main" id="skip">주요 내용으로 건너뛰기</a>
    <div class="header bg-gray-0" id="header" role="banner">
        <div class="header-custom bg-gray-0 disabled-on-preview " id="header-custom">
            <div class="container" th:object="${content.artist}">
                <div class="masthead d-flex" id="masthead">
                    <a class="channel-avatar"
                       style="background-image: url(/images/none-avatar.svg); background-size: 80px; background-color: #E4E4E4"
                       th:if="*{blogImgName == null}"></a>

                    <a class="channel-avatar"
                       th:style="'background-image: url(' + @{/file/display(fileName=*{blogImgPath} + '/' + *{blogImgName})} + ');'"
                       th:unless="*{blogImgName == null}"></a>
                    <div class="action-group">
                        <a class="btn btn-icon btn-share">
                            <i class="fas fa-sign-out-alt fa-rotate-270"></i>
                        </a>
                        <button class="btn btn-strong btn-strong-pill btn-subscribe active"
                                id="subscription-btn"
                                th:if="${session.member != null and artistId != session.member.id}"
                                type="button">
                        </button>
                    </div>
                    <span class="channel-meta">
                        구독자
                        <span class="count" id="subscriberCount" th:text="*{subscriptionCount}"/>
                        명 · 포스트
                        <span class="count" th:text="*{postCount}"/>개
                    </span>
                    <h1 class="masthead-title">
                        <div class="masthead-title-text">
                            <a th:href="@{/artist/{artistId}(artistId=*{artistId})}"
                               th:text="*{blogName}"></a>
                        </div>
                    </h1>
                </div>
                <div class="divider"></div>
                <div class="gnb-nav" id="gnb-nav">
                    <nav>
                        <ul>
                            <li>
                                <a th:href="@{/artist/{artistId}(artistId=*{artistId})}">홈</a>
                            </li>
                            <li>
                                <a class="active">게시글</a>
                            </li>
                            <li>
                                <a th:href="@{/artist/{artistId}/video/list(artistId=*{artistId})}">영상</a>
                            </li>
                            <li>
                                <a class="inactive" th:href="@{/artist/community/list(memberId=*{artistId})}">커뮤니티</a>
                            </li>
                            <li>
                                <a th:href="@{/artist/sponsor(memberId=*{artistId})}">후원</a>
                            </li>
                            <li>
                                <a th:href="@{/artist/crowd-funding/list(memberId=*{artistId})}">크라우드 펀딩</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <main class="main body-custom" id="main" role="main">
        <div class="content" id="content">
            <article class="ch-home">
                <div class="ch-home-aside">
                    <div class="sticky-top">
                        <section class="ch-home-author-bio" th:object="${content.artist}">
                            <div class="ch-section-header">
                                <h4>아티스트</h4>
                            </div>
                            <div class="section-body">
                                <div class="author-bio">
                                    <div class="user-profile media align-items-center">
                                        <a class="profile-img-link profile-avatar avatar-36"
                                           rel="author" th:href="@{/artist/{artistId}(artistId=*{artistId})}">
                                            <img class="profile-img"
                                                 src="https://d33pksfia2a94m.cloudfront.net/assets/img/avatar/avatar_blank.png">
                                        </a>
                                        <div class="media-body profile-title-box">
                                                <span class="profile-title">
                                                    <a rel="author"
                                                       th:href="@{/artist/{artistId}(artistId=*{artistId})}"
                                                       th:text="*{nickname}"></a>
                                                </span>
                                        </div>
                                    </div>
                                    <p class="text-alpha-black-60 mb-0" th:text="*{description}"></p>
                                </div>
                            </div>
                            <th:block th:if="${session.member != null}">
                                <a th:if="${content.artist.artistId == session.member.id}" class="write-btn"
                                   href="/artist/post/write">작성하기</a>
                            </th:block>
                        </section>
                    </div>
                </div>
                <div class="ch-home-body">
                    <section class="ch-home-pin-post hide">
                        <div id="pin-post">
                            <div id="pin-post-image"></div>
                            <div id="pin-post-info"></div>
                        </div>
                    </section>
                    <section class="ch-home-post">
                        <div class="ch-section-header">
                            <h4 id="postsCount"></h4>
                        </div>
                        <th:block th:if="${#lists.size(content.posts) != 0}">
                            <th:block th:each="post:${content.posts}">
                                <div class="article-list post-list channel-home-post-list" th:object="${post}">
                                    <div class="component-post list">
                                        <div>
                                            <div class="post">
                                                <div class="post-data">
                                                    <a th:href="@{/artist/{artistId}/post/detail/{postId}(artistId=*{artistId}, postId=*{postId})}">
                                                        <h3 class="ellipsis-2 text-color-black"></h3>
                                                        <div class="ellipsis-2 text-alpha-black-47">
                                                            <h3 class="ellipsis-2 text-color-black"
                                                                th:text="*{title}"></h3>
                                                            <h4 th:text="*{subtitle}"></h4>
                                                            <div class="divider"></div>
                                                            <p class="post-content" th:text="*{content}"></p>
                                                        </div>
                                                    </a>
                                                    <div class="post-tags" th:unless="*{tags.size() == 0}">
                                                        <a class="general-tag" href="#"
                                                           th:each="tag : *{tags}" th:text="${tag}"></a>
                                                    </div>
                                                </div>
                                                <th:block th:unless="*{fileName == null}">
                                                    <div class="post-data-thumbnail">
                                                        <a th:href="@{/artist/{artistId}/post/detail/{postId}(artistId=*{artistId}, postId=*{postId})}">
                                                            <img th:src="|/file/display?fileName=*{filePath}/t_*{fileName}|">
                                                        </a>
                                                    </div>
                                                </th:block>
                                            </div>
                                            <div class="post-info">
                                                <a class="user-profile-avatar avatar-32"
                                                   th:href="@{/artist/{artistId}(artistId=*{artistId})}">
                                                    <img src="/images/profile/avatar_blank.png"
                                                         th:if="*{kakaoProfileUrl == null and profileName == null}">
                                                    <img th:if="*{kakaoProfileUrl != null and profileName == null}"
                                                         th:src="*{kakaoProfileUrl}">
                                                    <img th:if="*{profileName != null}"
                                                         th:src="|/file/display?fileName=*{profilePath}/t_*{profileName}|">
                                                </a>
                                                <div class="post-info-body">
                                                    <div class="user-profile-nickname text-truncate">
                                                        <a th:href="@{/artist/{artistId}(artistId=*{artistId})}"
                                                           th:text="*{nickname}"></a>
                                                    </div>
                                                    <div class="post-meta text-alpha-black-47">
                                                        <span class="meta-item"
                                                              title="조회수">
                                                            <i aria-label="조회수"
                                                               class="ic ic-eye"></i>
                                                            <span class="stats-count"
                                                                  th:text="*{viewCount}"></span>
                                                        </span>
                                                        <span class="meta-item" title="좋아요">
                                                            <i aria-label="좋아요"
                                                               class="far fa-heart"></i>
                                                            <span class="stats-count"
                                                                  th:text="*{likeCount}"></span>
                                                        </span>
                                                        <span class="meta-item" title="댓글">
                                                            <i class="far fa-comment-dots"></i>
                                                            <span class="stats-count"
                                                                  th:text="*{replyCount}"></span>
                                                        </span>
                                                        <time class="meta-item time"
                                                              th:data-time="*{writeTime}"></time>
                                                    </div>
                                                </div>
                                                <div class="post-action">
                                                    <a class="btn btn-icon bookmark-btn b">
                                                        <i class="far fa-bookmark default-bookmark"></i>
                                                        <i class="fas fa-bookmark active-bookmark"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="component-post-divider"></div>
                                </div>
                            </th:block>
                        </th:block>
                        <th:block th:unless="${#lists.size(content.posts) != 0}">
                            <div class="content-none">게시글이 없습니다</div>
                        </th:block>

                        <div id="page-wrap" th:object="${content.pagination}">
                            <a class="change-page"
                               th:href="|/artist/${artistId}/posts?page=*{startPage - 1}|"
                               th:if="*{startPage > 1}">이전</a>
                            <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
                                <a th:class="${i == content.pagination.page ? 'active' : ''}"
                                   th:href="|/artist/${artistId}/posts?page=${i}|">
                                    <span class="button-highlight" th:text="${i}"></span>
                                </a>
                            </th:block>

                            <a class="change-page"
                               th:href="|/artist/${artistId}/posts?page=*{endPage + 1}|"
                               th:if="*{endPage < realEnd}">다음</a>
                        </div>
                    </section>
                </div>
            </article>
        </div>
    </main>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script th:inline="javascript">
    // 세션 값
    const session = /*[[${session.member}]]*/ null;
    // 북마크 버튼
    const bookmarkBtn = $(".bookmark-btn");
    let subscriptionStatus = null;
    let subscriberCount = null

    // Ajax 공부겸 fetch 기능 작성함

    // 구독자 수와 포스트 수 가져오는 ajax 모듈 (이때 포스트는 artistPost와 video 합산임)
    function getCounts(artistId) {
        $.ajax({
            type: "GET",
            url: "/getCounts?id=" + artistId,
            success: function (data) {
                $("#subscriberCount").text(data[0]);
                subscriberCount = data[0];
                $("#allPostsCount").text(data[1] + data[2]);
                $("#postsCount").text(data[1] + "개의 게시글")
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    function updateTimeGaps() {
        const timeElements = document.querySelectorAll('.meta-item.time');
        timeElements.forEach(function (element) {
            let postTime = new Date(element.getAttribute('data-time'));
            element.textContent = getTimeGap(postTime);
        });
    }

    // 시간차이 계산 함수
    function getTimeGap(postTime) {
        const currentTime = new Date();

        let timeDiff = Math.floor((currentTime - postTime) / 1000); // 초 단위로 시간 차이 계산

        if (timeDiff < 60) {
            return "방금 전";
        } else if (timeDiff < 3600) {
            let minutes = Math.floor(timeDiff / 60);
            return minutes + "분 전";
        } else if (timeDiff < 86400) {
            let hours = Math.floor(timeDiff / 3600);
            return hours + "시간 전";
        } else if (timeDiff < 2678400) {
            let days = Math.floor(timeDiff / 86400);
            return days + "일 전";
        } else if (timeDiff < 32140800) {
            let months = Math.floor(timeDiff / 2678400);
            return months + "개월 전";
        } else {
            let years = Math.floor(timeDiff / 32140800);
            return years + "년 전";
        }
    }

    const bookmarkService = (function () {
        function checkPost(postId, btn, callback) {
            $.ajax({
                type: "GET",
                url: "/bookmark/check-post",
                data: {
                    memberId: session.id,
                    postId: postId
                },
                success: function (data) {
                    console.log(data)
                    if (callback) {
                        callback(btn, data)
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    alert("오류가 발생했습니다. 나중에 다시 시도해주세요.")
                }
            });
        }

        function updateStatus(btn, data) {
            if (data === true) {
                btn.data('bookmark-status', 'true');
                btn.addClass("active");
            } else {
                btn.data('bookmark-status', 'false');
                btn.removeClass("active")
            }
        }


        function updateBookmarkPost(btn, postId, bookmarkStatus, callback) {
            $.ajax({
                type: "POST",
                url: "/bookmark/update-post",
                data: {
                    memberId: session.id,
                    postId: postId,
                    bookmarkStatus: bookmarkStatus
                },
                success: function (data) {
                    if (callback) {
                        callback(btn, data)
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    alert("오류가 발생했습니다. 나중에 다시 시도해주세요.")
                }
            });
        }

        return {checkPost: checkPost, updateStatus: updateStatus, updateBookmarkPost: updateBookmarkPost}
    })();

    const subscriptionService = (function () {
        function checkSubscription(callback) {
            $.ajax({
                type: "GET",
                url: "/subscription/check-subscription",
                data: {
                    artistId: [[${content.artist.artistId}]],
                    memberId: session.id
                },
                success: function (data) {
                    if (callback) {
                        callback(data)
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    alert("오류가 발생했습니다. 나중에 다시 시도해주세요.")
                }
            });
        }

        function updateSubscription(callback, callback2) {
            $.ajax({
                type: "GET",
                url: "/subscription/update-subscription",
                data: {
                    subscriptionStatus: subscriptionStatus,
                    artistId: [[${content.artist.artistId}]],
                    memberId: session.id
                },
                success: function (data) {
                    if (callback) {
                        callback(data)
                    }
                    if (callback2) {
                        callback2(data)
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    alert("오류가 발생했습니다. 나중에 다시 시도해주세요.")
                }
            });
        }

        function updateStatus(data) {
            if (data) {
                subscriptionStatus = data
                $(".btn-subscribe").addClass("active")
            } else {
                subscriptionStatus = data
                $(".btn-subscribe").removeClass("active")
            }
        }

        function updateCount(data) {
            if (data) {
                subscriberCount++;
                $("#subscriberCount").text(subscriberCount);
            } else {
                subscriberCount--;
                $("#subscriberCount").text(subscriberCount);
            }
        }


        return {
            checkSubscription: checkSubscription,
            updateSubscription: updateSubscription,
            updateStatus: updateStatus,
            updateCount: updateCount
        }
    })()

    // 페이지 로드시 비동기 불러옴
    $(document).ready(function () {
        getCounts([[${content.artist.artistId}]]);
        updateTimeGaps();
    })

    $(".btn-subscribe").click(() => {
        subscriptionService.updateSubscription(subscriptionService.updateStatus, subscriptionService.updateCount);
    })

    bookmarkBtn.click(function () {
        if (session == null) {
            alert("먼저 로그인을 해주세요.");
            return;
        }
        let btn = $(this);
        let postId = $(this).data('post-id');
        let bookmarkStatus = btn.data('bookmark-status');
        console.log(bookmarkStatus);

        bookmarkService.updateBookmarkPost(btn, postId, bookmarkStatus, bookmarkService.updateStatus);
    });
</script>
<script src="/js/artist/blog-header.js"></script>
<script src="/js/artist/main.js"></script>
</html>