<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>원스텝 | 포스트 작성</title>
    <link href="/images/icon.svg" rel="icon">
    <link href="/css/main/root.css" rel="stylesheet">
    <link href="/css/artist/blog-header.css" rel="stylesheet">
    <link href="/css/artist/blog-modal.css" rel="stylesheet">
    <link href="/css/manage/announcement-write.css" rel="stylesheet">
    <link as="style" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
          onload="this.rel='stylesheet'" rel="stylesheet"
          type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/2364e2b536.js"></script>
</head>

<body class="h-full overflow-x-hidden">
<div class="__next">
    <div class="flex flex-col h-screen">
        <header th:replace="~{artist/blog-header::blog-header}"></header>

        <div class="surface_accent translate-x-0 animate-slideLeftToRight" style="width: 0; height: 3px;"></div>

        <form class="mt-[32px]" enctype="multipart/form-data" id="summit-form" method="post"
              th:action="@{/artist/post/write}"
              th:object="${artistPostRegisterDTO}">
            <div id="tagInputs"></div>
            <div class="grid grid-cols-15 gap-x-[16px] gap-y-0 w-desktop-grid mx-auto">
                <section class="col-span-10">
                    <div class="mb-[14px]">
                        <label class="relative overflow-hidden flex rounded-[8px] border-solid border-[1px] border_black_opacity surface_primary focus:border-[2px] focus:border_accent_active disabled:content_disabled">
                            <input class="px-[20px] w-full h-[48px] outline-none font_title_bold_md placeholder:font_body_regular_md content_primary placeholder:content_disabled disabled:surface_tertiary disabled:border_black_opacity"
                                   placeholder="제목을 입력해 주세요."
                                   th:field="*{title}"
                                   type="text" value>
                        </label>
                        <label class="relative overflow-hidden flex rounded-[8px] border-solid border-[1px] border_black_opacity surface_primary focus:border-[2px] focus:border_accent_active disabled:content_disabled">
                            <input class="px-[20px] w-full h-[48px] outline-none font_title_bold_md placeholder:font_body_regular_md content_primary placeholder:content_disabled disabled:surface_tertiary disabled:border_black_opacity"
                                   placeholder="부제목을 입력해 주세요."
                                   th:field="*{subtitle}"
                                   type="text" value>
                        </label>
                    </div>
                    <div class="mb-[14px]"></div>

                    <div class="mb-[48px]">
                        <div class="border border-[#e6e6e7] p-0">
                            <div class="tox tox-tinymce" role="application" style="visibility: hidden; height: 474px;">
                                <div class="tox-editor-container">
                                    <div class="tox-sidebar-wrap">
                                        <div class="tox-edit-area">
                                            <textarea class="placeholder:font_body_regular_md" cols="30"
                                                      placeholder="내용을 입력해주세요." rows="10"
                                                      th:field="*{content}"></textarea>

                                        </div>
                                    </div>
                                </div>

                                <button id="popover-on-btn" type="button">
                                    <span>작성하기</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="col-start-11 col-span-5 ml-[15px]">
                    <section class="border border_primary rounded-[12px] flex flex-col">
                        <div class="h-[54px] surface_secondary px-[16px] first:rounded-t-[12px] border-y first:border-t-0 border_primary flex items-center justify-between">
                            <strong class="font_label_bold_xl content_primary">
                                카테고리
                            </strong>
                        </div>
                        <div class="px-[20px]">
                            <label style="padding: 20px">
                                <input class="outline-none w-full font_body_regular_md placeholder:content_disabled cursor-pointer surface_primary content_primary"
                                       maxlength="6" placeholder="카테고리를 작성해주세요"
                                       th:field="*{category}"
                                       type="text"
                                       value="">
                            </label>
                        </div>
                        <div class="h-[54px] surface_secondary px-[16px] first:rounded-t-[12px] border-y first:border-t-0 border_primary flex items-center justify-between">
                            <strong class="font_label_bold_xl content_primary">
                                태그
                            </strong>
                        </div>
                        <div class="px-[20px]">
                            <div class="flex gap-x-[12px]">
                                <div class="w-full">
                                    <label class="tag-label surface_primary rounded-[8px] h-[48px] flex items-center cursor-pointer border border_black_opacity pl-[20px] pr-[16px] focus-within:border-2 focus-within:border_accent_active focus-within:pl-[19px] focus-within:pr-[15px]">
                                        <input class="outline-none w-full font_body_regular_md placeholder:content_disabled cursor-pointer surface_primary content_primary"
                                               id="tag-input" maxlength="10"
                                               placeholder="태그는 최대 5개 까지 작성가능합니다"
                                               type="text"
                                               value="">
                                    </label>
                                </div>
                            </div>
                            <div id="tag-wrap"></div>
                        </div>

                        <div class="position-relative h-[54px] surface_secondary px-[16px] first:rounded-t-[12px] border-y first:border-t-0 border_primary flex items-center justify-between">
                            <div class="flex items-center">
                                <strong class="font_label_bold_xl content_primary">
                                    이미지
                                </strong>
                            </div>
                            <label class="hobercolor relative flex justify-center items-center font_button_bold_md  h-[32px] rounded-[16px] content_secondary surface_primary border border-solid border_black_opacity hover:surface_tertiary hover:border_secondary active:surface_tertiary active:border_secondary disabled:surface_primary disabled:border_black_opacity disabled:border disabled:border-solid px-[15px]  false disabled:content_disabled"
                                   for="img-input"
                                   style="margin: 0 20px 0 0">
                                업로드
                            </label>
                            <div id="erase-imgs">
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </div>
                        <div id="img-container">
                            <input accept="image/jpg,image/png,image/jpeg,image/gif" id="img-input" multiple
                                   style="display: none"
                                   th:field="*{files}"
                                   type="file">
                        </div>
                        <div class="px-[20px]">
                            <div class="h-[88px] justify-center items-center" id="show-images">
                                <div id="image-wrap">
                                    <div class="image-item"></div>
                                </div>
                                <span class="content_disabled font_body_regular_md" id="no-image">
                                    첨부된 이미지가 없습니다.
                                </span>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </form>
        <div class="z-50 fixed -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 flex flex-col justify-center items-center min-w-[360px] p-[32px] border box-border rounded-[16px] border_primary surface_primary shadow-s"
             id="modal">
            <h4 class="font_headline_bold_sm mb-[12px] content_primary">게시글 등록</h4>
            <div class="font_body_regular_lg max-w-[300px] text-center content_secondary">
                게시글을 등록하시겠습니까?
            </div>
            <div class="flex items-center justify-between w-full mt-[24px]">
                <div class="flex-1">
                    <button class="relative flex justify-center items-center font_button_bold_md  h-[40px] rounded-[20px] content_secondary surface_tertiary hover:surface_primary_active active:surface_primary_active disabled:surface_disabled px-[16px] w-full false disabled:content_disabled"
                            id="modal-cancel"
                            type="button">
                        취소
                    </button>
                </div>
                <div class="ml-[16px] flex-1">
                    <button class="relative flex justify-center items-center font_button_bold_md  h-[40px] rounded-[20px] content_primary_inverse surface_primary_inverse hover:surface_primary_inverse_active active:surface_primary_inverse_active disabled:surface_disabled px-[16px] w-full false disabled:content_disabled"
                            id="summit-btn"
                            type="button">
                        확인
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script th:src="@{/js/artist/blog-header.js}"></script>
<script th:src="@{/js/artist/post/write.js}"></script>

</html>