*, ::after, ::before {
    box-sizing: border-box;
}

a{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: currentColor;
    text-decoration: none;
    outline: none;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

h1{
    font-size: 26px;
    margin: 0 auto 16px;
    font-weight: 600;
    line-height: 28px;
    color: #000;
    font-family: inherit;
}

h1+p{
    word-break: keep-all;
}

hr{
    margin: 24px auto;
    border-color: rgba(0,0,0,.05);
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

p {
    margin: 0 auto 24px;
    line-height: 1.4;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

/* ======================================================== body부분 ======================================================== */
.body{
    overflow-x: hidden;
    overflow-y: scroll;
    min-width: 320px;
    color: #000;
    background-color: #fff;
    font-family: "Pretendard","Apple SD Gothic Neo","Malgun Gothic",sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}


.main-content {
    transition: none;
    backface-visibility: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding-top: 0;
    z-index: 10;
}

.dialog{
    padding: 100px 26px;
    margin: 30px auto;
    max-width: 372px;
    width: 100%;
}

.dialog-content{
    min-height: 640px;
    font-size: 14px;
    color: #606060;
    background-color: #fff;
    text-align: left;
}


.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.fade {
    transition: opacity .15s linear;
}

.fade:not(.show) {
    opacity: 0;
}

.mb-4{
    margin-bottom: 1.5rem!important;
}

.form-group{
    margin: 0 auto 24px;
}

.from-label-sm{
    padding-bottom: 4px;
    font-size: 13px;
    padding-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 20px;
    word-break: keep-all;
}

.form-control{
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    display: block;
    width: 100%;
    border-color: #ccc;
    color: inherit;
    height: 40px;
    line-height: 26px;
    padding: 10px 12px;
    font-size: 16px;
    border-radius: 4px;
}

.py-1{
    padding-bottom: .25rem!important;
    padding-top: .25rem!important;
}

.m-0{
    margin: 0!important;
}

.custom-checkbox{
    margin-bottom: 0;
    min-height: 24px;
    padding-left: 24px;
    line-height: 24px;
    margin-right: 0!important;
}

.custom-control-input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-control-label{
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    word-break: keep-all;
    font-size: 14px;
    color: #444;
}

.custom-control-label::before{
    background-color: #d8d8d8;
    border-radius: .2em;
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    user-select: none;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #3478ff;
}

.custom-control-input:checked~.custom-control-label::after{
    width: 16px;
    height: 16px;
    top: -1px;
    left: -21px;
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    background: none;
}

.custom-control-label::after{
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.text-underlined{
    text-decoration: underline;
    display: inline-block!important;
}

.btn-wrapper{
    width: 100%;
    margin: 0 auto 24px;
}

.join-button{
    border: 1px solid transparent;
    width: 100%;
    line-height: 1.5rem;
    justify-content: center;
    color: #fff;
    background-color: #3478ff;
    border-color: #3478ff;
    font-weight: 600;
    font-size: 15px;
    border-radius: 4px;
    padding: 11px 20px;
}