*, ::after, ::before {
    box-sizing: border-box;
}

a{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: currentColor;
    text-decoration: none;
    outline: none;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

h1{
    font-size: 26px;
    margin: 0 auto 16px;
    font-weight: 600;
    line-height: 28px;
    color: #000;
    font-family: inherit;
}

h1+p{
    word-break: keep-all;
}

hr{
    margin: 24px auto;
    border-color: rgba(0,0,0,.05);
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

p {
    margin: 0 auto 24px;
    line-height: 1.4;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

/* ======================================================== body부분 ======================================================== */
.body{
    overflow-x: hidden;
    overflow-y: scroll;
    min-width: 320px;
    color: #000;
    background-color: #fff;
    font-family: "Pretendard","Apple SD Gothic Neo","Malgun Gothic",sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}


.main-content {
    transition: none;
    backface-visibility: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding-top: 0;
    z-index: 10;
}

.dialog{
    padding: 100px 26px;
    margin: 30px auto;
    max-width: 372px;
    width: 100%;
}

.dialog-content{
    min-height: 640px;
    font-size: 14px;
    color: #606060;
    background-color: #fff;
    text-align: left;
}


.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.fade {
    transition: opacity .15s linear;
}

.fade:not(.show) {
    opacity: 0;
}

.d-md-block{
    display: block!important;
}

.onestep-checkmark-squre {
    margin: 10px 0 22px 0;
}

.check-age-container{
    position: relative;
    display: block;
    min-height: 24px;
    padding-left: 24px;
    line-height: 24px;
}

.check-container-input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-control-label {
    font-size: 15px;
    vertical-align: top;
    word-break: keep-all;
    color: #000;
    position: relative;
    margin-bottom: 0;
}

.age-check-desc{
    font-family: Roboto,sans-serif;
    color: #606060;
    font-size: 14px;
    font-weight: 400;
}

.custom-control-label::before{
    width: 16px;
    height: 16px;
    top: 3px;
    background-color: #D8D8D8;
    border: transparent;
    border-radius: 4px;
    transition: none;
    cursor: pointer;
    position: absolute;
    left: -1.5rem;
    display: block;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-control-label::after{
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.check-container-input:checked~.custom-control-label::before {
    background-color: #3478ff;
}

.check-container-input:checked~.custom-control-label::after{
    width: 16px;
    height: 16px;
    top: -1px;
    left: -21px;
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    background: none;
}

.align-item-center{
    width: 100%;
    margin: 0;
    color: #000;
    align-items: center!important;
    flex-direction: column!important;
    display: flex!important;
    width: 100%;
    margin: 0 auto 24px;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

.btn-secondary{
    user-select: none;
    border: 1px solid transparent;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.5rem;
    background: none;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    display: flex;
    width: 100%;
    text-align: left;
    background-color: #fff;
    border-color: #ccc;
    font-size: 15px;
    border-radius: 4px;
    padding: 11px 20px;
    font-weight: 600;
    margin-top: 12px;
}

.icon-wrapper{
    margin-right: 1rem!important;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 24px;
    height: 24px;
}

[class*="brand-icon-"] {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.brand-icon-kakao{
    background-image: url(https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/5f9c58c2017800001.png);
}

.media-body{
    flex: 1;
}

.brand-icon-email{
    background-image: url(https://cdn-icons-png.flaticon.com/512/5996/5996410.png)
}

.already{
    display: block!important;
    margin-bottom: 0!important;
}

.mr-1{
    margin-right: .25rem!important;
}

a.text-dark{
    color: #000!important;
    text-decoration: underline;
}

.text-muted{
    font-size: 13px;
    color: #909090!important;
}